<div class="page-banner-area photo-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">DEFENSORIA DE LA NIÑEZ Y ADOLESCENCIA</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">Defensoria de la Niñez y Adolescencia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3 shadow p-3 rounded">
                    <div class="card-header rounded">
                        <div class="title my-1  text-center">Defensoria de la Niñez y Adolescencia</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>OBJETIVO DE LA DEFENSORIA DE LA NIÑEZ Y ADOLESCENCIA </h3>
                                <p class="text">La Defensoría de la Niñez y Adolescencia  es la instancia técnica profesional que integra operativamente los servicios municipales de Defensa y Protección de los derechos de las niñas, niños y adolescentes del municipio de Nuestra Señora de La Paz frente a toda forma de violencia hacia Niñas, Niños y Adolescentes y vulneración de sus derechos.</p>
                                <h3>MISIÓN</h3>
                                <p class="text">Generar una cultura de respeto de los derechos de los niños y los adolescentes, su protección y su defensa a través de la asistencia legal, psicológica y social que garantice el desarrollo integral de los niños, niñas y adolescentes, como sujetos de derechos que garantice el ejercicio y respeto pleno de los derechos de los niños, niñas y adolescentes que viven en la jurisdicción de Municipio de Betanzos. </p>
                                <h3>SERVICIOS</h3>
                                <p class="text">Se atienden las siguientes tipologías:</p>
                                <ul>
                                    <li>•	Restricción a la educación</li>
                                    <li>•	Violencia en el sistema educativo</li>
                                    <li>•	Violencia entre no pares</li>
                                    <li>•	Violencia entre pares (bullying)</li>
                                    <li>•	Violencia familiar o doméstica</li>
                                    <li>•	Abandono a NNA</li>
                                    <li>•	Asistencia familiar</li>
                                    <li>•	Conflicto de guarda</li>
                                    <li>•	Extravío</li>
                                    <li>•	Imposibilidad de deberes por causa ajena</li>
                                    <li>•	Autorización del trabajo por cuenta ajena/ por cuenta propia</li>
                                    <li>•	Explotación laboral</li>
                                    <li>•	Restricción a la salud</li>
                                    <li>•	Adolescente en conflicto con la ley penal</li>
                                    <li>•	Infracción por violencia física</li>
                                    <li>•	Infracción por violencia psicológica</li>
                                    <li>•	Violencia física</li>
                                    <li>•	Violencia psicológica</li>
                                    <li>•	Utilización de NNA en conflictos familiares y otros</li>
                                    <li>•	Utilización de NNA en medidas de hecho</li>
                                    <li>•	Ausencia de reconocimiento filiación</li>
                                    <li>•	Inexistencia de filiación</li>
                                    <li>•	Difamación</li>
                                    <li>•	Injuria</li>
                                    <li>•	Abandono de familia</li>
                                    <li>•	Abandono de mujer embarazada</li>
                                    <li>•	Incumplimiento de deberes de asistencia</li>
                                    <li>•	Inducción a fuga de NNA</li>
                                    <li>•	Substracción de NNA</li>
                                    <li>•	Asesinato</li>
                                    <li>•	Contagio venéreo</li>
                                    <li>•	Homicidio</li>
                                    <li>•	Infanticidio</li>
                                    <li>•	Lesiones graves y leves</li>
                                    <li>•	Lesiones gravísimas</li>
                                    <li>•	Abuso sexual</li>
                                    <li>•	Corrupción de menores / corrupción de NNA</li>
                                    <li>•	Estupro</li>
                                    <li>•	Proxenetismo y</li>
                                    <li>violencia sexual comercial</li>
                                    <li>•	Rapto</li>
                                    <li>•	Violación</li>
                                    <li>•	Violación de infante, niña, niño o adolescente</li>
                                    <li>•	Amenazas</li>
                                    <li>•	Coacción</li>
                                    <li>•	Secuestro</li>
                                    <li>•	Engaño a personas incapaces</li>
                                    <li>•	Extorción</li>
                                    <li>•	Pornografía y espectáculo obscenos / Pornografía / Pornografía de NNA</li>
                                    <li>•	Tráfico de NNA</li>
                                    <li>•	Abandono de hogar</li>
                                    <li>•	Abandono escolar</li>
                                    <li>•	Conducta agresiva</li>
                                    <li>•	Consumo de alcohol y otras drogas</li>
                                    <li>•	Intento de suicidio</li>
                                    <li>•	Orientación y/o apoyo integral</li>
                                    <li>•	Participación en pandillas</li>
                                    <li>•	Guarda (tramitación)</li>
                                    <li>•	Trata de NNA</li>
                                    <li>•	Tutela (tramitación)</li>
                                    </ul>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/servicios/defensoria/derecho.jpg" width="400px" alt="" class="img-fluid">
                                <img src="assets/img/servicios/defensoria/ley548.png" width="400px" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>