.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Ajusta esta altura según tus necesidades   
   */
}

.eye{
    background-color: rgb(42, 224, 42);
}