<div class="page-banner-area photo-4 mb-2">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">CONCEJO MUNICIPAL</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">Concejo Municipal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <i class="fas fa-arrow-left atras" (click)="goBack()"> Atras</i>
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3 shadow p-3 rounded">
                    <div class="card-header rounded">
                        <div class="title my-1  text-center">Nuestros Concejales</div>
                    </div>
                    <div class="card-body">
                        <img src="/assets/img/concejo/1.JPG" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                        <p class="card-text text-concejo text-center mx-3">Sr. Isidro Saci Sacaca</p>
                        <p class="card-text text text-center mx-3">PRESIDENTE CONCEJO MUNICIPAL DE BETANZOS</p>
                        <p class="text text-center"><b>Sigla Política:</b> MAS - IPSP</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card my-3 shadow p-3 rounded">
                            <div class="card-body">
                                <img src="/assets/img/concejo/3.JPG" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                                <p class="card-text text-concejo text-center mx-3">Sra. Amalia Vedia Sánchez</p>
                                <p class="card-text text text-center mx-3">VICEPRESIDENTE CONCEJO MUNICIPAL DE BETANZOS</p>
                                <p class="text text-center"><b>Sigla Política:</b> MAS - IPSP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-3 shadow p-3 rounded">
                            <div class="card-body">
                                <img src="/assets/img/concejo/6.JPG" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                                <p class="card-text text-concejo text-center mx-3">Sra. Martha Serrano Ayllon</p>
                                <p class="card-text text text-center mx-3">SECRETARIA CONCEJO MUNICIPAL DE BETANZOS</p>
                                <p class="text text-center"><b>Sigla Política:</b> MAS - IPSP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-3 shadow p-3 rounded">
                            <div class="card-body">
                                <img src="/assets/img/concejo/2.jpg" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                                <p class="card-text text-concejo text-center mx-3">Ing. Hilarión Mamanillo Mamani</p>
                                <p class="card-text text text-center mx-3">CONCEJAL MUNICIPAL DE BETANZOS</p>
                                <p class="text text-center"><b>Sigla Política:</b> MAS - IPSP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card my-3 shadow p-3 rounded">
                            <div class="card-body">
                                <img src="/assets/img/concejo/5.JPG" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                                <p class="card-text text-concejo text-center mx-3">Sra. Elizabeth Condori Janko</p>
                                <p class="card-text text text-center mx-3">CONCEJAL MUNICIPAL DE BETANZOS</p>
                                <p class="text text-center"><b>Sigla Política:</b> AS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-3 shadow p-3 rounded">
                            <div class="card-body">
                                <img src="/assets/img/concejo/4.JPG" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                                <p class="card-text text-concejo text-center mx-3">Sr. Wilder Álvarez Castro</p>
                                <p class="card-text text text-center mx-3">CONCEJAL MUNICIPAL DE BETANZOS</p>
                                <p class="text text-center"><b>Sigla Política:</b> MAS - IPSP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-3 shadow p-3 rounded">
                            <div class="card-body">
                                <img src="/assets/img/concejo/7.JPG" width="250px" class="border border-success rounded-circle mx-auto d-block" alt="...">
                                <p class="card-text text-concejo text-center mx-3">Sr. Desiderio Llanos Cordero</p>
                                <p class="card-text text text-center mx-3">CONCEJAL MUNICIPAL DE BETANZOS</p>
                                <p class="text text-center"><b>Sigla Política:</b> MOP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
