<div class="container">
  <div class="m-3">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Nueva salida de Almacén</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <form [formGroup]="salidaForm">

                  <div class="mb-1">
                    <label for="idPersona" class="form-label col-auto">Funcionario Solicitante *</label>
                    <!-- Para Mandar id // optionValueField="_id" -->
                    <ngx-select [allowClear]="true" [items]="funcionarios" optionTextField="username"
                      optionValueField="_id" placeholder="Seleccione un Funcionario" formControlName="idPersona"
                      (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;{{option.data.surnames}}
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form['idPersona'].touched && form['idPersona'].invalid">
                      <div *ngIf="
                          form['idPersona'].errors &&
                          form['idPersona'].errors['required']
                        ">
                        * El proveedor es Requerido.
                      </div>
                    </div>
                  </div>


                  <div class="mb-1">
                    <label for="fecha" class="form-label">Fecha de Registro</label>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha">
                    <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
                      <div *ngIf="form['fecha'].errors && form['fecha'].errors['required']">* fecha
                        es Requerido.</div>
                    </div>
                  </div>


                  <div class="mb-1">
                    <label for="concepto" class="form-label col-md-auto">Glosa *</label>
                    <input id="concepto" class="form-control" type="text" formControlName="concepto" />
                    <div class="form-text" *ngIf="form['concepto'].touched && form['concepto'].invalid">
                      <div *ngIf="
                          form['concepto'].errors &&
                          form['concepto'].errors['required']
                        ">
                        * El concepto es Requerido.
                      </div>
                      <div *ngIf="
                          form['concepto'].errors &&
                          form['concepto'].errors['minlength']
                        ">
                        * El concepto no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>
                </form>

                <form [formGroup]="demoForm">
                  <div class="mb-1">
                    <label for="article" class="form-label col-auto">Artículo *</label>
                    <ngx-select [allowClear]="true" [items]="articles" optionTextField="codigo" optionValueField="_id"
                      placeholder="Seleccione un Artículo" formControlName="article" (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;({{option.data.nombre}})
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form2['article'].touched && form2['article'].invalid">
                      <div *ngIf="
                          form2['article'].errors &&
                          form2['article'].errors['required']
                        ">
                        * El articulo es Requerido.
                      </div>
                    </div>
                  </div>

                  <div class="mb-1" *ngIf="compras">
                    <label for="entrada" class="form-label col-auto">Cantidad Disponible</label>
                    <ngx-select [allowClear]="true" [items]="compras" optionTextField="stockCompra" optionValueField="_id"
                      placeholder="Seleccione un Artículo" formControlName="entrada" (select)="doSelect2($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;(Entrada # {{option.data.idEntrada.numeroEntrada}})
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form2['entrada'].touched && form2['entrada'].invalid">
                      <div *ngIf="
                          form2['entrada'].errors &&
                          form2['entrada'].errors['required']
                        ">
                        * Escoja una cantidad.
                      </div>
                    </div>
                  </div>

                  <div class="mb-1">
                    <label for="cantidadSalida" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="cantidadSalida" formControlName="cantidadSalida" (keyup)="calcularStock()">
                    <div class="form-text" *ngIf="form2['cantidadSalida'].touched && form2['cantidadSalida'].invalid">
                      <div *ngIf="form2['cantidadSalida'].errors && form2['cantidadSalida'].errors['required']">*
                        Cantidad
                        es Requerida.</div>
                    </div>
                  </div>
                </form>

                <div class="text-center">
                  <button (click)="addSalida(compraSingle)" class="btn btn-primary"
                    [disabled]="demoForm.invalid">
                    Agregar
                  </button>
                </div>

                {{ salidaForm.value | json }}
                <br>
                {{ demoForm.value | json }}
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <div class="panel panel-default">
                  <!-- <input class="form-control" list="articulos" type="search" placeholder="Buscar Articulo"
                    (keyup)="buscar(txtTermino.value)" (blur)="txtTermino.value = ''" #txtTermino />

                  <datalist id="articulos" *ngIf="articulos">
                    <option style="color:blue" *ngFor="let articulo of articulos.serverResponse"
                      value="{{articulo.nombre}}">
                  </datalist>

                  <button class="btn btn-info btn-sm my-3" (click)="addArticulo(article)" type="button">Añadir</button> -->

                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Código</th>
                          <th>Cat. Prog.</th>
                          <th>Partida de gasto</th>
                          <th>Artículo</th>
                          <th>Cantidad</th>
                          <th>Unidad de Medida</th>
                          <th>P/U</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listadeArticulos; index as i">
                          <td style="cursor: not-allowed;">
                            {{i + 1}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'codigo'">
                            {{item.codigo}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'catProg'">
                            {{item.catProgra}}
                          </td>
                          <td field="partidaGasto">
                            {{item.partidaGasto}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'articulo'">
                            {{item.articulo}}
                          </td>
                          <!-- <td contenteditable="true" (click)="borrar($event)" (blur)="cambio($event, i, 'cantidad')"
                            [attr.row]="i" [attr.field]="'cantidad'">
                            {{item.cantidad}}
                          </td> -->
                          <td field="cantidadSalida">
                            {{item.cantidadSalida}}
                          </td>
                          <td field="unidadDeMedida">

                            {{item.unidadMedida}}
                          </td>
                          <td field="precio">
                            {{item.precio}}
                          </td>
                          <!-- <td contenteditable="true" (click)="borrar($event)" (blur)="cambio($event, i, 'precio')"
                            [attr.row]="i" [attr.field]="'precio'">
                            {{item.precio}}
                          </td> -->
                          <td>{{item.cantidadSalida * item.precio}}</td>
                          <td>
                            <span><i class="fas fa-trash pointer" (click)="removeArticulo(i)"></i></span>
                          </td>
                        </tr>

                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="9" class="text-end fs-5"> <b>TOTAL GENERAL: </b></td>
                          <td class="fs-5"><b>{{ calculateTotalCost() }}</b></td>
                        </tr>
                      </tfoot>
                    </table>
                    <div class="btn-group">
                      {{ listadeArticulos | json }}

                    </div>
                    <br>
                    <div class="text-center">
                      <button type="button" class="btn btn-secondary mx-3" (click)="cancel()">
                        Cerrar
                      </button>
                      <button (click)="registrarSalida(salidaForm.value)" class="btn btn-primary"
                        [disabled]="salidaForm.invalid">
                        Registrar
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="proveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="proveedorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="proveedorLabel">
          Registrar Proveedor
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="crearProveedor(proveedorForm.value)" [formGroup]="proveedorForm">
          <div class="mb-1">
            <label for="representante" class="form-label col-md-auto">Representante *</label>
            <input id="representante" class="form-control" type="text" formControlName="representante" />
          </div>

          <div class="mb-1">
            <label for="compania" class="form-label col-md-auto">Compañia</label>
            <input id="compania" class="form-control" type="text" formControlName="compania" />
          </div>

          <div class="mb-1">
            <label for="razon_social" class="form-label col-md-auto">Razon Social *</label>
            <input id="razon_social" class="form-control" type="text" formControlName="razon_social" />
          </div>

          <div class="mb-1">
            <label for="nit" class="form-label col-md-auto">Nit *</label>
            <input id="nit" class="form-control" type="number" formControlName="nit" />
          </div>

          <div class="mb-1">
            <label for="telefono" class="form-label col-md-auto">Telefono *</label>
            <input id="telefono" class="form-control" type="number" formControlName="telefono" />
          </div>

          <div class="mb-1">
            <label for="direccion" class="form-label col-md-auto">Direccion</label>
            <input id="direccion" class="form-control" type="text" formControlName="direccion" />
          </div>

          <div class="mb-1">
            <label for="ciudad" class="form-label col-md-auto">Ciudad</label>
            <input id="ciudad" class="form-control" type="text" formControlName="ciudad" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="proveedorForm.invalid">
              Registrar
            </button>
          </div>
          {{ proveedorForm.value | json }}
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- End Modal -->
