<div class="row">
  <div class="col-md-12">
    <div class="body text-center">
      <main class="">

        <h1>Bienvenido: {{ data.username }} {{ data.surnames }}</h1>
        <p class="lead">Desde aquí pódras acceder a los distintos sistemas del Gobierno Autónomo Municipal de
          Betanzos</p>
        <div>
          <a routerLink="/"><i class="fas fa-home fa-1x mr-2 mt-2 app" style="color: #000 !important"
              title="Inicio"> Inicio</i></a>
        </div>
        <div class="contenedor">
          <div class="contenedor-cards">


            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_USER' || data.roles === 'SECRETARIA' || data.roles === 'SUPER_ADMIN' || data.roles === 'ADMIN' )">
                <a routerLink="/ruta">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/ruta.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'RESP. DE COMUNICACIÓN Y DISEÑO GRAFICO' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA' )">
                <a routerLink="/blog">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/noticias.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card" *ngIf="(data && data.roles === 'SUPER_ADMIN')">
                <a routerLink="/auth">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/usuarios.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA')">
                <a routerLink="/convenio">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/convenios.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'ARCHIVOS' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA' || data.post === 'DIRECCIÓN DE PLANIFICACIÓN')">
                <a routerLink="/docAdmin">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/documentos.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA' || data.post === 'ALMACENES' || data.post === 'ASISTENTE DE ALMACENES Y ACTIVOS FIJOS' || data.post === 'RESP. SICOFS Y AUX. DE ACTIVOS FIJOS')">
                <a routerLink="/almacen">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/almacenes.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'ARCHIVOS' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA' || data.post === 'DIRECCIÓN DE PLANIFICACIÓN')">
                <a routerLink="/archivos/carpetas/index">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/archivos.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'ASISTENTE CONTABLE' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA' || data.post === 'PRESUPUESTOS TESORERIA Y CREDITO PÚBLICO')">
                <a href="https://bonodiscapacidad.gambetanzos.gob.bo/">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/bono.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

            <div class="contenedor-card-item">
              <div class="card"
                *ngIf="(data && data.roles === 'SUPER_ADMIN' || data.post === 'STRIA. MUNICIPAL ADMINISTRACION FINANCIERA' || data.post === 'ACTIVOS FIJOS' || data.post === 'RESP. SICOFS Y AUX. DE ACTIVOS FIJOS')">
                <a routerLink="/actFijos">
                  <div class="imgbox">
                    <div>
                      <img class="img-fluid" src="assets/img/private/activos.jpg" loading="lazy" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <span class="caption">INGRESAR</span>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
        <div>

        </div>
      </main>
    </div>
  </div><!-- /.col -->

</div><!-- /.row -->
