<div class="container">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Carpetas</h1>
        </div><!-- /.col -->
        <div class="col-sm-6 text-end">
          <button type="button" class="btn btn-primary btn-sm" (click)="addCarpeta()">
            Nueva Carpeta
          </button>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>0</h3>

          <p>Contabilidad</p>
        </div>
        <div class="icon">
          <i class="fas fa-folder"></i>
        </div>
        <div class="d-flex justify-content-between tira">
          <a routerLink="/archivos/conta/index" class="boton1">Ver Carpetas <i class="fas fa-arrow-circle-right"></i></a>

          <a routerLink="/archivos/conta/docs/index" class="boton2">Ver Archivos <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-3 col-6">

      <div class="small-box bg-success">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="fas fa-folder"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">

      <div class="small-box bg-warning">
        <div class="inner">
          <h3>44</h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-folder"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-6">

      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="fas fa-folder"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div> -->

  </div>
</div>
