.off-p{
  padding: 0rem 0.1rem 0rem;
  font-size: 0.9rem;
}

.off-m{
  margin: 0rem
}
.off-hr{
  margin: 0.2rem;
}

.mt-10{
  margin-top: 140px;
}

.table-bordered th, .table-bordered td{
  border: 1px solid #03529b !important;
}

.backColor{
  background-color: rgb(179, 231, 205) !important;
}

.izq{
  width: auto;
}
