.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Ajusta esta altura según tus necesidades   
   */
}

.example-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}



.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
    background-color: #67d46a;
}