.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Ajusta esta altura según tus necesidades   
   */
}

.example-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.danger {
    color: red;
}

.warning {
    color: orange;
}

.info {
    color: rgb(154, 45, 255);
}

.success {
    color: green;
}
