<div class="container">
    <div class="row p-3 justify-content-md-center">
        <div class="col-md-8">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header">
                    <h3 class="card-title">Editar convenio: {{ datosConvenio.nombre }}</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <form (ngSubmit)="editarConvenio(editarForm.value)" [formGroup]="editarForm">
                                <div class="mb-1">
                                    <label for="codigo" class="form-label">Convenio # *</label>
                                    <input type="text" class="form-control" id="codigo" formControlName="codigo">
                                    <div class="form-text" *ngIf="form['codigo'].touched && form['codigo'].invalid">
                                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['required']">* Código
                                            es Requerido.</div>
                                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['minlength']">Código
                                            no puede tener menos de 3 caracteres.</div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="nombre" class="form-label">Nombre del convenio *</label>
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                                    <div class="form-text" *ngIf="form['nombre'].touched && form['nombre'].invalid">
                                        <div *ngIf="form['nombre'].errors && form['nombre'].errors['required']">* El
                                            nombre del convenio
                                            es requerido.</div>
                                        <div *ngIf="form['nombre'].errors && form['nombre'].errors['minlength']">*
                                            Objeto no puede tener menos de 3 caracteres.</div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="objeto" class="form-label">Objeto del convenio</label>
                                    <input type="text" class="form-control" id="objeto" formControlName="objeto">
                                </div>
                                <!-- ARRAY PARA UN INPUT
                                    <div formArrayName="entidades">
                                    <button class="btn btn-danger" type="button" (click)="addEntidad()">Agregar</button>
                                    <ng-container *ngFor="let entidad of entidades.controls; let i = index;">
                                        <div class="mb-1">
                                            <label for="entidad" class="form-label">Entidad *</label>
                                            <input type="text" class="form-control" id="entidad" [formControlName]="i">
                                            <div class="form-text" *ngIf="entidad.touched && entidad.invalid">
                                                <div *ngIf="entidad.errors && entidad.errors['required']">* entidad es Requerido.</div>
                                                <div *ngIf="entidad.errors && entidad.errors['minlength']">* entidad no puede tener menos de 3 caracteres.</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div> -->

                                <!-- ARRAY PARA UN select
                                <div formArrayName="entidades">
                                    <button class="btn btn-danger" type="button" (click)="addEntidad()">Agregar</button>
                                    <ng-container *ngFor="let entidad of entidades.controls; let i = index;">
                                        <div class="mb-1">
                                            <label for="entidad" class="form-label">Entidad *</label>
                                            <select class="form-control" [formControlName]="i">
                                                <option value="{{ enti.id }}" *ngFor="let enti of entidades2">{{ enti.text }}</option>
                                            </select>
                                            <div class="form-text" *ngIf="entidad.touched && entidad.invalid">
                                                <div *ngIf="entidad.errors && entidad.errors['required']">* entidad es Requerido.</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div> -->

                                <!-- <button class="btn btn-primary btn-sm" type="button" (click)="addEntidad()"><i
                                        class="fas fa-plus-circle"></i> Editar entidad</button>

                                <div formArrayName="entidades"
                                    *ngFor="let entidad of entidades.controls; let i = index;" class="m-2">
                                    <div [formGroupName]="i">
                                        <div class="row">

                                            <label for="entidad" class="form-label col-auto">Entidad *</label>
                                            <div class="col-md-4">
                                                <select class="form-select" formControlName="entidad">
                                                    <option value="{{ enti.entidad }}" *ngFor="let enti of entidades2">
                                                        {{
                                                        enti.entidad }}</option>
                                                </select>
                                                <div class="form-text" *ngIf="entidad.touched && entidad.invalid">
                                                    <div *ngIf="entidad.errors && entidad.errors['required']">* entidad
                                                        es Requerido.</div>
                                                </div>
                                            </div>
                                            <label for="monto" class="form-label col-md-auto">Monto *</label>
                                            <div class="col-md-3">
                                                <input type="number" class="form-control" id="monto"
                                                    formControlName="monto">
                                                <div class="form-text"
                                                    *ngIf="form['objeto'].touched && form['objeto'].invalid">
                                                    <div
                                                        *ngIf="form['objeto'].errors && form['objeto'].errors['required']">
                                                        * Objeto
                                                        es Requerido.</div>
                                                    <div
                                                        *ngIf="form['objeto'].errors && form['objeto'].errors['minlength']">
                                                        *
                                                        Objeto no puede tener menos de 3 caracteres.</div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-danger btn-sm" (click)="removeEntidad(i)"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="mb-1">
                                    <label for="firma" class="form-label">Fecha de Firma *</label>
                                    <input type="date" class="form-control" id="firma" formControlName="firma">
                                    <div class="form-text" *ngIf="form['firma'].touched && form['firma'].invalid">
                                        <div *ngIf="form['firma'].errors && form['firma'].errors['required']">* firma
                                            es Requerido.</div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="plazo" class="form-label">Plazo (días) *</label>
                                    <input type="number" class="form-control" id="plazo" formControlName="plazo">
                                </div>
                                <div class="mt-3 d-flex justify-content-around">
                                    <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
                                    <button [disabled]="editarForm.invalid" type="submit"
                                        class="btn btn-primary">Registrar</button>
                                </div>
                            </form>

                            <div class="alert alert-info mt-2" role="alert">
                                <p *ngFor="let enti of datosConvenio.financiadoras">
                                    <b> Entidad {{ enti.tipo }}:</b> {{ enti.entidad.denominacion }} <b>Monto:</b> {{
                                    enti.monto }}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-sm ml-3" (click)="editMonto(enti._id, enti.monto)" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <br>
                                </p>
                            </div>



                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form (ngSubmit)="editFinan(editarFinan.value)" [formGroup]="editarFinan">
                                                <div class="mb-1">
                                                    <label for="monto" class="form-label">Monto:</label>
                                                    <input type="text" class="form-control" id="monto" formControlName="monto">
                                                </div>
                                                <!-- {{ editarFinan.value | json }} -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>