<div>
  <div class="card-header">
    <h1 class="text-center" style="color: #003d75">Reporte de Gastos</h1>
  </div>
  <div class="card-body">
    <p class="text-center">
      Aquí puede generar un reporte de los gastos realizados en el sistema.
    </p>
  </div>
  <div class="card-body m-2">
    <form [formGroup]="searchForm">
      <div class="row form-smaller">
        <!-- <div class="col-auto">
                    <span class="" ><b>Categoría Programática</b></span>
                    <div class="input-group input-group-sm  ">
                      <ngx-select [allowClear]="true" [items]="catProgras" optionTextField="codigo"
                        optionValueField="cat_programatica" placeholder="Seleccione una Categoría Programatica"
                        formControlName="catProgra">
                        <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                          <span [innerHtml]="text"></span>
                          &nbsp;({{option.data.proyect_acti}})
                        </ng-template>
                        <div class="form-text " *ngIf="form['catProgra'].touched && form['catProgra'].invalid">
                          <div *ngIf="form['catProgra'].errors && form['catProgra'].errors['required']">
                            * La categoria programatica es Requerida.
                          </div>
                        </div>
                      </ngx-select>
                    </div>
                  </div> -->

        <div class="col-md-2">
          <span class=""><b>Tipo de Gasto</b></span>
          <div class="input-group input-group-sm">
            <ngx-select
              [allowClear]="true"
              [items]="gastoFondos"
              optionTextField="denominacion"
              optionValueField="denominacion"
              placeholder="Seleccione tipo de gasto"
              formControlName="tipoGasto"
            
            >
              <ng-template
                ngx-select-option
                ngx-select-option-selected
                let-option
                let-text="text"
              >
                <span [innerHtml]="text"></span>
              </ng-template>
            </ngx-select>
          </div>
        </div>

        <div class="col-md-2">
          <span class=""><b>Tipo de Fondo</b></span>
          <div class="input-group input-group-sm">
            <ngx-select
              [allowClear]="true"
              [items]="tipoFondos"
              optionTextField="denominacion"
              optionValueField="_id"
              placeholder="Seleccione Tipo De Fondo"
              formControlName="tipoFondo"
                (select)="doSelect($event)"
            >
              <ng-template
                ngx-select-option
                ngx-select-option-selected
                let-option
                let-text="text"
              >
                <span [innerHtml]="text"></span>
              </ng-template>
            </ngx-select>
          </div>
        </div>

        <div class="col-md-2" *ngIf="desembolsos.length > 0">
          <span class=""><b>Número Descargo</b></span>
          <div class="input-group input-group-sm">
            <ngx-select
              [allowClear]="true"
              [items]="desembolsos"
              optionTextField="numDescargo"
              optionValueField="_id"
              placeholder="Seleccione N° Descargo"
              formControlName="numDescargo"
                (select)="doSelect1($event)"
            >
              <ng-template
                ngx-select-option
                ngx-select-option-selected
                let-option
                let-text="text"
              >
                <span [innerHtml]="text"></span>
              </ng-template>
            </ngx-select>
          </div>
        </div>

        <div class="col-md-2">
          <span class=""><b>FF-OF</b></span>
          <div class="input-group input-group-sm">
            <ngx-select
              [allowClear]="true"
              [items]="fuentes"
              optionTextField="ffof"
              optionValueField="ffof"
              placeholder="Seleccione FF-OF"
              formControlName="fuente"
            >
              <ng-template
                ngx-select-option
                ngx-select-option-selected
                let-option
                let-text="text"
              >
                <span [innerHtml]="text"></span>
                &nbsp;{{ option.data.denominacion }}
              </ng-template>
            </ngx-select>
          </div>
        </div>

        <div class="col-md-2">
          <span class=""><b> Estado</b></span>
          <div class="input-group input-group-sm" style="width: 200px">
            <select formControlName="estado" class="form-select">
              <option value="" [defaultSelected]="true">
                Seleccione un Estado
              </option>
              <option value="PENDIENTE">PENDIENTE</option>
              <option value="EJECUTADO">EJECUTADO</option>
              <option value="FINALIZADO">FINALIZADO</option>
              <option value="CONSOLIDADO">CONSOLIDADO</option>
            </select>
          </div>
        </div>

        <div class="col-auto">
          <span class="" id="deFecha"><b>Fecha Inicio</b></span>
          <div class="input-group input-group-sm">
            <input
              style="width: 100px"
              class="form-control"
              type="date"
              formControlName="deFecha"
            />
          </div>
        </div>

        <div class="col-auto">
          <span class="" id="alFecha"><b>Fecha Fin</b></span>
          <div class="input-group input-group-sm">
            <input
              style="width: 100px"
              class="form-control"
              type="date"
              formControlName="alFecha"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="text-center p-0">
        <button
          (click)="cargarGastos(searchForm.value)"
          class="btn btn-primary m-1"
          [disabled]="searchForm.invalid"
          style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem"
        >
          Buscar
        </button>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="card-header">
        <div class="card-body table-responsive p-0 lh-1">
          <ol class="list-group list-group-numbered">
            <li
            [ngClass]="{ 'disabled': !idDescargo }"
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Comprobante del Desmbolso </div>
                Debe seleccionar Tipo de Fondo y Número de Desembolso
              </div>
              <div  class="ms-2">
                <div class="fw-bold text-center">
                    <a                
                      class="fas fa-file-pdf ml-2 icono iconoRed"
                       (click)="print(idDescargo)"                    
                    ></a>
                </div>
                <span class="">Descargar</span>
              </div>

            </li>
             <li
            [ngClass]="{ 'disabled': !idDescargo }"
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Reporte detallado del Desmbolso </div>
                Debe seleccionar Tipo de Fondo y Número de Desembolso
              </div>
              <div  class="ms-2">
                <div class="fw-bold text-center">
                    <a                
                      class="fas fa-file-pdf ml-2 icono iconoRed"
                       (click)="printGasto(idDescargo)"                    
                    ></a>
                </div>
                <span class="">Descargar</span>
              </div>

            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Cras justo odio
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Cras justo odio
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
