<!-- HEADER-AREA START -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="'/'">
                <img src="../../../../../assets/img/logo.png" alt="" width="35" height="" class="d-inline-block">
                <i class="title ml-1">Gobierno Autónomo Municipal de Betanzos</i>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="''">Inicio</a>
              </li>

              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Institución
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Historia</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="mision">Misión - Visión</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" routerLink="objetivo">Objetivos Institucionales</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Biografía del Alcalde</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Concejo Municipal</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Transparencia
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Organigrama</a></li>
                  <li><a class="dropdown-item" href="#">Escala Salarial</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Gaceta</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
              <li class="nav-item" *ngIf="data && data.email">
                <a class="nav-link" routerLink="private">Oficina Virtual</a>
              </li>
              <li class="nav-item" *ngIf="!data ">
                <a class="nav-link" routerLink="login">Oficina Virtual</a>
              </li>
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</header>
<!-- HEADER-AREA END -->