<div class="container">
    <div class="row p-3 justify-content-md-center">
        <div class="col-md-8 ">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header">
                    <h3 class="card-title">Crear Nuevo Convenio</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <form (ngSubmit)="crearConvenio(convenioForm.value)" [formGroup]="convenioForm">
                                <div class="mb-1">
                                    <label for="codigo" class="form-label">Convenio # *</label>
                                    <input type="text" class="form-control" id="codigo" formControlName="codigo">
                                    <div class="form-text" *ngIf="form['codigo'].touched && form['codigo'].invalid">
                                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['required']">* Código
                                            es Requerido.</div>
                                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['minlength']">Código
                                            no puede tener menos de 3 caracteres.</div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="nombre" class="form-label">Nombre del convenio *</label>
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                                    <div class="form-text" *ngIf="form['nombre'].touched && form['nombre'].invalid">
                                        <div *ngIf="form['nombre'].errors && form['nombre'].errors['required']">* El
                                            nombre del convenio
                                            es requerido.</div>
                                        <div *ngIf="form['nombre'].errors && form['nombre'].errors['minlength']">*
                                            Objeto no puede tener menos de 3 caracteres.</div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="objeto" class="form-label">Objeto del convenio</label>
                                    <input type="text" class="form-control" id="objeto" formControlName="objeto">
                                </div>
                                <!-- ARRAY PARA UN INPUT
                                    <div formArrayName="entidades">
                                    <button class="btn btn-danger" type="button" (click)="addEntidad()">Agregar</button>
                                    <ng-container *ngFor="let entidad of entidades.controls; let i = index;">
                                        <div class="mb-1">
                                            <label for="entidad" class="form-label">Entidad *</label>
                                            <input type="text" class="form-control" id="entidad" [formControlName]="i">
                                            <div class="form-text" *ngIf="entidad.touched && entidad.invalid">
                                                <div *ngIf="entidad.errors && entidad.errors['required']">* entidad es Requerido.</div>
                                                <div *ngIf="entidad.errors && entidad.errors['minlength']">* entidad no puede tener menos de 3 caracteres.</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div> -->

                                <!-- ARRAY PARA UN select
                                <div formArrayName="entidades">
                                    <button class="btn btn-danger" type="button" (click)="addEntidad()">Agregar</button>
                                    <ng-container *ngFor="let entidad of entidades.controls; let i = index;">
                                        <div class="mb-1">
                                            <label for="entidad" class="form-label">Entidad *</label>
                                            <select class="form-control" [formControlName]="i">
                                                <option value="{{ enti.id }}" *ngFor="let enti of entidades2">{{ enti.text }}</option>
                                            </select>
                                            <div class="form-text" *ngIf="entidad.touched && entidad.invalid">
                                                <div *ngIf="entidad.errors && entidad.errors['required']">* entidad es Requerido.</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div> -->

                                <button class="btn btn-primary btn-sm" type="button" (click)="addEntidad()"><i
                                        class="fas fa-plus-circle"></i> Añadir entidad</button>

                                <div formArrayName="entidades"
                                    *ngFor="let entidad of entidades.controls; let i = index;" class="m-2">
                                    <div [formGroupName]="i">
                                        <div class="row">

                                            <label for="entidad" class="form-label col-auto">Entidad *</label>
                                            <div class="col-md-4">
                                                <select class="form-select" formControlName="entidad">
                                                    <option value="{{ enti.denominacion }}"
                                                        *ngFor="let enti of entidades2">{{
                                                        enti.denominacion }}</option>
                                                </select>
                                                <!-- <div class="form-text" *ngIf="entidad.touched && entidad.invalid">
                                                    <div *ngIf="entidad.errors && entidad.errors['required']">* entidad
                                                        es Requerido.</div>
                                                </div> -->
                                            </div>
                                            <label for="monto" class="form-label col-md-auto">Monto *</label>
                                            <div class="col-md-3">
                                                <!-- <input type="number" class="form-control" id="monto"
                                                    formControlName="monto">
                                                pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" -->
                                                <input class="form-control" type="text" name="currency-field" id="currency-field"
                                                     value="" data-type="currency"
                                                    placeholder="$1,000,000.00" formControlName="monto">
                                                <!-- <div class="form-text" *ngIf="form['objeto'].touched && form['objeto'].invalid">
                                                        <div *ngIf="form['objeto'].errors && form['objeto'].errors['required']">* Objeto
                                                            es Requerido.</div>
                                                        <div *ngIf="form['objeto'].errors && form['objeto'].errors['minlength']">*
                                                            Objeto no puede tener menos de 3 caracteres.</div>
                                                    </div> -->
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-danger btn-sm" (click)="removeEntidad(i)"><i
                                                        class="fas fa-trash-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="firma" class="form-label">Fecha de Firma *</label>
                                    <input type="date" class="form-control" id="firma" formControlName="firma">
                                    <div class="form-text" *ngIf="form['firma'].touched && form['firma'].invalid">
                                        <div *ngIf="form['firma'].errors && form['firma'].errors['required']">* firma
                                            es Requerido.</div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="plazo" class="form-label">Plazo (días) *</label>
                                    <input type="number" class="form-control" id="plazo" formControlName="plazo">
                                </div>
                                <div class="mt-3 d-flex justify-content-around">
                                    <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
                                    <button [disabled]="convenioForm.invalid" type="submit"
                                        class="btn btn-primary">Registrar</button>
                                </div>
                            </form>
                            {{ convenioForm.value | json }}
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>