<div class="container">
  <div class="mt-3">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="card p-3 bg-body rounded">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-md-8">
                <h3 class="card-title">
                  Total de Archivos de Contabilidad ({{ totalCarpetasConta }})
                </h3>
              </div>
              <div class="col-md d-flex justify-content-end">
                <!-- <button type="button" class="btn btn-primary btn-sm" (click)="addCarpeta()">
                  Nueva Carpeta
                </button> -->
              </div>
            </div>
            <div>
              <form [formGroup]="reportForm">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <div class="input-group input-group-sm mb-1">
                      <span class="input-group-text" id="idPartida"><b>Partida</b></span>

                      <!-- <ngx-select [allowClear]="true" [items]="partidas" optionTextField="denominacion"
                        optionValueField="_id" placeholder="Seleccione una Partida de Gasto" formControlName="idPartida"
                        (select)="doSelect($event)">
                        <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                          <span [innerHtml]="text"></span>
                        </ng-template>
                        <div class="form-text" *ngIf="form['idPartida'].touched && form['idPartida'].invalid">
                          <div *ngIf="
                              form['idPartida'].errors &&
                              form['idPartida'].errors['required']
                            ">
                            * La categoria programatica es Requerida.
                          </div>
                        </div>
                      </ngx-select> -->
                    </div>
                    <!-- <span *ngIf="codPartida" style="font-size: 0.8rem;">{{ codPartida.codigo }}</span> -->

                  </div>

                  <div class="col-auto">
                    <div class="input-group input-group-sm mb-1">
                      <span class="input-group-text" id="unidadDeMedida"><b>Unidad de Medida</b></span>
                      <!-- <ngx-select [allowClear]="true" [items]="medidas" optionTextField="unidadMedida"
                        optionValueField="unidadMedida" placeholder="Seleccione una Unidad de Medida"
                        formControlName="unidadDeMedida">
                        <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                          <span [innerHtml]="text"></span>
                        </ng-template>
                        <div class="form-text" *ngIf="form['unidadDeMedida'].touched && form['unidadDeMedida'].invalid">
                          <div *ngIf="
                              form['unidadDeMedida'].errors &&
                              form['unidadDeMedida'].errors['required']
                            ">
                            * La categoria programatica es Requerida.
                          </div>
                        </div>
                      </ngx-select> -->
                    </div>
                  </div>

                  <div class="col-auto">
                    <div class="input-group input-group-sm mb-1 mx-2">
                      <span class="input-group-text izq" id="codigo"><b>Codigo</b></span>
                      <input style="width: 60px;" class="form-control" type="text" formControlName="codigo">
                      <div class="form-text" *ngIf="form['codigo'].touched && form['codigo'].invalid">
                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['required']">* Codigo</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-auto">
                    <div class="input-group input-group-sm mb-1 mx-2">
                      <span class="input-group-text izq" id="nombre"><b>Nombre</b></span>
                      <input style="width: 150px;" class="form-control" type="text" formControlName="nombre">
                      <div class="form-text" *ngIf="form['nombre'].touched && form['nombre'].invalid">
                        <div *ngIf="form['nombre'].errors && form['nombre'].errors['required']">* nombre</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-auto">
                    <div class="input-group input-group-sm mb-1 mx-2">
                      <span class="input-group-text izq" id="cantidad"><b>Cantidad</b></span>
                      <input style="width: 60px;" class="form-control" type="text" formControlName="cantidad">
                      <div class="form-text" *ngIf="form['cantidad'].touched && form['cantidad'].invalid">
                        <div *ngIf="form['cantidad'].errors && form['cantidad'].errors['required']">* cantidad</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-auto">
                    <div class="input-group input-group-sm mb-1 mx-2">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0" formControlName="stock">
                        <label class="form-check-label" for="inlineRadio1">Con Stock</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1" formControlName="stock">
                        <label class="form-check-label" for="inlineRadio2">Sin Stock</label>
                      </div>
                    </div>
                  </div>
                  {{ reportForm.value | json }}

                </div>
                <!-- <button (click)="obtenerArticulos(reportForm)" class="btn btn-primary mr-3" [disabled]="reportForm.invalid"
                  style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem">
                  Generar
                </button> -->

                <!-- <button (click)="imprimir()" class="btn btn-primary"
                  style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem">Descargar</button> -->

                <!-- <div class="input-group mb-1">
                  <span class="input-group-text izq" id="funcionario"><b> Funcionario</b></span>
                  <select id="funcionario" formControlName="funcionario" class="form-select" required>
                    <option value="" [defaultSelected]="true">Elija una opción</option>
                    <option *ngFor="let user of users" value="{{ user.post }}">{{ user.username }} {{ user.surnames }}
                    </option>

                  </select>
                  <div class="form-text" *ngIf="form['funcionario'].touched && form['funcionario'].invalid">
                    <div *ngIf="form['funcionario'].errors && form['funcionario'].errors['required']">* Debe seleccionar un
                      funcionario.</div>
                  </div>
                </div> -->



              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="cargando">
      <div class="col-md-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fas fa-sync-alt fa-spin"></i><br />
          <span>Por favor espere</span>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="!cargando">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body">
            <table class="table table-hover mb-2">
              <thead>
                <tr>
                  <th>Numero de Preventivo</th>
                  <th>Fecha de Preventivo</th>
                  <th>Glosa</th>
                  <th>Beneficiario</th>
                  <th>CI/NIT</th>
                  <th>Monto Total Autorizado</th>
                  <th>Fojas</th>
                  <th>Archivo</th>
                  <th>Observaciones</th>
                  <th>Carpeta</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let archivo of archivos.serverResponse; let i = index">
                  <td>{{ archivo.numero }}</td>
                  <td>{{ archivo.fecha | date:'longDate': 'UTC' }}</td>
                  <td>{{ archivo.glosa }}</td>
                  <td>{{ archivo.beneficiario }}</td>
                  <td>{{ archivo.ci }}</td>
                  <td>{{ archivo.monto }}</td>
                  <td>{{ archivo.fojas }}</td>
                  <td><a class="btn btn-primary btn-sm" href="{{ URL+'/'+archivo.uri }}" target="_blank">Descargar</a></td>
                  <td>{{ archivo.observacion }}</td>
                  <!-- <td>
                    <div class="form-check form-switch">
                      <span *ngIf="archivo.estado == '1'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(archivo._id, !archivo.estado)" type="checkbox" [checked]="true"
                          role="switch" id="{{'toogle'+i}}">Activo
                      </span>
                      <span *ngIf="archivo.estado == '0'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(archivo._id, !archivo.estado)" type="checkbox" [checked]="false"
                          role="switch" id="{{'toogle'+i}}">Inactivo
                      </span>
                    </div>
                  </td> -->
                  <td class="text-center">
                    <!-- <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
                          </button>
                        </h2>
                        <div id="{{'collapse'+i}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>Carpeta:</strong> {{ archivo.idCarpeta.tipo }}
                            <strong>Tomo:</strong> {{ archivo.idCarpeta.tomo }} <br>
                            <strong>Objeto:</strong> {{ archivo.idCarpeta.objeto }} <br>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <button class="btn-info btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Ver </button>

                    <div class="offcanvas offcanvas-bottom " tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title text-center" id="offcanvasBottomLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body  text-center">
                        <b>Número de Carpeta:</b> {{ archivo.idCarpeta.numCarpeta }} <br>
                        <b>Gestión:</b> {{ archivo.idCarpeta.gestion }} <br>
                        <b>Area:</b> {{ archivo.idCarpeta.area }} <br>
                        <b>Tipo:</b> {{ archivo.idCarpeta.tipo }} <br>
                        <b>Nombre de la Carpeta:</b> {{ archivo.idCarpeta.nameCarpeta }} <br>
                        <b>Lugar de Archivo:</b> {{ archivo.idCarpeta.lugar }} <br>
                        <b>N° de Estante:</b> {{ archivo.idCarpeta.estante }} <br>
                        <b>N° de Fila:</b> {{ archivo.idCarpeta.fila }} <br>
                      </div>
                    </div>
                  </td>
                  <td>
                    <!-- <i class="fas fa-edit ml-3 icono" data-bs-toggle="modal" data-bs-target="#modalEdit"
                      (click)="cargarDataEdit(archivo)"></i> -->
                    <i class="fas fa-trash-alt ml-3 icono" (click)="borrarArchivo(archivo._id)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- *ngIf="txtTermino.value.length === 0" -->
            <div class="text-center">
              <button (click)="cambiarPagina(-1)" *ngIf="page > 1" class="btn btn-info text-sm">
                <i class="fas fa-chevron-left"></i> Anterior
              </button>
              &nbsp;
              {{ page }} de {{ totalPages }}
              &nbsp;
              <button (click)="cambiarPagina(1)" *ngIf="page < totalPages" class="btn btn-info text-sm">
                Siguiente <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Registrar Proveedor
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="crearConta(contaForm.value)" [formGroup]="contaForm">


          <div class="input-group mb-1">
            <span class="input-group-text izq" id="numero"><b>Numero *</b></span>
            <input id="numero" class="form-control" type="text" formControlName="numero" />
            <div class="form-text" *ngIf="form['numero'].touched && form['numero'].invalid">
              <div *ngIf="
                  form['numero'].errors &&
                  form['numero'].errors['required']
                ">
                * El numero es Requerido.
              </div>
              <div *ngIf="
                  form['numero'].errors &&
                  form['numero'].errors['minlength']
                ">
                * El numero no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq"><b>Detalle *</b></span>
            <textarea id="detalle" class="form-control" type="text" formControlName="detalle"></textarea>
            <div class="form-text" *ngIf="form['detalle'].touched && form['detalle'].invalid">
              <div *ngIf="
                  form['detalle'].errors &&
                  form['detalle'].errors['required']
                ">
                * El detalle es Requerido.
              </div>
              <div *ngIf="
                  form['detalle'].errors &&
                  form['detalle'].errors['minlength']
                ">
                * El detalle no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="beneficiario"><b>beneficiario *</b></span>
            <input id="beneficiario" class="form-control" type="text" formControlName="beneficiario" />
            <div class="form-text" *ngIf="form['beneficiario'].touched && form['beneficiario'].invalid">
              <div *ngIf="
                  form['beneficiario'].errors &&
                  form['beneficiario'].errors['required']
                ">
                * El beneficiario es Requerido.
              </div>
              <div *ngIf="
                  form['beneficiario'].errors &&
                  form['beneficiario'].errors['minlength']
                ">
                * El beneficiario no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="fecha"><b>fecha *</b></span>
            <input id="fecha" class="form-control" type="date" formControlName="fecha" />
            <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
              <div *ngIf="
                  form['fecha'].errors &&
                  form['fecha'].errors['required']
                ">
                * El fecha es Requerido.
              </div>
              <div *ngIf="
                  form['fecha'].errors &&
                  form['fecha'].errors['minlength']
                ">
                * El fecha no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="monto"><b>monto *</b></span>
            <input id="monto" class="form-control" type="number" formControlName="monto" />
            <div class="form-text" *ngIf="form['monto'].touched && form['monto'].invalid">
              <div *ngIf="
                  form['monto'].errors &&
                  form['monto'].errors['required']
                ">
                * El monto es Requerido.
              </div>
              <div *ngIf="
                  form['monto'].errors &&
                  form['monto'].errors['minlength']
                ">
                * El monto no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="fojas"><b>Fojas *</b></span>
            <input id="fojas" class="form-control" type="number" formControlName="fojas" />
            <div class="form-text" *ngIf="form['fojas'].touched && form['fojas'].invalid">
              <div *ngIf="
                  form['fojas'].errors &&
                  form['fojas'].errors['required']
                ">
                * El fojas es Requerido.
              </div>
              <div *ngIf="
                  form['fojas'].errors &&
                  form['fojas'].errors['minlength']
                ">
                * El fojas no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq"><b>Observacion *</b></span>
            <textarea id="observacion" class="form-control" type="text" formControlName="observacion"></textarea>
            <div class="form-text" *ngIf="form['observacion'].touched && form['observacion'].invalid">
              <div *ngIf="
                  form['observacion'].errors &&
                  form['observacion'].errors['required']
                ">
                * El observacion es Requerido.
              </div>
              <div *ngIf="
                  form['observacion'].errors &&
                  form['observacion'].errors['minlength']
                ">
                * El observacion no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="contaForm.invalid">
              Registrar
            </button>
          </div>
          {{ contaForm.value | json }}
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- End Modal -->

<!-- Modal Edit -->
<!-- <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditLabel">Editar Proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="editProveedor(editForm.value)" [formGroup]="editForm">

          <div class="mb-1">
            <label for="representante" class="form-label">Representante:</label>
            <input type="text" class="form-control" id="representante" formControlName="representante" />
          </div>

          <div class="mb-1">
            <label for="razon_social" class="form-label">Razon Social:</label>
            <input type="text" class="form-control" id="razon_social" formControlName="razon_social" />
          </div>

          <div class="mb-1">
            <label for="nit" class="form-label">Nit:</label>
            <input type="number" class="form-control" id="nit" formControlName="nit" />
          </div>

          <div class="mb-1">
            <label for="telefono" class="form-label">Telefono:</label>
            <input type="number" class="form-control" id="telefono" formControlName="telefono" />
          </div>

          <div class="mb-1">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion" />
          </div>

          <div class="mb-1">
            <label for="ciudad" class="form-label">Ciudad:</label>
            <input type="text" class="form-control" id="ciudad" formControlName="ciudad" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
