<div class="container">
    <div class="row p-3 justify-content-md-center">
        <div class="col-md-8 ">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header">
                    <h3 class="card-title">Adjuntar archivos del Convenio</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <form (ngSubmit)="uploadFile()" [formGroup]="fileForm">
                                <div class="mb-1">
                                    <label for="typefile" class="form-label col-auto">Tipo *</label>

                                    <select class="form-select" formControlName="typefile">
                                        <option value="Convenio">Convenio en Borrador</option>
                                        <option value="Informe Tecnico">Informe Tecnico</option>
                                        <option value="Informe Administrativo">Informe Administrativo</option>
                                        <option value="Informe Legal">Ley/Resolución/Decreto</option>
                                        <option value="Contrato">Convenio Firmado</option>
                                        <option value="Resolución de Consejo">Contrato</option>
                                    </select>
                                    <div class="form-text" *ngIf="form['typefile'].touched && form['typefile'].invalid">
                                        <div *ngIf="form['typefile'].errors && form['typefile'].errors['required']">* Tipo es
                                            Requerido.
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="file" class="form-label">Archivo *</label>
                                    <input class="form-control" id="file" type="file" name="file" id="file"
                                        formControlName="file" (change)="onChange($event)" accept=".jpg, .jpeg, .png, .docx, .pdf">
                                    <div class="form-text" *ngIf="form['file'].touched && form['file'].invalid">
                                        <div *ngIf="form['file'].errors && form['file'].errors['required']">* Archivo es
                                            Requerido.
                                        </div>
                                    </div>
                                    <div class="progress mt-1" *ngIf="progress > 0">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            [style.width]="progress + '%'" aria-valuemin="0"
                                            aria-valuemax="100">{{ progress + '%' }}</div>
                                    </div>
                                </div>
                                <div class="mt-3 d-flex justify-content-around">
                                    <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
                                    <button [disabled]="fileForm.invalid" type="submit"
                                        class="btn btn-primary">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                {{ fileForm.value | json }}
            </div>
        </div> -->
    </div>
</div>