<div class="container">
    <div class="row p-3">
        <div class="col-md-8 ">
            <div class="card shadow p-3 mb-5 rounded">
                <div class="card-header">
                    <h3 class="card-title">Adjuntar archivos del Convenio</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <form (ngSubmit)="uploadFile(fileForm.value)" [formGroup]="fileForm">
                                <div class="mb-1">
                                    <label for="tipo" class="form-label col-auto">Tipo *</label>

                                    <select class="form-select" formControlName="tipo">
                                        <option value="0">Convenio</option>
                                        <option value="1">Contrato</option>
                                        <option value="2">Informe Administrativo</option>
                                        <option value="3">Informe Tecnico</option>
                                        <option value="4">Informe Legal</option>
                                        <option value="5">Resolución de Consejo</option>
                                    </select>
                                    <div class="form-text" *ngIf="form['tipo'].touched && form['tipo'].invalid">
                                        <div *ngIf="form['tipo'].errors && form['tipo'].errors['required']">* Tipo es
                                            Requerido.
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <label for="file" class="form-label">Archivo *</label>
                                    <input class="form-control" id="file" type="file" name="file" id="file"
                                        formControlName="file" (change)="onChange($event)">
                                    <div class="form-text" *ngIf="form['file'].touched && form['file'].invalid">
                                        <div *ngIf="form['file'].errors && form['file'].errors['required']">* Archivo es
                                            Requerido.
                                        </div>
                                    </div>
                                    <div class="progress mt-1" *ngIf="progress > 0">
                                        <div class="progress-bar bg-danger" role="progressbar"
                                            [style.width]="progress + '%'" aria-valuemin="0"
                                            aria-valuemax="100">{{ progress + '%' }}</div>
                                    </div>
                                </div>
                                <div class="d-grid mt-3">
                                    <button [disabled]="fileForm.invalid" type="submit"
                                        class="btn btn-danger">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-4">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                {{ fileForm.value | json }}
            </div>
        </div>
    </div>
</div>