<div class="container">
  <div class="mt-3">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="card p-3 bg-body rounded">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-md-8">
                <h3 class="card-title">
                  Total de Entradas ({{ totalIngresos }})
                </h3>
              </div>
              <div class="col-md d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" (click)="addIngreso()">
                  Nueva Entrada
                </button>
              </div>
            </div>
            <input class="form-control" type="search" placeholder="Buscar ingreso" (keyup)="buscar(txtTermino.value)"
              (blur)="buscar('')" #txtTermino />
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="cargando">
      <div class="col-md-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fas fa-sync-alt fa-spin"></i><br />
          <span>Por favor espere</span>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="!cargando">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body">
            <table class="table table-hover mb-2">
              <thead>
                <tr>
                  <th>Entrada N°</th>
                  <th>Funcionario Solicitante</th>
                  <th>Glosa</th>
                  <th>Fecha de Registro</th>
                  <th>Proveedor</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let ingreso of ingresos.serverResponse; let i = index">
                  <td>{{ ingreso.numeroEntrada }}</td>
                  <td>{{ ingreso.idPersona.username }} {{ ingreso.idPersona.surnames }}</td>
                  <td>{{ ingreso.concepto }}</td>
                  <td>{{ ingreso.fecha | date:'longDate': 'UTC'}}</td>
                  <td>{{ ingreso.idProveedor.razon_social }}</td>
                  <!-- <td>
                    <div class="form-check form-switch">
                      <span *ngIf="ingreso.estado == '1'">
                        <input class="form-check-input pointer" (change)="changeStatus(ingreso._id, !ingreso.estado)"
                          type="checkbox" [checked]="true" role="switch" id="{{'toogle'+i}}">Activo
                      </span>
                      <span *ngIf="ingreso.estado == '0'">
                        <input class="form-check-input pointer" (change)="changeStatus(ingreso._id, !ingreso.estado)"
                          type="checkbox" [checked]="false" role="switch" id="{{'toogle'+i}}">Inactivo
                      </span>
                    </div>
                  </td> -->
                  <td>
                    <!-- <i class="fas fa-edit ml-3 icono"></i> -->
                    <div>
                      <!-- Button trigger modal -->
                      <button type="button" (click)="getIngreso(ingreso._id)" class=""
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-print"></i>
                      </button>
                      <!-- <i class="fas fa-trash-alt ml-2 icono" (click)="borrarIngreso(ingreso._id)"></i> -->
                      <i class="fas fa-edit ml-2 icono" (click)="editarEntrada(ingreso._id)"></i>
                      <ng-container *ngIf="ingreso.estado == 'REGISTRADO'">
                        <i class="fas fa-sign-out-alt ml-2 icono" (click)="registrarEgreso(ingreso._id)"></i>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="txtTermino.value.length === 0">
              <button (click)="cambiarPagina(-1)" *ngIf="page > 1" class="btn btn-info text-sm">
                <i class="fas fa-chevron-left"></i> Anterior
              </button>
              &nbsp;
              {{ page }} de {{ totalPages }}
              &nbsp;
              <button (click)="cambiarPagina(1)" *ngIf="page < totalPages" class="btn btn-info text-sm">
                Siguiente <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body mt-3" id="content" #content>
        <div *ngIf="ingreso" class="card fondito1">
          <div class="row">
            <div class="col-md-2">
              <img src="/assets/img/logoGamb.png" alt="" width="150px">
            </div>
            <div class="col-md-8 text-center">
              <h3 class="off-m">DOCUMENTO DE ENTRADA A ALMACÉN </h3>
              <p class="off-m">Expresado en Bolivianos</p>
            </div>
            <div class="col-md-2 text-end pr-4">
              <h5>Registro N° {{ ingreso.numeroEntrada }}</h5>
            </div>
          </div>
          <hr class="off-hr">
          <div class="row">
            <div class="col-md-2 text-bold pl-3">
              FECHA DE REGISTRO: <br>
              ENTIDAD: <br>
              PROVEEDOR: <br>
              GLOSA: <br>
              SOLICITADO POR:
            </div>
            <div class="col-md-10">
              {{ ingreso.fecha | date:'longDate': 'UTC' }} <br>
              1508 - Gobierno Autonómo Municipal de Betanzos <br>
              {{ ingreso.idProveedor.representante }} <b> &nbsp;&nbsp;&nbsp;&nbsp; RAZON SOCIAL: </b>{{ ingreso.idProveedor.razon_social }} <b> &nbsp;&nbsp;&nbsp;&nbsp; NIT:
              </b> {{ ingreso.idProveedor.nit }} <br>
              {{ ingreso.concepto }} <br>
              {{ ingreso.idPersona.username }} {{ ingreso.idPersona.surnames }} <b> &nbsp;&nbsp;&nbsp;&nbsp; CARGO: </b>{{ ingreso.idPersona.post
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover table-bordered text-center border-dark table-sm">
                <thead>
                  <tr>
                    <th class="off-p">N°</th>
                    <th class="off-p">Cat. Progra.</th>
                    <th class="off-p">Partida de gasto</th>
                    <th class="off-p">Factura</th>
                    <th class="off-p">Artículo</th>
                    <th class="off-p">Cantidad</th>
                    <th class="off-p">Unidad de Medida</th>
                    <th class="off-p">P/U</th>
                    <th class="off-p">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let category of categories">
                    <tr *ngFor="let item of separados[category]; let i = index">
                      <td class="off-p">{{ i + 1 }}</td>
                      <td class="off-p">{{ item.catProgra }}</td>
                      <td class="off-p" style="font-size: 0.9rem;">{{ item.idArticulo.idPartida.codigo }} - {{ item.idArticulo.idPartida.denominacion }}</td>
                      <td class="off-p">{{ item.factura }}</td>
                      <td class="off-p">{{ item.idArticulo.nombre }}</td>
                      <td class="off-p">{{ item.cantidadCompra }}</td>
                      <td class="off-p">{{ item.idArticulo.unidadDeMedida }}</td>
                      <td class="off-p">{{ item.precio | currency: 'USD': '' }}</td>
                      <td class="off-p pr-2 text-end">{{ item.cantidadCompra * item.precio | currency: 'USD': '' }}</td>
                    </tr>
                    <tr>
                      <td colspan="8" class="text-end off-p"> <b>Sub Total: </b></td>
                      <td class="off-p pr-2 text-end"> {{ categoryTotalPrices[category] | currency: 'USD': '' }}</td>
                    </tr>
                  </ng-container>



                  <!-- <tr *ngFor="let articulo of separados; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ articulo.catProgra }}</td>
                    <td>{{ articulo.partidaGasto }}</td>
                    <td>{{ articulo.factura }}</td>
                    <td>{{ articulo.articulo }}</td>
                    <td>{{ articulo.cantidad }}</td>
                    <td>{{ articulo.unidadMedida }}</td>
                    <td>{{ articulo.precio }}</td>
                    <td>{{ articulo.cantidad * articulo.precio }}</td>
                  </tr> -->

                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="8" class="text-end off-p fs-5"> <b>SUMA TOTAL: </b></td>
                    <td class="fs-5 off-p pr-2 text-end"><b>{{ calculateTotalCost() | currency: 'USD': '' }}</b></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div>
          <div class="row mt-5">
            <div class="col-md-6 text-center">Recibí Conforme</div>
            <div class="col-md-6 text-center">Entregué Conforme</div>
          </div>
        </div>
        <span class="fecha" style="font-size: 0.7rem;">
          Fecha de Impresión: {{ date | date:'short' }}
        </span>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" (click)="generatePDFS()" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>
</div>
<!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
