<!-- SERVICE-AREA START -->
<div class="service-area margin-bottom-80">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Secretarias</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <div class="service-brief">
                        <h3>Administración Financiera</h3>
                        <p>Planificar, concertar, coordinar, dirigir, supervisar el adecuado funcionamiento del sistema administrativo, financiero y los servicios que el GAM de Betanzos brinda en el área administrativo para el cumplimiento de la misión y objetivos institucionales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="fas fa-tractor"></i>
                    </div>
                    <div class="service-brief">
                        <h3>Desarrollo Economico Productivo y Medio Ambiente</h3>
                        <p>Organizar, fortalecer, coadyuvar, prestar asistencia técnica y capacitación al sistema productivo del Municipio de Betanzos a través de la implementación y desarrollo de proyectos, programas, planes y políticas de desarrollo en los sectores primario, de transformación y servicios del municipio, en el marco del Plan Territorial de Desarrollo Integral Municipal según las potencialidades de cada zona, fortaleciendo las bases productivas, favoreciendo el cuidado, respeto y conservación del medio ambiente y los derechos de la madre tierra con estrategias de manejo de los recursos sustentables y sostenibles</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="service-brief">
                        <h3>Desarrollo Humano y Social</h3>
                        <p>Mejorar la calidad de vida de la población del Municipio de Betanzos, a través del establecimiento, promoción y ejecución de políticas, programas y proyectos que contribuyan al ejercicio ciudadano de los derechos humanos, generando mayores oportunidades de acceso a la educación, salud, deporte, buscando la equidad de género y la integración generacional, concertando políticas con actores públicos y privados, estableciendo mecanismos para la preservación de los derechos ciudadanos en las áreas de salud, educación, deportes y otros.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="fas fa-city"></i>
                    </div>
                    <div class="service-brief">
                        <h3>Infraestructura y Desarrollo Urbano</h3>
                        <p>Promover y generar el desarrollo integral y sostenible del municipio, en el marco del PTDI del Municipio, los instrumentos normativos municipales  y las políticas municipales, para el mejoramiento de la calidad de vida de sus habitantes del área rural y urbana, a través del desarrollo de programas y proyectos de desarrollo urbano, Infraestructura vial, Infraestructura social, Saneamiento Básico, Electrificación Urbana y Rural e infraestructura para los servicios de educación y salud del municipio de Betanzos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICE-AREA END -->