<div class="container">
    <div class="m-3">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-header">
              <h3 class="card-title">Actualizar Entidad de {{datosEntidad.denominacion}}</h3>
            </div>
    
            <!-- /.card-header -->
            <div class="card-body table-responsive">
              <div class="row">
                <div class="col-md">
                  <form (ngSubmit)="editarEntidad(editarForm.value)" [formGroup]="editarForm">

                      <div class="input-group mb-1">
                        <span class="input-group-text izq" id="tipoEntidad"><b> Tipo de Entidad *</b></span>
                        <select id="tipoEntidad" formControlName="tipoEntidad" class="form-select">
                          <!-- <option value="2023" [defaultSelected]="true">2023</option> -->
                          <option value="Pública">Pública</option>
                          <option value="Privada">Privada</option>
                          <option value="ONG">ONG</option>
                          <option value="Comunidad">Comunidad</option>
                          <option value="Otra">Otra</option>
                        </select>
    
                        <div class="form-text" *ngIf="
                            form['tipoEntidad'].touched && form['tipoEntidad'].invalid
                          ">
                          <div *ngIf="
                              form['tipoEntidad'].errors &&
                              form['tipoEntidad'].errors['required']
                            ">
                            * Debe seleccionar tipo de entidad.
                          </div>
                        </div>
                      </div>

                    <div class="mb-1">
                      <label for="codigo" class="form-label">Codigo *</label>
                      <input type="text" class="form-control" id="codigo" formControlName="codigo" required>
                      <div class="form-text " *ngIf="form['codigo'].touched && form['codigo'].invalid">
                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['required']">* El codigo de la entidad es
                          Requerido.</div>
                        <div *ngIf="form['codigo'].errors && form['codigo'].errors['minlength']">El codigo de la entidad
                          no puede tener menos de 3 caracteres.</div>
                      </div>
                    </div>
                    <div class="mb-1">
                      <label for="sigla" class="form-label">Sigla *</label>
                      <input type="text" class="form-control" id="sigla" formControlName="sigla" required>
                      <div class="form-text " *ngIf="form['sigla'].touched && form['sigla'].invalid">
                        <div *ngIf="form['sigla'].errors && form['sigla'].errors['required']">* La sigla de la entidad es
                          Requerido.</div>
                        <div *ngIf="form['sigla'].errors && form['sigla'].errors['minlength']">La sigla de la entidad
                          no puede tener menos de 3 caracteres.</div>
                      </div>
                    </div>
                    <div class="mb-1">
                      <label for="denominacion" class="form-label">Denominacion *</label>
                      <input type="text" class="form-control" id="denominacion" formControlName="denominacion" required>
                      <div class="form-text " *ngIf="form['denominacion'].touched && form['denominacion'].invalid">
                        <div *ngIf="form['denominacion'].errors && form['denominacion'].errors['required']">* La denominacion de la entidad es
                          Requerido.</div>
                        <div *ngIf="form['denominacion'].errors && form['denominacion'].errors['minlength']">La denominacion de la entidad
                          no puede tener menos de 3 caracteres.</div>
                      </div>
                    </div>

                     <div class="mb-1">
                      <label for="telefono" class="form-label">Telefono *</label>
                      <input type="text" class="form-control" id="telefono" formControlName="telefono">
                     
                    </div>

                     <div class="mb-1">
                      <label for="nit" class="form-label">Nit *</label>
                      <input type="text" class="form-control" id="nit" formControlName="nit" >
                     
                    </div>

                     <div class="mb-1">
                      <label for="cuenta" class="form-label">Cuenta *</label>
                      <input type="text" class="form-control" id="cuenta" formControlName="cuenta" >
                     
                    </div>

                    <div class="mb-1">
                      <label for="cuenta" class="form-label">Entidad Seleccionada *</label>
                      <select id="estado" formControlName="estado" class="form-select">
                        <option [ngValue]="true">Activa</option>
                        <option [ngValue]="false">Inactiva</option>   
                      </select>
                    </div>
  
  
                    <div class="mt-3 d-flex justify-content-around">
                      <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
                      <button [disabled]="editarForm.invalid" type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
  