<div class="container">
  <div class="mt-3">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="card p-3 bg-body rounded">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-md-8">
                <h3 class="card-title">
                  Total de Categorías Programáticas ({{ totalCatProgras }})
                </h3>
              </div>
              <div class="col-md d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
                  Nueva Categoria Programatica
                </button>
              </div>
            </div>
            <input class="form-control" type="search" placeholder="Buscar proveedor" (keyup)="buscar(txtTermino.value)"
              (blur)="buscar('')" #txtTermino />
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="cargando">
      <div class="col-md-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fas fa-sync-alt fa-spin"></i><br />
          <span>Por favor espere</span>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="!cargando">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body">
            <table class="table table-hover mb-2">
              <thead>
                <tr>
                  <th>Area</th>
                  <th>Responsable</th>
                  <th>Cat. Prog.</th>
                  <th>Proyecto y/o Actividad</th>
                  <th>Ppto. Vigente</th>
                  <th>Ejecución presupuestaria</th>
                  <th>Saldo</th>
                  <th>Etapa</th>
                  <th>Partida</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let catProgra of catProgras; let i = index">
                  <td>{{ catProgra.area }}</td>
                  <td *ngIf="catProgra.responsable">{{ catProgra.responsable.username }} {{ catProgra.responsable.surnames }}</td>
                  <td *ngIf="!catProgra.responsable"></td>
                  <td>{{ catProgra.cat_programatica }}</td>
                  <td>{{ catProgra.proyect_acti }}</td>
                  <td>{{ catProgra.presupuesto_vigente }}</td>
                  <td>{{ catProgra.ejecucion_presupuestaria }}</td>
                  <td>{{ catProgra.saldo }}</td>
                  <td>{{ catProgra.etapa }}</td>
                  <td>{{ catProgra.partida }}</td>
                  <!-- <td>
                    <div class="form-check form-switch">
                      <span *ngIf="catProgra.estado == '1'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(catProgra._id, !catProgra.estado)" type="checkbox" [checked]="true"
                          role="switch" id="{{'toogle'+i}}">Activo
                      </span>
                      <span *ngIf="catProgra.estado == '0'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(catProgra._id, !catProgra.estado)" type="checkbox" [checked]="false"
                          role="switch" id="{{'toogle'+i}}">Inactivo
                      </span>
                    </div>
                  </td> -->
                  <td>
                    <i class="fas fa-edit ml-3 icono" data-bs-toggle="modal" data-bs-target="#modalEdit"
                      (click)="cargarDataEdit(catProgra)"></i>
                    <i class="fas fa-trash-alt ml-3 icono" (click)="borrarCatProgra(catProgra._id!)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center" *ngIf="txtTermino.value.length === 0">
              <button (click)="cambiarPagina(-1)" *ngIf="page > 1" class="btn btn-info text-sm">
                <i class="fas fa-chevron-left"></i> Anterior
              </button>
              &nbsp;
              {{ page }} de {{ totalPages }}
              &nbsp;
              <button (click)="cambiarPagina(1)" *ngIf="page < totalPages" class="btn btn-info text-sm">
                Siguiente <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Registrar Categoria Programatica
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="crearCatProgra(catPrograForm.value)" [formGroup]="catPrograForm">
          <div class="mb-1">
            <label for="area" class="form-label col-md-auto">Area *</label>
            <ngx-select style="min-width: 450px;" [allowClear]="true" [items]="areas"
              optionTextField="nombredir" optionValueField="nombredir" placeholder="Seleccione una Area"
              formControlName="area" (select)="doSelect($event)">
              <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                <span [innerHtml]="text"></span>
                &nbsp;
              </ng-template>
            </ngx-select>
            <div class="form-text" *ngIf="form['area'].touched && form['area'].invalid">
              <div *ngIf="
                      form['area'].errors &&
                      form['area'].errors['required']
                    ">
                * El proveedor es Requerido.
              </div>
            </div>
          </div>

          <div class="mb-1">
            <label for="responsable" class="form-label col-md-auto">Responsable *</label>
            <ngx-select style="min-width: 450px;" [allowClear]="true" [items]="funcionarios"
              optionTextField="username" optionValueField="_id" placeholder="Seleccione un Responsable"
              formControlName="responsable" (select)="doSelect($event)">
              <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                <span [innerHtml]="text"></span>
                &nbsp;{{option.data.surnames}}
              </ng-template>
            </ngx-select>
            <div class="form-text" *ngIf="form['responsable'].touched && form['responsable'].invalid">
              <div *ngIf="
                      form['responsable'].errors &&
                      form['responsable'].errors['required']
                    ">
                * El proveedor es Requerido.
              </div>
            </div>
          </div>

          <div class="mb-1">
            <label for="cat_programatica" class="form-label col-md-auto">Cat. Prog. *</label>
            <input id="cat_programatica" class="form-control" type="text" formControlName="cat_programatica" />
          </div>

          <div class="mb-1">
            <label for="proyect_acti" class="form-label col-md-auto">Proyecto y/o Actividad *</label>
            <input id="proyect_acti" class="form-control" type="text" formControlName="proyect_acti" />
          </div>

          <div class="mb-1">
            <label for="presupuesto_vigente" class="form-label col-md-auto">Presupuesto Vigente</label>
            <input id="presupuesto_vigente" class="form-control" type="number" formControlName="presupuesto_vigente" />
          </div>

          <div class="mb-1">
            <label for="etapa" class="form-label col-md-auto">Etapa</label>
            <select formControlName="etapa" class="form-select">
              <option value="actividad">Actividad</option>
              <option value="ejecucion">Ejecución</option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="catPrograForm.invalid">
              Registrar
            </button>
          </div>
          {{ catPrograForm.value | json }}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Modal Edit -->
<!-- <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditLabel">Editar Proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="editProveedor(editForm.value)" [formGroup]="editForm">

          <div class="mb-1">
            <label for="representante" class="form-label">Representante:</label>
            <input type="text" class="form-control" id="representante" formControlName="representante" />
          </div>

          <div class="mb-1">
            <label for="razon_social" class="form-label">Razon Social:</label>
            <input type="text" class="form-control" id="razon_social" formControlName="razon_social" />
          </div>

          <div class="mb-1">
            <label for="nit" class="form-label">Nit:</label>
            <input type="number" class="form-control" id="nit" formControlName="nit" />
          </div>

          <div class="mb-1">
            <label for="telefono" class="form-label">Telefono:</label>
            <input type="number" class="form-control" id="telefono" formControlName="telefono" />
          </div>

          <div class="mb-1">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion" />
          </div>

          <div class="mb-1">
            <label for="ciudad" class="form-label">Ciudad:</label>
            <input type="text" class="form-control" id="ciudad" formControlName="ciudad" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
