    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a routerLink="/" class="brand-link">
        <img src="../../../../../assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">GAMB Usuarios</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar ">


        <!-- SidebarSearch Form -->
        <div class="form-inline">
          <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
            <li class="nav-item">
              <a class="nav-link">
                <i class="fas fa-images nav-icon"></i>
                <p class="space">
                   Unidades
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/blog/slider/index" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p class="space">Listado de Unidades</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="nav-icon far fa-clipboard"></i>
                <p>
                  Roles
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/blog/post/index" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p>Listado de Roles</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/blog/post/create" class="nav-link">
                    <i class="fas fa-plus nav-icon"></i>
                    <p>Crear Nuevo</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="nav-icon far fa-clipboard"></i>
                <p>
                  Usuarios
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/blog/post/index" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p>Listado de Usuarios</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/blog/post/create" class="nav-link">
                    <i class="fas fa-plus nav-icon"></i>
                    <p>Crear Nuevo</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a routerLink="/blog/category/index" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Categorias
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>

            <li class="nav-header">AREA 2</li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
