    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4 fondo">
        <!-- Brand Logo -->
        <a routerLink="/" class="brand-link">
          <img src="../../../../../assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
          <span class="brand-text font-weight-light">GAM Betanzos</span>
        </a>
  
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
  
  
  
              <li class="nav-item">
                <a routerLink="/almacen/proveedor/index" class="nav-link">
                  <i class="nav-icon fas fa-truck-moving"></i>
                  <p>
                    Proveedores
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/almacen/medida/index" class="nav-link">
                  <i class="nav-icon fas fa-ruler-combined"></i>
                  <p>
                    Medidas
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/almacen/articulo/index" class="nav-link">
                  <i class="nav-icon fas fa-box-open"></i>
                  <p>
                    Articulos
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/almacen/compra/index" class="nav-link">
                  <i class="nav-icon fas fa-plus"></i>
                  <p>
                    Entradas
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/almacen/egreso/index" class="nav-link">
                  <i class="nav-icon fas fa-minus"></i>
                  <p>
                    Salidas
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/almacen/vehiculo/index" class="nav-link">
                  <i class="nav-icon fas fa-car"></i>
                  <p>
                    Vehículos
                  </p>
                </a>
              </li>
  
            </ul>
          </nav>
          <br>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
  