<div class="m-3">
    <div class="row">
        <div class="col-md-12">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-header">
              <h3 class="card-title">Lista de Posts</h3>
              <div class="card-tools">
                
                <button (click)="addPost()" class="btn btn-primary">Agregar Nuevo</button>  
                <!-- <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
            
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Estado</th>
                    <th>Titulo</th>
                    <th>Subtitulo</th>
                    <th>Cuerpo</th>
                    <th>Iframe</th>
                    <th>Categoria</th>
                    <th>Imagenes</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of posts.serverResponse; let i = index">
                    <td>
                      <div class="form-check form-switch">
                        <span *ngIf="post.status == '1'">
                          <input class="form-check-input pointer" (change)="changeStatus(post._id, !post.status)"
                            type="checkbox" [checked]="true" role="switch" id="{{'toogle'+i}}">Vigente
  
                        </span>
                        <span *ngIf="post.status == '0'">
                          <input class="form-check-input pointer" (change)="changeStatus(post._id, !post.status)"
                            type="checkbox" [checked]="false" role="switch" id="{{'toogle'+i}}">Abrogada
                        </span>
                      </div>
                    </td>
                    <td>{{ post.title | slice:0:20 }}</td>
                    <td>{{ post.subtitle | slice:0:20 }}</td>
                    <td>{{ post.body | slice:0:20 }}...</td>
                    <td>{{ post.iframe | slice:0:20 }}</td>
                    <td>{{ post.category }}</td>
                    <!-- <td><img width="70px" src="{{ URL+'/'+post.uri }}" alt=""></td> -->
                    <td>{{ post.imgs.length }} </td>
                    <td>
                      <i (click)="onEditPost(post._id)" class="fas fa-edit ml-3 icono"></i>
                      <i (click)="onDeletePost(post._id)" class="fas fa-trash-alt ml-3 icono"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </div>
</div>


