<!-- FOOTER-AREA START -->
<footer class="footer-area">
    <div class="footer-top">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-footer footer-logo">
                            <img src="img/logo.png" alt="" />
                            <p>Betanzos, capital de la primera sección de la provincia Cornelio Saavedra del departamento de Potosí, distante a 45 km al este de la ciudad de Potosí</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-footer footer-contact">
                            <h2>Contactanos</h2>
                            <ul>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <span>2-62-79032</span>
                                </li>
                                <li>
                                    <i class="fas fa-globe"></i>
                                    <span>www.gambetanzos.gob.bo</span>
                                    <span>betanzosgam@gmail.com</span>
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Plaza Cornelio Saavedra s/n</span>
                                    <span>Potosi - Bolivia</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="single-footer footer-menu">
                            <h2>GAM Betanzos</h2>
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Institución</a></li>
                                <li><a href="#">Transparencia</a></li>
                                <li><a href="#">Gaceta</a></li>
                                <li><a routerLink="private">Oficina Virtual</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="single-footer footer-message">
                            <img class="img-fluid" width="150" src="assets/img/logo2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright fondo">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright-brief">
                        <p>Copyright &copy; GAM BETANZOS 2022 - Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social text-center text-md-end">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER-AREA END -->