<div class="container">
  <div class="m-3">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Editar Autorizacion</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md">
                <form (ngSubmit)="editarAutorizacion()" [formGroup]="editForm">

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="plazo"><b>Unidad Solicitante</b></span>
                    <ngx-select class="sel" [allowClear]="true" [items]="unidades" optionTextField="nombresubdir" optionValueField="_id"
                      placeholder="Seleccione una unidad solicitante" formControlName="unidadSolicitante" (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;{{option.data.surnames}}
                      </ng-template>
                    </ngx-select>

                    <div class="form-text" *ngIf="form['unidadSolicitante'].touched && form['unidadSolicitante'].invalid">
                      <div *ngIf="form['unidadSolicitante'].errors && form['unidadSolicitante'].errors['required']">
                        * Debe seleccionar una unidad Solicitante.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="plazo"><b>Vehiculo</b></span>
                    <ngx-select class="sel" [allowClear]="true" [items]="vehiculos" optionTextField="tipo" optionValueField="_id"
                      placeholder="Seleccione un Vehiculo" formControlName="vehiculo" (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;- {{option.data.marca}}
                        &nbsp;- {{option.data.placa}}
                      </ng-template>
                    </ngx-select>

                    <div class="form-text" *ngIf="form['vehiculo'].touched && form['vehiculo'].invalid">
                      <div *ngIf="
                          form['vehiculo'].errors &&

                          form['vehiculo'].errors['required']
                        ">
                        * Debe seleccionar una Vehiculo.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="plazo"><b>Conductor</b></span>
                    <ngx-select class="sel" [allowClear]="true" [items]="conductores" optionTextField="username" optionValueField="_id"
                      placeholder="Seleccione un Conductor" formControlName="conductor" (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;{{option.data.surnames}}
                      </ng-template>
                    </ngx-select>

                    <div class="form-text" *ngIf="form['conductor'].touched && form['conductor'].invalid">
                      <div *ngIf="form['conductor'].errors && form['conductor'].errors['required']">
                        * Debe seleccionar un conductor.
                      </div>
                    </div>
                  </div>



                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="plazo"><b>Fecha de Salida *</b></span>
                    <input type="date" class="form-control" id="fechaSalida" formControlName="fechaSalida">
                    <div class="form-text" *ngIf="form['fechaSalida'].touched && form['fechaSalida'].invalid">
                      <div *ngIf="form['fechaSalida'].errors && form['fechaSalida'].errors['required']">* Hora de Salida
                        es Requerido.</div>
                    </div>
                    <span class="input-group-text izq" id="plazo"><b>Hora de Salida *</b></span>
                    <input type="time" class="form-control" id="horaSalida" formControlName="horaSalida">
                    <div class="form-text" *ngIf="form['horaSalida'].touched && form['horaSalida'].invalid">
                      <div *ngIf="form['horaSalida'].errors && form['horaSalida'].errors['required']">* Fecha de Salida
                        es Requerido.</div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="plazo"><b>Fecha de LLegada *</b></span>
                    <input type="date" class="form-control" id="fechaLlegada" formControlName="fechaLlegada">
                    <div class="form-text" *ngIf="form['fechaLlegada'].touched && form['fechaLlegada'].invalid">
                      <div *ngIf="form['fechaLlegada'].errors && form['fechaLlegada'].errors['required']">* Fecha de LLegada
                        es Requerido.</div>
                    </div>
                    <span class="input-group-text izq" id="plazo"><b>Hora de LLegada *</b></span>
                    <input type="time" class="form-control" id="horaLlegada" formControlName="horaLlegada">
                    <div class="form-text" *ngIf="form['horaLlegada'].touched && form['horaLlegada'].invalid">
                      <div *ngIf="form['horaLlegada'].errors && form['horaLlegada'].errors['required']">* Hora de Llegada
                        es Requerido.</div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="destino"><b>Destino *</b></span>
                    <input id="destino" class="form-control" type="text" formControlName="destino" />
                    <div class="form-text" *ngIf="form['destino'].touched && form['destino'].invalid">
                      <div *ngIf="form['destino'].errors && form['destino'].errors['required']">
                        * El Destino es Requerido.
                      </div>
                      <div *ngIf="form['destino'].errors && form['destino'].errors['minlength']">
                        * El Destino no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>


                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="motivo"><b>Motivo *</b></span>
                    <input id="motivo" class="form-control" type="text" formControlName="motivo" />
                    <div class="form-text" *ngIf="form['motivo'].touched && form['motivo'].invalid">
                      <div *ngIf="form['motivo'].errors && form['motivo'].errors['required']">
                        * El motivo es Requerido.
                      </div>
                      <div *ngIf="form['motivo'].errors && form['motivo'].errors['minlength']">
                        * El motivo no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="plazo"><b>Fecha de Autorizacion*</b></span>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha">
                    <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
                      <div *ngIf="form['fecha'].errors && form['fecha'].errors['required']">* Fecha de autorizacion
                        es Requerido.</div>
                    </div>
                  </div>

                  <div class="mt-3 d-flex justify-content-around">
                    <button (click)="cancel()" type="reset" class="btn btn-danger">
                      Cancelar
                    </button>
                    <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">
                      Registrar
                    </button>
                  </div>
                </form>
                <!-- {{ editForm.value | json }} -->
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
