<div class="container">
  <div class="m-3">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Editar Salida</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <form [formGroup]="editForm">

                  <!-- <div class="input-group mb-1">
                    <span class="input-group-text" id="fechaContrato"><b> Fecha de Contrato/Orden de Compra</b></span>
                    <input type="date" class="form-control" id="fechaContrato" formControlName="fechaContrato">
                    <div class="form-text" *ngIf="form['fechaContrato'].touched && form['fechaContrato'].invalid">
                      <div *ngIf="form['fechaContrato'].errors && form['fechaContrato'].errors['required']">* Fecha de
                        Contrato es Requerido.</div>
                    </div>
                  </div> -->

                  <!-- <div class="input-group mb-1">
                    <span class="input-group-text" id="plazo"><b>Plazo</b></span>
                    <input id="plazo" class="form-control" type="number" formControlName="plazo" />
                    <div class="form-text" *ngIf="form['plazo'].touched && form['plazo'].invalid">
                      <div *ngIf="form['plazo'].errors && form['plazo'].errors['required']">
                        * El plazo es Requerido.
                      </div>
                      <div *ngIf="form['plazo'].errors && form['plazo'].errors['minlength']">
                        * El plazo no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div> -->


                  <div class="input-group mb-1" >
                    <span class="input-group-text mb-1" id="idPersona"><b>Funcionario Solicitante *</b></span>
                    <ngx-select style="min-width: 400px;" [allowClear]="true" [items]="funcionarios" optionTextField="username"
                      optionValueField="_id" placeholder="Seleccione un Funcionario" formControlName="idPersona"
                      (select)="escogido($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;{{option.data.surnames}}
                      </ng-template>
                    </ngx-select>
                  </div>

                  <div class="input-group mb-1" *ngIf="!existe">
                    <span class="input-group-text" id="entregado"><b>Entregado A:</b></span>
                    <input id="entregado" class="form-control" type="text" formControlName="entregado" />
                    <span class="input-group-text" id="cargo"><b>Cargo:</b></span>
                    <input id="cargo" class="form-control" type="text" formControlName="cargo" />
                    <!-- <div class="form-text" *ngIf="form['entregado'].touched && form['entregado'].invalid">
                      <div *ngIf="form['entregado'].errors && form['entregado'].errors['required']">
                        * El entregado es Requerido.
                      </div>
                      <div *ngIf="form['entregado'].errors && form['entregado'].errors['minlength']">
                        * El plazo no puede tener menos de 3 caracteres.
                      </div>
                    </div> -->
                  </div>


                  <div class="input-group mb-1">
                    <span class="input-group-text" id="plazo"><b>Fecha *</b></span>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha">
                    <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
                      <div *ngIf="form['fecha'].errors && form['fecha'].errors['required']">* fecha
                        es Requerido.</div>
                    </div>
                  </div>


                  <div class="input-group">
                    <span class="input-group-text"><b>Glosa *</b></span>
                    <textarea id="concepto" class="form-control" type="text" formControlName="glosaSalida"></textarea>
                    <div class="form-text" *ngIf="form['glosaSalida'].touched && form['glosaSalida'].invalid">
                      <div *ngIf="
                          form['glosaSalida'].errors &&
                          form['glosaSalida'].errors['required']
                        ">
                        * la Glosa es Requerida.
                      </div>
                      <div *ngIf="
                          form['glosaSalida'].errors &&
                          form['glosaSalida'].errors['minlength']
                        ">
                        * la Glosa no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>



                  <hr>


                </form>
                <!-- <pre> {{ editForm.value | json }} </pre> -->
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <div class="panel panel-default">
                  <input class="form-control mb-4" list="articulos" type="search" placeholder="Buscar Artículo"
                    (keyup.enter)="buscar(txtNombre.value)" (blur)="txtNombre.value = ''" #txtNombre />

                  <datalist id="articulos" *ngIf="articulos">
                    <option style="color:blue" *ngFor="let articulo of articulos.serverResponse"
                      value="{{articulo.nombre}}">
                  </datalist>

                  <!-- <button class="btn btn-info btn-sm my-3" (click)="addArticulo(article)" type="button">Añadir</button> -->

                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Cat. Prog.</th>
                          <th>Partida de gasto</th>
                          <th>Artículo</th>
                          <th>Cantidad</th>
                          <th>Unidad de Medida</th>
                          <th>P/U</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listadeArticulos; index as i">
                          <td style="cursor: not-allowed;">
                            {{i + 1}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'catProg'">
                            {{item.catProgra}}
                          </td>
                          <td field="partidaGasto">
                            {{item.partidaGasto}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'articulo'">
                            {{item.articulo}}
                          </td>
                          <td contenteditable="true" (blur)="cambio($event, i, 'cantidadCompra')" [attr.row]="i"
                            [attr.field]="'cantidadCompra'">
                            {{item.cantidadCompra}}
                          </td>
                          <td field="unidadDeMedida">
                            {{item.unidadMedida}}
                          </td>
                          <td contenteditable="true" (blur)="cambio($event, i, 'precio')" [attr.row]="i"
                            [attr.field]="'precio'">
                            {{item.precio}}
                          </td>
                          <td>{{item.cantidadCompra * item.precio}}</td>
                          <!-- <td>
                            <span><i class="fas fa-trash pointer" (click)="removeArticulo(i)"></i></span>
                          </td> -->
                        </tr>

                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="9" class="text-end fs-5"> <b>TOTAL GENERAL: </b></td>
                          <td class="fs-5"><b>{{ calculateTotalCost() }}</b></td>
                        </tr>
                      </tfoot>
                    </table>
                    <div class="btn-group">
                       <!-- {{ listadeArticulos | json }} -->
                    </div>
                    <br>
                    <div class="text-center">
                      <button type="button" class="btn btn-secondary mx-3" (click)="cancel()">
                        Cancelar
                      </button>
                      <button (click)="editarSalida()" class="btn btn-primary" [disabled]="editForm.invalid">
                        Editar
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
