<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 fondo">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <img src="../../../../../assets/img/logo.png" alt="GAMB Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">GAM Betanzos</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
     
        <li class="nav-item" [ngClass]="{ 'menu-open': autorizacionOpen }">
          <a class="nav-link" (click)="toggleAutorizacionMenu()" routerLink="/actFijos/autorizacion/index">
            <i class="fas fa-file-alt nav-icon"></i>
            <p class="space">
              Autorizaciones
              <i class="right fas" [ngClass]="{
                  'fa-angle-left': !autorizacionOpen,
                  'fa-angle-down': autorizacionOpen
                }"></i>
            </p>
          </a>
          <ul class="nav nav-treeview pl-3" [style.display]="autorizacionOpen ? 'block' : 'none'">
            <li class="nav-item">
              <a routerLink="/actFijos/autorizacion/index" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p class="space">Lista de Autorizaciones</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/actFijos/autorizacion/create" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p class="space">Generar Autorizaciones</p>
              </a>
            </li>
           <!--  <li class="nav-item">
              <a routerLink="/almacen/reporte/vales" class="nav-link">
                <i class="fas fa-chart-bar nav-icon"></i>
                <p class="space">Reportes</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item" [ngClass]="{ 'menu-open': ordenOpen }">
          <a class="nav-link" (click)="toggleOrdenMenu()">
            <i class="fas fa-receipt nav-icon"></i>
            <p class="space">
              Ordenes de Compra
              <i class="right fas" [ngClass]="{
                  'fa-angle-left': !ordenOpen,
                  'fa-angle-down': ordenOpen
                }"></i>
            </p>
          </a>
          <ul class="nav nav-treeview pl-3" [style.display]="ordenOpen ? 'block' : 'none'">
            <li class="nav-item">
              <a routerLink="/actFijos/ordenes" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p class="space">Listado de Ordenes</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/actFijos/newOrden" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p class="space">Generar Ordenes</p>
              </a>
            </li>
           <!--  <li class="nav-item">
              <a routerLink="/actFijos/vales" class="nav-link">
                <i class="fas fa-chart-bar nav-icon"></i>
                <p class="space">Reportes</p>
              </a>
            </li> -->
          </ul>
        </li>

        <li class="nav-item" [ngClass]="{ 'menu-open': gastosOpen }">
          <a
            class="nav-link"
            (click)="toggleGastosMenu()"
          >
            <i class="fas fa-file-invoice-dollar nav-icon"></i>
            <p class="space">
              Gastos
              <i
                class="right fas"
                [ngClass]="{
                  'fa-angle-left': !gastosOpen,
                  'fa-angle-down': gastosOpen
                }"
              ></i>
            </p>
          </a>
          <ul
            class="nav nav-treeview pl-3"
            [style.display]="gastosOpen ? 'block' : 'none'"
          >
            <li class="nav-item">
              <a routerLink="/actFijos/gastos" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p class="space">Listado de Gastos</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a routerLink="/actFijos/create-gasto" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p class="space">Crear Nuevo Gasto</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a routerLink="/actFijos/gastoReport" class="nav-link">
                <i class="fas fa-chart-bar nav-icon"></i>
                <p class="space">Reportes</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>