<div class="container">
  <div class="mt-3">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="card p-3 bg-body rounded">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-md-6">
                <h3 class="card-title">
                  Total Vales ({{ totalVales }})
                </h3>
              </div>
              <div class="col-md-6 text-end">
                <!-- <button type="button" class="btn btn-primary btn-sm" (click)="addAutorizacion()">
                  Crear Nuevo
                </button> -->
              </div>
            </div>
            <hr>
            <!-- <form [formGroup]="buscarAutorizacion">
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group mb-1">
                    <span class="input-group-text" id="gestion"><b> Gestion</b></span>
                    <select id="gestion" formControlName="gestion" class="form-select" required>
                      <option value="2023" [defaultSelected]="true">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2010">2010</option>
                      <option value="2009">2009</option>
                      <option value="2008">2008</option>
                      <option value="2007">2007</option>
                      <option value="2006">2006</option>
                    </select>
                    <div class="form-text" *ngIf="form5['gestion'].touched && form5['gestion'].invalid">
                      <div *ngIf="form5['gestion'].errors && form5['gestion'].errors['required']">* Gestion es
                        Requerido.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group mb-1 mx-1">
                    <span class="input-group-text izq" id="numero"><b>Numero</b></span>
                    <input class="form-control" type="text" formControlName="numero">
                    <div class="form-text" *ngIf="form5['numero'].touched && form5['numero'].invalid">
                      <div *ngIf="form5['numero'].errors && form5['numero'].errors['required']">* Numero</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-1 mx-1">
                    <span class="input-group-text izq" id="nombre"><b>Nombre</b></span>
                    <input class="form-control" type="text" formControlName="nombre">
                    <div class="form-text" *ngIf="form5['nombre'].touched && form5['nombre'].invalid">
                      <div *ngIf="form5['nombre'].errors && form5['nombre'].errors['required']">* nombre
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-1 mx-1">
                    <span class="input-group-text izq" id="lugar"><b>Lugar</b></span>
                    <input class="form-control" type="text" formControlName="lugar">
                    <div class="form-text" *ngIf="form5['lugar'].touched && form5['lugar'].invalid">
                      <div *ngIf="form5['lugar'].errors && form5['lugar'].errors['required']">* lugar</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button (click)="searchCarpeta(buscarCarpeta)" class="btn btn-primary mr-3"
                    [disabled]="buscarCarpeta.invalid" style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem">
                    Buscar
                  </button>
                </div>

              </div>

            </form> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="cargando">
      <div class="col-md-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fas fa-sync-alt fa-spin"></i><br />
          <span>Por favor espere</span>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="!cargando">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body">

            <table class="table table-hover mb-2">
              <thead>
                <tr>
                  <th>Vale N°</th>
                  <th>Fecha</th>
                  <th>Cantidad</th>
                  <th>Categoria Programatica</th>
                  <th>Producto</th>
                  <th>Autorizacion N°</th>
                  <th>Encargado</th>
                  <th>Estado</th>
                  <th style="width: 150px;">Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let vale of vales.serverResponse; let i = index">
                  <td>{{ vale.numeroVale }}</td>
                  <td>{{ vale.createdAt | date: 'mediumDate' : "UTC" }}</td>
                  <td>{{ vale.cantidad | number:'1.2-2':'es-ES' }}</td>
                  <td>{{ vale.catProgra }}</td>
                  <td>{{ vale.idProducto ? vale.idProducto.nombre : 'Lubricantes' }}</td>
                  <td>{{ vale.autorizacion?.numeroAutorizacion }}</td>
                  <td>{{ vale.encargadoControl.username }} {{ vale.encargadoControl.surnames }}</td>
                  <!-- <td>
                    <div class="form-check form-switch">
                      <span *ngIf="carpeta.estado == '1'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(carpeta._id, !carpeta.estado)" type="checkbox" [checked]="true"
                          role="switch" id="{{'toogle'+i}}">Activo
                      </span>
                      <span *ngIf="carpeta.estado == '0'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(carpeta._id, !carpeta.estado)" type="checkbox" [checked]="false"
                          role="switch" id="{{'toogle'+i}}">Inactivo
                      </span>
                    </div>
                  </td> -->
                  <td >
                    <span *ngIf="!vale.idCompra" class="textEstado" (click)="cambiarEstado(vale)" [ngSwitch]="vale.estado">
                      <span *ngSwitchCase="'REGISTRADO'" class="badge est badge-danger"  title="Cambiar Estado">{{ vale.estado }} </span>
                      <span *ngSwitchCase="'PENDIENTE'" class="badge est badge-info">{{ vale.estado }}</span>
                      <span *ngSwitchCase="'FINALIZADO'" class="badge est badge-success">{{
                        vale.estado
                        }}</span>
                    </span>
                  </td>
                  <td>
                    <!-- <i class="fas fa-eye ml-2 icono" (click)="verArchivos(carpeta)"></i> -->
                    <!-- <i class="fas fa-plus ml-2 icono" (click)="addCarpetaId(carpeta)"></i> -->
                    <!-- <i class="fas fa-edit ml-2 icono" (click)="edit(vale._id)"></i> -->
                    <!-- <button class="btn btn-info text-sm" (click)="generarVale(vale._id)">Generar Vale<i
                        class="fas fa-print ml-2 icono"></i></button> -->

                    <span *ngIf="vale.idCompra != null">
                      <i class="fas fa-print ml-2 icono " data-bs-toggle="modal" data-bs-target="#printModal"
                        (click)="print(vale)" title="Imprimir"></i>
                    </span>

                    <span *ngIf="vale.idCompra == null">
                      <i class="fas fa-print ml-2 icono " data-bs-toggle="modal" data-bs-target="#printModal2"
                        (click)="print(vale)" title="Imprimir"></i>
                    </span>

                  </td>
                </tr>
              </tbody>
            </table>
            <!-- *ngIf="txtTermino.value.length === 0" -->
            <div class="text-center">
              <button (click)="cambiarPagina(-1)" *ngIf="page > 1" class="btn btn-info text-sm">
                <i class="fas fa-chevron-left"></i> Anterior
              </button>
              &nbsp;
              {{ page }} de {{ totalPages }}
              &nbsp;
              <button (click)="cambiarPagina(1)" *ngIf="page < totalPages" class="btn btn-info text-sm">
                Siguiente <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="printModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">

    <div class="modal-content">
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" printTitle="." [useExistingCss]="true" printSectionId="content" ngxPrint
          class="btn btn-primary">
          Imprimir
        </button>
      </div>
      <div class="modal-body" id="content" #content>
        <div class="">
          <div *ngIf="vale" class="card fondito1">
            <div class="d-flex justify-content-between ml-2 mb-0">
              <div class="p-2">
                <img src="/assets/img/logoGamb.png" alt="" width="175px" />
              </div>
              <div class="text-center ml-5 mt-2 mb-0">
                <h3 class="off-m">SOLICITUD DE COMBUSTIBLE</h3>
              </div>
              <div class="p-3 ">
                <img src="/assets/img/sisal.png" alt="" width="163px" />
              </div>
            </div>
            <div class="d-flex justify-content-between px-3">
              <div class="mb-1">
                <b>AP. PROGRAMÁTICA:</b> {{ vale.catProgra }} - {{ vale.progra }}
              </div>
              <div class="mb-1">
                <b>FECHA:</b> {{ vale.autorizacion?.fechaSalida | date : 'fullDate' : "UTC" }}
              </div>
              <div>
                <b>N° DE AUTORIZACIÓN:</b> AF-{{ vale.autorizacion?.numeroAutorizacion }}
              </div>
              <div>
                <b>N° DE VALE:</b> {{ vale.numeroVale }}
              </div>
            </div>

            <div class="d-flex justify-content-between px-3">
              <div>
                <b>SOLICITADO POR:</b> {{ vale.autorizacion?.unidadSolicitante.user.username }} {{
                vale.autorizacion?.unidadSolicitante.user.surnames }}
              </div>
              <div>
                <b>CARGO:</b> {{ vale.autorizacion?.unidadSolicitante.nombresubdir }}
              </div>
            </div>

            <div class="d-flex justify-content-between px-3">
              <div>
                <b>DESTINO:</b> {{ vale.autorizacion?.destino }}
              </div>
            </div>

            <div class="container mb-2">
              <fieldset class="border p-2 rounded fieldset-tabla">

                <table class="table table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>Cantidad Numeral</th>
                      <th>Unidad</th>
                      <th>Producto</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>{{ vale.cantidad }}</td>
                      <td *ngIf="vale.cantidad === 1">{{ vale.idProducto.unidadDeMedida | titlecase }}</td>
                      <td *ngIf="vale.cantidad > 1">{{ vale.idProducto.unidadDeMedida | titlecase }}s</td>
                      <td>{{ vale.idProducto?.nombre }}</td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>

            <div class="container mb-1">
              <fieldset class="border p-2 rounded fieldset-tabla mb-2">
                <legend class="text-muted"><b>DATOS DEL CONDUCTOR - VEHÍCULO</b></legend>
                <table class="table table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>Vehículo</th>
                      <th>N° de Placa</th>
                      <th>Chofer</th>
                      <th>N° de Licencia</th>
                      <th>Categoría</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>{{ vale.autorizacion?.vehiculo?.tipo }}</td>
                      <td>{{ vale.autorizacion?.vehiculo.placa }}</td>
                      <td>{{ vale.autorizacion?.conductor.username }} {{ vale.autorizacion?.conductor.surnames }}</td>
                      <td>{{ vale.autorizacion?.conductor.ci }} </td>
                      <td>{{ vale.autorizacion?.conductor.categoriaLicencia }} </td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
              <span><b>MOTIVO DE SALIDA:</b> {{ vale.autorizacion?.motivo }}</span>


              <div class="mt-10">
                <div class="d-flex justify-content-around ml-3 mb-0 ">
                  <div class="">
                    <div class="text-center">
                      <b>Solicitado Por</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Resp. Almacen</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Autorizado Por</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Chofer</b>
                    </div>
                  </div>

                </div>
              </div>


            </div>
            <div class="d-flex justify-content-between m-0 p-0">
              <span class="fecha" style="font-size: 0.7rem">
                Fecha de Impresión: {{ date | date : "short" : "UTC" }}
              </span>
              <span class="fecha" style="font-size: 0.7rem">
                Usuario: {{ data.username }} {{ data.surnames }}
              </span>
            </div>
          </div>
          <hr>
          <div *ngIf="vale" class="card fondito1">
            <div class="d-flex justify-content-between ml-2 mb-0">
              <div class="p-2">
                <img src="/assets/img/logoGamb.png" alt="" width="175px" />
              </div>
              <div class="text-center ml-5 mt-2 mb-0">
                <h3 class="off-m">SOLICITUD DE COMBUSTIBLE</h3>
              </div>
              <div class="p-3 ">
                <img src="/assets/img/sisal.png" alt="" width="163px" />
              </div>
            </div>
            <div class="d-flex justify-content-between px-3">
              <div class="mb-1">
                <b>AP. PROGRAMÁTICA:</b> {{ vale.catProgra }}
              </div>
              <div class="mb-1">
                <b>FECHA:</b> {{ vale.autorizacion?.fechaSalida | date : 'fullDate' : "UTC" }}
              </div>
              <div>
                <b>N° DE AUTORIZACIÓN:</b> AF-{{ vale.autorizacion?.numeroAutorizacion }}
              </div>
              <div>
                <b>N° DE VALE:</b> {{ vale.numeroVale }}
              </div>
            </div>

            <div class="d-flex justify-content-between px-3">
              <div>
                <b>SOLICITADO POR:</b> {{ vale.autorizacion?.unidadSolicitante.user.username }} {{
                vale.autorizacion?.unidadSolicitante.user.surnames }}
              </div>
              <div>
                <b>CARGO:</b> {{ vale.autorizacion?.unidadSolicitante.nombresubdir }}
              </div>
            </div>

            <div class="d-flex justify-content-between px-3">
              <div>
                <b>DESTINO:</b> {{ vale.autorizacion?.destino }}
              </div>
            </div>

            <div class="container mb-2">
              <fieldset class="border p-2 rounded fieldset-tabla">

                <table class="table table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>Cantidad Numeral</th>
                      <th>Unidad</th>
                      <th>Producto</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>{{ vale.cantidad }}</td>
                      <td *ngIf="vale.cantidad === 1">{{ vale.idProducto.unidadDeMedida | titlecase }}</td>
                      <td *ngIf="vale.cantidad > 1">{{ vale.idProducto.unidadDeMedida | titlecase }}s</td>
                      <td>{{ vale.idProducto?.nombre }}</td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>

            <div class="container mb-2">
              <fieldset class="border p-2 rounded fieldset-tabla mb-2">
                <legend class="text-muted"><b>DATOS DEL CONDUCTOR - VEHÍCULO</b></legend>
                <table class="table table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>Vehículo</th>
                      <th>N° de Placa</th>
                      <th>Chofer</th>
                      <th>N° de Licencia</th>
                      <th>Categoría</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>{{ vale.autorizacion?.vehiculo.tipo }}</td>
                      <td>{{ vale.autorizacion?.vehiculo.placa }}</td>
                      <td>{{ vale.autorizacion?.conductor.username }} {{ vale.autorizacion?.conductor.surnames }}</td>
                      <td>{{ vale.autorizacion?.conductor.ci }} </td>
                      <td>{{ vale.autorizacion?.conductor.categoriaLicencia }} </td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
              <span><b>MOTIVO DE SALIDA:</b> {{ vale.autorizacion?.motivo }}</span>


              <div class="mt-10">
                <div class="d-flex justify-content-around ml-3 mb-0 ">
                  <div class="">
                    <div class="text-center">
                      <b>Solicitado Por</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Resp. Almacen</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Autorizado Por</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Chofer</b>
                    </div>
                  </div>

                </div>
              </div>


            </div>
            <div class="d-flex justify-content-between m-0 p-0">
              <span class="fecha" style="font-size: 0.7rem">
                Fecha de Impresión: {{ date | date : "short" }}
              </span>
              <span class="fecha" style="font-size: 0.7rem">
                Usuario: {{ data.username }} {{ data.surnames }}
              </span>
            </div>
          </div>
          <hr>
          <div *ngIf="vale" class="card fondito1">
            <div class="d-flex justify-content-between ml-2 mb-0">
              <div class="p-2">
                <img src="/assets/img/logoGamb.png" alt="" width="175px" />
              </div>
              <div class="text-center ml-5 mt-2 mb-0">
                <h3 class="off-m">SOLICITUD DE COMBUSTIBLE</h3>
              </div>
              <div class="p-3 ">
                <img src="/assets/img/sisal.png" alt="" width="163px" />
              </div>
            </div>
            <div class="d-flex justify-content-between px-3">
              <div class="mb-1">
                <b>AP. PROGRAMÁTICA:</b> {{ vale.catProgra }}
              </div>
              <div class="mb-1">
                <b>FECHA:</b> {{ vale.autorizacion?.fechaSalida | date : 'fullDate' : "UTC" }}
              </div>
              <div>
                <b>N° DE AUTORIZACIÓN:</b> AF-{{ vale.autorizacion?.numeroAutorizacion }}
              </div>
              <div>
                <b>N° DE VALE:</b> {{ vale.numeroVale }}
              </div>
            </div>

            <div class="d-flex justify-content-between px-3">
              <div>
                <b>SOLICITADO POR:</b> {{ vale.autorizacion?.unidadSolicitante.user.username }} {{
                vale.autorizacion?.unidadSolicitante.user.surnames }}
              </div>
              <div>
                <b>CARGO:</b> {{ vale.autorizacion?.unidadSolicitante.nombresubdir }}
              </div>
            </div>

            <div class="d-flex justify-content-between px-3">
              <div>
                <b>DESTINO:</b> {{ vale.autorizacion?.destino }}
              </div>
            </div>

            <div class="container mb-2">
              <fieldset class="border p-2 rounded fieldset-tabla">

                <table class="table table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>Cantidad Numeral</th>
                      <th>Unidad</th>
                      <th>Producto</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>{{ vale.cantidad }}</td>
                      <td *ngIf="vale.cantidad === 1">{{ vale.idProducto.unidadDeMedida | titlecase }}</td>
                      <td *ngIf="vale.cantidad > 1">{{ vale.idProducto.unidadDeMedida | titlecase }}s</td>
                      <td>{{ vale.idProducto?.nombre }}</td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>

            <div class="container mb-2">
              <fieldset class="border p-2 rounded fieldset-tabla mb-2">
                <legend class="text-muted"><b>DATOS DEL CONDUCTOR - VEHÍCULO</b></legend>
                <table class="table table-striped">
                  <thead class="text-center">
                    <tr>
                      <th>Vehículo</th>
                      <th>N° de Placa</th>
                      <th>Chofer</th>
                      <th>N° de Licencia</th>
                      <th>Categoría</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>{{ vale.autorizacion?.vehiculo.tipo }}</td>
                      <td>{{ vale.autorizacion?.vehiculo.placa }}</td>
                      <td>{{ vale.autorizacion?.conductor.username }} {{ vale.autorizacion?.conductor.surnames }}</td>
                      <td>{{ vale.autorizacion?.conductor.ci }} </td>
                      <td>{{ vale.autorizacion?.conductor.categoriaLicencia }} </td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
              <span><b>MOTIVO DE SALIDA:</b> {{ vale.autorizacion?.motivo }}</span>


              <div class="mt-10">
                <div class="d-flex justify-content-around ml-3 mb-0 ">
                  <div class="">
                    <div class="text-center">
                      <b>Solicitado Por</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Resp. Almacen</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Autorizado Por</b>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-center">
                      <b>Chofer</b>
                    </div>
                  </div>

                </div>
              </div>


            </div>
            <div class="d-flex justify-content-between m-0 p-0">
              <span class="fecha" style="font-size: 0.7rem">
                Fecha de Impresión: {{ date | date : "short" }}
              </span>
              <span class="fecha" style="font-size: 0.7rem">
                Usuario: {{ data.username }} {{ data.surnames }}
              </span>
            </div>
          </div>

        </div>

      </div>


    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="printModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">

    <div class="modal-content">
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" printTitle="." [useExistingCss]="true" printSectionId="content2" ngxPrint
          class="btn btn-primary">
          Imprimir
        </button>
      </div>
      <div class="modal-body" id="content2" #content>
        
          <div class="">
            <div *ngIf="vale" class="card fondito1">
              <div class="d-flex justify-content-between ml-2 mb-0">
                <div class="p-2">
                  <img src="/assets/img/logoGamb.png" alt="" width="175px" />
                </div>
                <div class="text-center ml-5 mt-2 mb-0">
                  <h3 class="off-m">SOLICITUD DE COMBUSTIBLE Y LUBRICANTES</h3>
                </div>
                <div class="p-3 ">
                  <img src="/assets/img/sisal.png" alt="" width="163px" />
                </div>
              </div>
              <div class="d-flex justify-content-between px-3">
                <div class="mb-1">
                  <b>AP. PROGRAMÁTICA:</b> {{ vale.catProgra }}
                </div>
                <div class="mb-1">
                  <b>FECHA:</b> <span *ngIf="vale.autorizacion">{{ vale.autorizacion.fecha | date : 'dd/MM/yyyy' : 'UTC' }}</span>
                  <span *ngIf="!vale.autorizacion">{{ vale.fecha | date : 'dd/MM/yyyy' : 'UTC' }}</span>
                </div>
                <div>
                  <b>N° DE VALE:</b> {{ vale.numeroVale }}
                </div>
              </div>

              <div class="d-flex justify-content-between px-3">
                <div>
                  <b>SOLICITADO POR:</b> {{ vale.autorizacion ? vale.autorizacion.unidadSolicitante.user.username :
                  vale.conductor?.username }} {{ vale.autorizacion ? vale.autorizacion.unidadSolicitante.user.surnames :
                  vale.conductor?.surnames }}
                </div>
                <div>
                  <b>CARGO:</b> {{ vale.autorizacion ? vale.autorizacion.unidadSolicitante.user.post :
                  vale.conductor?.post | titlecase }}
                </div>
              </div>

              <div class="d-flex justify-content-between px-3">
                <div>
                  <b>DESTINO:</b> {{ vale.autorizacion ? vale.autorizacion.destino : vale.destino | titlecase }}
                </div>
              </div>

              <div class="container mb-2">
                <fieldset class="border p-2 rounded fieldset-tabla">

                  <table class="table table-striped" *ngIf="vale.idProducto">
                    <thead class="text-center">
                      <tr>
                        <th>Monto (Bs)</th>
                        <th>Cantidad Numeral</th>
                        <th>Unidad</th>
                        <th>Producto</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr >
                        <td>{{ vale.precio }}</td>
                        <td>{{ vale.cantidad | number:'1.2-2':'es-ES' }}</td>
                        <td *ngIf="vale.cantidad === 1">{{ vale.idProducto.unidadDeMedida | titlecase }}</td>
                        <td *ngIf="vale.cantidad > 1">{{ vale.idProducto.unidadDeMedida | titlecase }}s</td>
                        <td>{{ vale.idProducto.nombre }}</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-striped" *ngIf="!vale.idProducto">
                    <thead class="text-center">
                      <tr>
                        <th>Cantidad Numeral</th>
                        <th>Unidad</th>
                        <th>Producto</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let producto of vale.productos">
                        <td>{{ producto.cantidadCompra | number:'1.2-2':'es-ES' }}</td>
                        <td>{{ producto.unidadMedida | titlecase }}</td>
                        <td>{{ producto.articulo }}</td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
              </div>

              <div class="container mb-1">
                <fieldset class="border p-2 rounded fieldset-tabla mb-2">
                  <legend class="text-muted"><b>DATOS DEL CONDUCTOR - VEHÍCULO</b></legend>
                  <table class="table table-striped">
                    <thead class="text-center">
                      <tr>
                        <th>Vehículo</th>
                        <th>N° de Placa</th>
                        <th>Chofer</th>
                        <th>N° de Licencia</th>
                        <th>Categoría</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td>{{ vale.autorizacion ? vale.autorizacion.vehiculo?.tipo : vale.vehiculo?.tipo }}</td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.vehiculo?.placa : vale.vehiculo?.placa }}</td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.conductor.username : vale.conductor?.username }} {{
                          vale.autorizacion ? vale.autorizacion.conductor.surnames : vale.conductor?.surnames }}</td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.conductor.ci : vale.conductor?.ci }} </td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.conductor.categoriaLicencia :
                          vale.conductor?.categoriaLicencia }} </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
                <span><b>MOTIVO DE SALIDA:</b> {{ vale.autorizacion ? vale.autorizacion.motivo : vale.motivo }}</span>


                <div class="mt-10">
                  <div class="d-flex justify-content-around ml-3 mb-0 ">
                    <div class="">
                      <div class="text-center">
                        <b>Solicitado Por</b>
                      </div>
                    </div>
                    <div class="">
                      <div class="text-center">
                        <b>Resp. Almacen</b>
                      </div>
                    </div>
                    <div class="">
                      <div class="text-center">
                        <b>Autorizado Por</b>
                      </div>
                    </div>
                    <div class="">
                      <div class="text-center">
                        <b>Recibi Conforme (chofer)</b>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
              <div class="d-flex justify-content-between m-0 p-0">
                <span class="fecha" style="font-size: 0.7rem">
                  Fecha de Impresión: {{ date | date : "short" : "UTC" }}
                </span>
                <span class="fecha" style="font-size: 0.7rem">
                  Usuario: {{ data.username }} {{ data.surnames }}
                </span>
              </div>
            </div>

            <div *ngIf="vale" class="card fondito1 mt-10">
              <div class="d-flex justify-content-between ml-2 mb-0">
                <div class="p-2">
                  <img src="/assets/img/logoGamb.png" alt="" width="175px" />
                </div>
                <div class="text-center ml-5 mt-2 mb-0">
                  <h3 class="off-m">AUTORIZACIÓN DE ENTREGA DE COMBUSTIBLE Y LUBRICANTES</h3>
                </div>
                <div class="p-3 ">
                  <img src="/assets/img/sisal.png" alt="" width="163px" />
                </div>
              </div>
              <div class="d-flex justify-content-between px-3">
                <div class="mb-1">
                  <b>LUGAR:</b> {{ vale.autorizacion ? vale.autorizacion.destino : vale.destino | titlecase }}
                </div>
                <div class="mb-1">
                  <b>FECHA:</b> <span *ngIf="vale.autorizacion">{{ vale.autorizacion.fecha | date : 'dd/MM/yyyy' : 'UTC' }}</span>
                  <span *ngIf="!vale.autorizacion">{{ vale.fecha | date : 'dd/MM/yyyy' : 'UTC' }}</span>
                </div>
              </div>

              <div class="d-flex justify-content-between px-3">
                <div>
                  <b>PROVEEDOR:</b> {{ vale.proveedor }}
                </div>
              </div>

              <div class="container mb-2">
                <fieldset class="border p-2 rounded fieldset-tabla">

                  <table class="table table-striped" *ngIf="vale.idProducto">
                    <thead class="text-center">
                      <tr>
                        <th>Monto (Bs)</th>
                        <th>Cantidad Numeral</th>
                        <th>Unidad</th>
                        <th>Producto</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr >
                        <td>{{ vale.precio }}</td>
                        <td>{{ vale.cantidad | number:'1.2-2':'es-ES' }}</td>
                        <td *ngIf="vale.cantidad === 1">{{ vale.idProducto.unidadDeMedida | titlecase }}</td>
                        <td *ngIf="vale.cantidad > 1">{{ vale.idProducto.unidadDeMedida | titlecase }}s</td>
                        <td>{{ vale.idProducto.nombre }}</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-striped" *ngIf="!vale.idProducto">
                    <thead class="text-center">
                      <tr>
                        <th>Cantidad Numeral</th>
                        <th>Unidad</th>
                        <th>Producto</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let producto of vale.productos">
                        <td>{{ producto.cantidadCompra | number:'1.2-2':'es-ES' }}</td>
                        <td>{{ producto.unidadMedida | titlecase }}</td>
                        <td>{{ producto.articulo }}</td>
                      </tr>
                    </tbody>
                  </table>

                </fieldset>
              </div>

              <div class="container mb-1">
                <fieldset class="border p-2 rounded fieldset-tabla mb-2">
                  <legend class="text-muted"><b>DATOS DEL CONDUCTOR - VEHÍCULO</b></legend>
                  <table class="table table-striped">
                    <thead class="text-center">
                      <tr>
                        <th>Vehículo</th>
                        <th>N° de Placa</th>
                        <th>Conductor</th>
                        <th>N° de Licencia</th>
                        <th>Categoría</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td>{{ vale.autorizacion ? vale.autorizacion.vehiculo?.tipo : vale.vehiculo?.tipo }}</td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.vehiculo?.placa : vale.vehiculo?.placa }}</td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.conductor.username : vale.conductor?.username }} {{
                          vale.autorizacion ? vale.autorizacion.conductor.surnames : vale.conductor?.surnames }}</td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.conductor.ci : vale.conductor?.ci }} </td>
                        <td>{{ vale.autorizacion ? vale.autorizacion.conductor.categoriaLicencia :
                          vale.conductor?.categoriaLicencia }} </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
                <span><b>MOTIVO DE SALIDA:</b> {{ vale.autorizacion ? vale.autorizacion.motivo : vale.motivo }} </span>


                <div class="mt-10">
                  <div class="d-flex justify-content-around ml-3 mb-0 ">
                    <div class="">
                      <div class="text-center">
                        <b>Solicitado Por</b>
                      </div>
                    </div>
                    <div class="">
                      <div class="text-center">
                        <b>Resp. Almacen</b>
                      </div>
                    </div>
                    <div class="">
                      <div class="text-center">
                        <b>Autorizado Por</b>
                      </div>
                    </div>
                    <div class="">
                      <div class="text-center">
                        <b>Recibi Conforme (chofer)</b>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
              <div class="d-flex justify-content-between m-0 p-0">
                <span class="fecha" style="font-size: 0.7rem">
                  Fecha de Impresión: {{ date | date : "short" : "UTC" }}
                </span>
                <span class="fecha" style="font-size: 0.7rem">
                  Usuario: {{ data.username }} {{ data.surnames }}
                </span>
              </div>
            </div>


          </div>
        
      </div>


    </div>

  </div>
</div>