<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-5">
      <div class="card card-outline card-primary shadow">
        <div class="card-header text-center">
          <h4>Editar Usuario</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="editUsuario()" [formGroup]="editForm">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nombres" formControlName="username">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user icon"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Apellidos" formControlName="surnames">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user-friends icon"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">

              <input type="text" class="form-control" placeholder="Carnet de Identidad" formControlName="ci">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-id-card icon"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="date" class="form-control" formControlName="birthday">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-birthday-cake icon"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" formControlName="email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope icon"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock icon"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <select id="roles" formControlName="roles" class="form-select" required>
                <option value="SUPER_ADMIN">SUPER_ADMIN</option>
                <option value="ADMIN">ADMIN</option>
                <option value="SUPER_USER">SUPER_USER</option>
                <option value="SECRETARIA">SECRETARIA</option>
                <option value="CHOFER">CHOFER</option>
              </select>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-id-card icon"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-1">
              <ngx-select class="sel" [allowClear]="true" [items]="cargos" optionTextField="nombresubdir" optionValueField="_id"
                placeholder="Seleccione una unidad" formControlName="cargo" >
                <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                  <span [innerHtml]="text"></span>
                  &nbsp;{{option.data.surnames}}
                </ng-template>
              </ngx-select>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-id-card icon"></span>
                </div>
              </div>

              <div class="form-text" *ngIf="form['cargo'].touched && form['cargo'].invalid">
                <div *ngIf="
                    form['cargo'].errors &&

                    form['cargo'].errors['required']
                  ">
                  * Debe seleccionar una unidad Solicitante.
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <select id="categoriaLicencia" formControlName="categoriaLicencia" class="form-select" required>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="T">T</option>
                <option value="M">M</option>
              </select>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-id-card icon"></span>
                </div>
              </div>
            </div>

            <div class="mt-3 d-flex justify-content-around">
              <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
              <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">Registrar</button>
            </div>
            {{ editForm.value | json }}
          </form>

          <!--


                        <div class="social-auth-links text-center">
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i>
                            Sign up using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i>
                            Sign up using Google+
                        </a>
                    </div> -->

          <!-- <a routerLink="/login" class="text-center">Iniciar Sesion</a> -->
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
  </div>


</div>
