<div class="page-banner-area photo-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">OBJETIVOS INSTITUCIONALES</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">Objetivos Institucionales</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="title my-1 text-center">Objetivo General</div>
                <p class="text mb-5">Fortalecer la gestión municipal, administrativa y técnica de acuerdo a atribuciones
                    y competencias asignadas en el marco legal, contribuyendo al desarrollo y crecimiento económico
                    integral a través de la satisfacción de las demandas y necesidades de la sociedad del Municipio de
                    Betanzos, optimizando y focalizando la inversión pública municipal en la ejecución de proyectos de
                    infraestructura, también en el apoyo a la formación del capital humano; mediante el uso sostenible
                    de los recursos naturales y la generación de ingresos y empleo con acceso a los servicios básicos;
                    agua, alcantarillado, vivienda, electricidad, educación y salud, articulando las metas, resultados y
                    acciones del Plan Territorial de Desarrollo Integral (PTDI) al PDES, para contribuir el cumplimiento
                    de los objetivos de la Agenda Patriótica 2025, para el “Vivir Bien”.</p>

            </div>
            <div class="col-md-6">
                <div class="title my-1 text-center">Objetivos Específicos</div>
                <ul>
                    <li>
                        <p class="text">Mejorar el uso racional y sostenible de los recursos naturales a partir de la
                            gestión ambiental y el fomento de la conservación, para mejorar las condiciones del medio
                            ambiente y la prevención de desastres naturales de la Gestión de riesgos.</p>
                    </li>
                    <li>
                        <p class="text">Optimizar los dispositivos de acceso de la población a servicios básicos y/o
                            públicos como educación salud, servicios básicos (agua, alcantarillado, vivienda, energía
                            eléctrica, transporte), para revertir el regular índice de las Necesidades Básicas
                            Insatisfechas.</p>
                    </li>
                    <li>
                        <p class="text">Formar mayores niveles de la producción agropecuaria mediante acciones adecuadas
                            y condiciones específicas, para fortalecer el desarrollo económico a partir de la promoción
                            económica de las cadenas productivas potenciales del municipio (agrícola, pecuario,
                            frutícola, artesanal y turístico).</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>