<div class="container">
  <div class="m-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Lista de Documentos - Gaceta Oficial</h3>
            <div class="card-tools">
              <span class="mr-3">
                <button (click)="addGaceta()" class="btn btn-primary">Agregar Documento</button>
              </span>
              <!-- <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div> -->
            </div>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Estado</th>
                  <th>Titulo</th>
                  <th>Detalle</th>
                  <th>Archivo</th>
                  <th>Confirmación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gaceta of gacetas.serverResponse; let i = index">
                  <td>{{ gaceta.usuario.username }} {{ gaceta.usuario.surnames }}</td>
                  <td>
                    <div class="form-check form-switch">
                      <span *ngIf="gaceta.estado == '1'">
                        <input class="form-check-input pointer" (change)="changeStatus(gaceta._id, !gaceta.estado)"
                          type="checkbox" [checked]="true" role="switch" id="{{'toogle'+i}}">Vigente

                      </span>
                      <span *ngIf="gaceta.estado == '0'">
                        <input class="form-check-input pointer" (change)="changeStatus(gaceta._id, !gaceta.estado)"
                          type="checkbox" [checked]="false" role="switch" id="{{'toogle'+i}}">Abrogada
                      </span>
                    </div>
                  </td>
                  <td>{{ gaceta.titulo }} {{ gaceta.numero }}</td>
                  <td>{{ gaceta.detalle }}</td>
                  <td><a href="{{ URL+'/'+gaceta.uri }}" target="_blank">Descargar</a></td>
                  <td>
                    <!-- Button trigger modal -->
                    <div>
                      <!-- Button trigger modal -->
                      <button type="button" (click)="getGaceta(gaceta._id)" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Imprimir
                      </button>
                    </div>
                  </td>
                  <td>
                    <i (click)="updateGaceta(gaceta._id)" class="fas fa-edit ml-3 icono"></i>
                    <i (click)="deleteGaceta(gaceta._id)" class="fas fa-trash-alt ml-3 icono"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" id="content" #content>
        <div class="card fondito1">
          <div class="row">
            <div class="col-md text-center">
              <img src="/assets/img/logo2.png" alt="" width="80px">
              <h2>CONFIRMACIÓN DE PUBLICACIÓN</h2>
            </div>
          </div>
          <div class="row">
            <span class="text-center mb-3">El Gobierno Autonomo Municipal de Betanzos confirma el registro y publicación de la siguiente norma:</span>
            <div class="col-md-6 text-end">
              <p class="text-bold">Código de Entidad:</p>
              <p class="text-bold">Descripción de la Entidad:</p>
              <p class="text-bold">Documento:</p>
              <p class="text-bold">Descripción:</p>
              <p class="text-bold">Código de identificación:</p>
              <p class="text-bold">Fecha de publicación:</p>
              <p class="text-bold">Responsable de publicación:</p>
              <p class="text-bold">Cargo del responsable:</p>
            </div>
            <div *ngIf="showModal" class="col-md-6 text-start">
              <p>1508</p>
              <p>Gobierno Autonomo Municipal de Betanzos </p>
              <p>{{ gaceta.titulo }} {{ gaceta.numero }}</p>
              <p>{{ gaceta.detalle }}</p>
              <p>{{ gaceta._id }}</p>
              <p>{{ gaceta.createdAt | date:'short' }}</p>
              <p>{{ gaceta.usuario.username }} {{ gaceta.usuario.surnames }}</p>
              <p>{{ gaceta.usuario.post }}</p>
            </div>

          </div>
        </div>
        Fecha de Impresión: {{ date | date:'short'  }}
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" (click)="generatePDF()" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>
</div>