<div class="m-3">
    <div class="row">
        <div class="col-md-12">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-header">
              <h3 class="card-title">Lista de Entidades</h3>
              <div class="card-tools">
                <!-- (click)="addRepresentante()" -->
                <button  class="btn btn-primary">Agregar Nuevo</button>  
                <!-- <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
            
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Representante</th>
                    <th>Telefono</th>
                    <th>NIT</th>
                    <th>Cuenta</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entidad of entidades">
                    <td>{{ entidad.nombre | slice:0:20 }}</td>
                    <td>{{ entidad.representante | slice:0:20 }}</td>
                    <td>{{ entidad.telefono | slice:0:20 }}...</td>
                    <td>{{ entidad.nit | slice:0:20 }}</td>
                    <td>{{ entidad.cuenta }}</td>
                    <td>
                      <i (click)="updateEntidad(entidad._id)" class="fas fa-edit ml-3 icono"></i>
                      <i (click)="deleteEntidad(entidad._id)" class="fas fa-trash-alt ml-3 icono"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </div>
</div>


