<!-- SERVICE-AREA START -->
<div class="service-area mt-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>ATRACTIVOS TURISTICOS</h2>
                </div>
            </div>
        </div>
        <!-- imagenes son 300px 300px -->
        <div class="row mb-3">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/1.jpg" alt="K`aspi fiesta">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- K`aspi fiesta -</span>
                                    Manifestación cultural que todavía se realiza en la ciudad intermedia de Betanzos
                                    entre el 23 y 25 de agosto de cada año durante la fiesta patronal de San Bartolomé
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/2.jpg" alt="El trueque">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- El trueque -</span>
                                    Durante la festividad de San Bartolomé aún se mantiene la costumbre ancestral del
                                    “Trueque” o intercambio de productos
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/3.jpg" alt="Festividad de la Virgen de Rosario">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Festividad de la Virgen de Rosario -</span>
                                    Festividad que se realiza desde el primer sábado del mes de octubre, en honor a los patrona del Municipio de Betanzos Virgen de Rosario
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/4.jpg" alt="Festival nacional de la papa">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Sede Social del Festival Nacional de la Papa Ley 476 -</span>
                                    Evento de vital importancia  que se realiza en el mes de mayo o fechas movibles; donde se realiza la exposición de una variedad de papa
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/5.jpg" alt="Iglesia Santa Ana de Otuyo">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Iglesia Santa Ana de Otuyo -</span>
                                    Lugar donde el primer Presidente Argentino, el Patricio Boliviano Don Cornelio Saavedra, fue bautizado y en cuyo interior aún se conserva la Pila Bautismal
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/6.jpg" alt="Pinturas rupestres">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Pinturas rupestres -</span>
                                    Existentes en los diferentes cantones del Municipio de Betanzos, siendo los más sobresalientes los petroglifos de rincón, las pinturas y petroglifos de Lajasmayu I y II, Jatun cueva y Lagunillas
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/7.jpg" alt="Cristo de Tecoya">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Cristo de Tecoya -</span>
                                    Formación rocosa y  magnífica de obra natural que muestra la forma perfecta de Jesús en posición de reflexión o meditación, con la cabeza ligeramente inclinada y el cuerpo cubierto por un manto
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/8.jpg" alt="Haciendas del Municipio de Betanzos">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Haciendas del Municipio de Betanzos -</span>
                                    El Municipio de Betanzos posee un Museo natural con un patrimonio arquitectónico cultural e histórico y por su diversa naturaleza
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/9.jpg" alt="14. Cerro Thumillki">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Cerro Thumillki -</span>
                                    El Cerro Thumillki se encuentra a una altura de unos 4.000 m.s.n.m aproximadamente, en la ciudad intermedia de Betanzos
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/10.jpg" alt="El carnaval de Betanzos">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- El carnaval de Betanzos -</span>
                                    Manifestación cultural donde se demuestra la alegría a través de la danza, vestimenta, música autóctona y folclórica; el carnaval se caracteriza por conservar la costumbre de antaño
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- SERVICE-AREA END -->