<!-- SERVICE-AREA START -->
<div class="service-area mt-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Cultura y Turismo</h2>
                </div>
            </div>
        </div>
        <!-- imagenes son 300px 300px -->
        <div class="row mb-3">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/iglesia betanzos env.png"alt="Iglesia San Bartolome de Betanzos">
                             </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Iglesia San Bartolome de Betanzos-</span>
                                    En 1912, Bartolo adopto oficalmente el nombre de villa de Betanzos en reconocimiento al gerrillero de Tecoya por lo que la parroquia llego a denominarse "San Bartolome de Betanzos"
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/lajasmayu.png"alt="La Jasmayu">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- La Jasmayu -</span>
                                    Lajasmayu se encuentra aproximadamente a 4 km al este de Betanzos. A 3,5 km del pueblo, en la carretera que va de Betanzos a Sucre
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/cristo de piedra.png"alt="Cristo de Piedra">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Cristo de Piedra -</span>
                                    El imponente Cristo de piedra tallada por la misma naturaleza, se encuentra en cantón Tecoya, aproximadamente a 20 minutos desde el municipio de Betanzos.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/huatia.png"alt="La Huatia">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- La Huatia -</span>
                                    La Huatia es un plato típico de la zona andina de nuestro país y se asemeja en su preparación a la pachamanca.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/mojotorillo.png"alt="La Hacienda de Mojotorillo">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- La Hacienda de Mojotorillo -</span>
                                    La Hacienda de Mojotorillo del Municipio de Betanzos, perteneció a la familia Hernández actualmente es propiedad de la Universidad Autónoma Tomas Frías.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/papa.png"alt="Festival Nacional de la Papa Ley 476">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Festival Nacional de la Papa Ley 476 -</span>
                                    Festival Nacional de la Papa Ley 476, es un evento de vital importancia que realiza en el mes de mayo o fechas movibles; donde se realiza la exposición de una variedad de papa.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/k'aspi fiesta.png"alt="K’aspi fiesta">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- K’aspi fiesta -</span>
                                    K’aspi fiesta manifestación cultural que todavía se realiza en el Municipio de Betanzos entre el 23, 24 y 25 de agosto de cada año durante la fiesta patronal de San Bartolomé.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/thumillki.png"alt="Cerro Thumillki">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Cerro Thumillki -</span>
                                    El Cerro Thumillki se encuentra a una altura de unos 4.000 m.s.n.m aproximadamente, en el municipio de Betanzos. 
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/otuyo templo.png"alt="Templo de Santa Ana de Otuyo">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Templo de Santa Ana de Otuyo -</span>
                                    Templo de Santa Ana de Otuyo, donde el primer Presidente Argentino, el Patricio Boliviano Don Cornelio Saavedra, fue bautizado y en cuyo interior aun se conserva la Pita Bautizado.  
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/fosiles.png"alt="Fósiles en la comunidad de Quivincha">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Fósiles en la comunidad de Quivincha -</span>
                                    Fósiles en la comunidad de Quivincha, está ubicado aproxidamente a 30 minutos del municipio de Betanzos.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/quivi quivi virgen.png"alt="Virgen de Guadalupe tallada en piedra">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>- Virgen de Guadalupe tallada en piedra -</span>
                                    Virgen de Guadalupe tallada en piedra en la comunidad de Quivi Quivi, se encuentra aproxidamente a 25 minutos desde el municipio de Betanzos.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="main-content">
                                <img src="assets/img/turistico/vestimenta paranavi.png"alt=" Traje típico">
                            </div>
                            <div class="overlay-content">
                                <p>
                                    <span>-  Traje típico -</span>
                                    Traje típico de Varón y Mujer de la comunidad de Paranavi alta del municipio de Betanzos.
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- SERVICE-AREA END -->