
<div class="blog-area margin-bottom-80">
    <div class="container">		
        <div class="row animated">
            <div class="col-lg-9 col-md-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-blog">
                            <div class="blog-photo">
                                <img class="img-fluid" src="{{ URL+'/'+post.uri }}" alt="" />
                                <div class="blog-post-date">
                                    <span>13th</span>
                                    <span>{{ post.category }}</span>
                                </div>
                            </div>
                            <div class="blog-brief">

                                <p class="blog-quote">{{ post.subtitle }}</p>
                                <p>{{ post.body }}</p>
                                <!-- <div class="like-comment">
                                    <a href="#"><i class="sp-like"></i>120 like</a>
                                    <a href="#"><i class="sp-comment"></i>60 comment</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="social-sharing">
                            <h3>Share this post</h3>
                            <div class="sharing-icon">
                                <a href="#"><i class="sp-facebook"></i></a>
                                <a href="#"><i class="sp-twitter"></i></a>
                                <a href="#"><i class="sp-linkedin"></i></a>
                                <a href="#"><i class="sp-google"></i></a>
                            </div>
                        </div>
                        <!-- <div class="author-info">
                            <div class="author-avatar"><img alt="" src="img/author.jpg"></div>
                            <div class="author-description">
                                <h3>About the Author: <a href="#">admin</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </div>	 -->
								
                    </div>						
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <!-- widget-brand start -->
                <aside class="widget widget-brand">
                    <h5 class="sidebar-title">Categorias</h5>
                    <ul>
                        <li><a href="#">Country Road</a></li>
                        <li><a href="#">H&amp;M Home</a></li>
                        <li><a href="#">Urban outfitters</a></li>
                        <li><a href="#">Zara home</a></li>
                    </ul>
                </aside>
                <!-- widget-brand end -->
                <!-- widget-top-brand start -->
                <aside class="widget top-rated">
                    <h5 class="sidebar-title">top rated</h5>
                    <div class="sidebar-product">
                        <!-- Single-product start -->
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">
                                    <img class="primary-photo" src="img/sidebar/1.png" alt=""> 
                                </a>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#">Randomised Words</a></h2>
                                <h3>$500.00 <span>$244.00</span></h3>
                            </div>
                        </div>	
                        <!-- Single-product end -->
                        <!-- Single-product start -->
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">
                                    <img class="primary-photo" src="img/sidebar/2.png" alt=""> 
                                </a>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#">CLEO POURER</a></h2>
                                <h3>$500.00 <span>$244.00</span></h3>
                            </div>
                        </div>	
                        <!-- Single-product end -->
                        <!-- Single-product start -->
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">
                                    <img class="primary-photo" src="img/sidebar/3.png" alt=""> 
                                </a>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#">TAM SPREADER</a></h2>
                                <h3>$500.00 <span>$244.00</span></h3>
                            </div>
                        </div>	
                        <!-- Single-product end -->
                        <!-- Single-product start -->
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">
                                    <img class="primary-photo" src="img/sidebar/4.png" alt=""> 
                                </a>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#">MARCEL THROW</a></h2>
                                <h3>$500.00 <span>$244.00</span></h3>
                            </div>
                        </div>	
                        <!-- Single-product end -->
                        <!-- Single-product start -->
                        <div class="single-product">
                            <div class="product-photo">
                                <a href="#">
                                    <img class="primary-photo" src="img/sidebar/5.png" alt=""> 
                                </a>
                            </div>
                            <div class="product-brief">
                                <h2><a href="#">RLIE EXTRA SMALL</a></h2>
                                <h3>$500.00 <span>$244.00</span></h3>
                            </div>
                        </div>	
                        <!-- Single-product end -->
                    </div>
                </aside>
                <!-- widget-top-brand end -->
                <!-- widget sidebar-banner start -->
                <aside class="widget sidebar-banner margin-mbl">
                    <a href="#"><img src="img/banner/sidebar-1.jpg" alt=""></a>
                </aside>
                <!-- widget sidebar-banner start -->
            </div>
        </div>
    </div>
</div>
