<div class="page-banner-area photo-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">Gaceta Municipal</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">Gaceta Municipal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <i class="fas fa-arrow-left atras" (click)="goBack()"> Atras</i>
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3 p-3 rounded">
                    <div class="card-header rounded">
                        <div class="title my-1  text-center">Gaceta Municipal</div>
                        <p>En esta sección usted podrá encontrar Leyes, Decretos Municipales, Decretos Ediles, Ordenanzas Municipales y Resoluciónes Municipales  </p>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="row m-3">
                                <div class="col-md-8">
                                    <input type="search" placeholder="Buscar Documento" class="form-control" #termino (keyup)="buscar(termino.value)">
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" #selectTermino (change)="filtrar(selectTermino.value)">
                                        <option value="" selected>Seleccionar Tipo de Documento</option>
                                        <option value="Ley">Leyes Municipales</option>
                                        <option value="Ordenanza Municipal">Ordenanzas Municipales</option>
                                        <option value="Decreto Municipal">Decretos Municipales</option>
                                        <option value="Decreto Edil">Decretos Ediles</option>
                                        <option value="Resolución Municipal">Otros</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" *ngFor="let gaceta of gacetas.serverResponse">
                                <div class="card shadow">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <div class="m-3">
                                            <h3 class="media-heading" style="padding-top: 0px;border:0px;margin: 0 0 5px 0;font-size:12pt;">
                                                <a style="font-weight: 700" href="{{ URL+'/'+gaceta.uri }}" target="_blank">{{ gaceta.titulo }} {{ gaceta.numero }}</a>

                                            </h3>
                                            <p class="text-justify mx-2">{{ gaceta.detalle }}</p>

                                            <span style="font-size:0.8em;font-weight:300" class="text-muted ">
                                                <i class="fas fa-calendar-alt mr-1"></i> Fecha de Publicación {{ gaceta.createdAt | date:'medium'}}
                                            </span>
                                            <span style="font-size:0.8em;font-weight:300" class="text-muted ">
                                                <i class="fas fa-calendar-alt mr-1"></i> Fecha de Aprobación {{ gaceta.fecha | date:'mediumDate'}}
                                            </span>
                                        </div>
                                        <div class="mx-2">
                                            <a class="btn btn-primary btn-sm" href="{{ URL+'/'+gaceta.uri }}" target="_blank">Descargar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
