<div class="page-banner-area photo-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">Gaceta Oficial</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">Gaceta Oficial</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3 shadow p-3 rounded">
                    <div class="card-header rounded">
                        <div class="title my-1  text-center">Gaceta</div>
                        <p>En esta sección usted podrá encontrar Decretos Municipales, Decretos Ediles y Decretos Ejecutivos</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card shadow">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <div class="mx-2">
                                            <img class="img-fluid" alt="Icono" src="/assets/img/docDownload.png" width="60px">
                                        </div>
                                        <div>
                                            <h3 class="media-heading" style="padding-top: 0px;border:0px;margin: 0 0 5px 0;font-size:12pt;">
                                                <a style="font-weight: 700" href="http://potosi.bo/download/dai-nro-08-2022/">DAI NRO 08/2022</a>
                                                <span style="font-size:8pt;font-weight:300" class="text-muted ml-4">
                                                    <i class="fas fa-hdd mr-1"></i> 101.70 KB
                                                </span>
                                            </h3>
                                            RESUMEN EJECUTIVO DEL INFORME DAI NRO. 08/2022 RELATIVO A LA AUDITORIA DE CUMPLIMIENTO.. .
                                        </div>
                                        <div>
                                            <button class="btn btn-primary mx-2">Descargar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card shadow">
                                    <div class="d-flex justify-content-around align-items-center">
                                        <div class="mx-2">
                                            <img class="img-fluid" alt="Icono" src="/assets/img/docDownload.png" width="60px">
                                        </div>
                                        <div>
                                            <h3 class="media-heading" style="padding-top: 0px;border:0px;margin: 0 0 5px 0;font-size:12pt;">
                                                <a style="font-weight: 700" href="http://potosi.bo/download/dai-nro-08-2022/">DAI NRO 08/2022</a>
                                                <span style="font-size:8pt;font-weight:300" class="text-muted ml-4">
                                                    <i class="fas fa-hdd mr-1"></i> 101.70 KB
                                                </span>
                                            </h3>
                                            RESUMEN EJECUTIVO DEL INFORME DAI NRO. 08/2022 RELATIVO A LA AUDITORIA DE CUMPLIMIENTO.. .
                                        </div>
                                        <div>
                                            <button class="btn btn-primary mx-2">Descargar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">3</div>
                            <div class="col-md-6">4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>