<div class="container">
  <div class="m-3">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Nueva Entrada a Almacén</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <form [formGroup]="carpetaForm">



                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="gestion"><b> Gestion</b></span>
                    <select id="gestion" formControlName="gestion" class="form-select" required>
                      <option value="2023" [defaultSelected]="true">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                      <option value="2019">2019</option>
                    </select>
                    <div class="form-text" *ngIf="form['gestion'].touched && form['gestion'].invalid">
                      <div *ngIf="form['gestion'].errors && form['gestion'].errors['required']">* Fecha de
                        Contrato es Requerido.</div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq"><b>Objeto *</b></span>
                    <textarea id="objeto" class="form-control" type="text" formControlName="objeto"></textarea>
                    <div class="form-text" *ngIf="form['objeto'].touched && form['objeto'].invalid">
                      <div *ngIf="
                          form['objeto'].errors &&
                          form['objeto'].errors['required']
                        ">
                        * la Glosa es Requerida.
                      </div>
                      <div *ngIf="
                          form['objeto'].errors &&
                          form['objeto'].errors['minlength']
                        ">
                        * la Glosa no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="tomo"><b>Tomo *</b></span>
                    <input id="tomo" class="form-control" type="text" formControlName="tomo" />
                    <div class="form-text" *ngIf="form['tomo'].touched && form['tomo'].invalid">
                      <div *ngIf="
                          form['tomo'].errors &&
                          form['tomo'].errors['required']
                        ">
                        * El Tomo es Requerido.
                      </div>
                      <div *ngIf="
                          form['tomo'].errors &&
                          form['tomo'].errors['minlength']
                        ">
                        * El Tomo no puede tener menos de 7 caracteres.
                      </div>
                    </div>
                  </div>


                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="numero"><b>Numero</b></span>
                    <input id="numero" class="form-control" type="number" formControlName="numero" />
                    <div class="form-text" *ngIf="form['numero'].touched && form['numero'].invalid">
                      <div *ngIf="form['numero'].errors && form['numero'].errors['required']">
                        * El numero es Requerido.
                      </div>
                      <div *ngIf="form['numero'].errors && form['numero'].errors['minlength']">
                        * El numero no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="lugar"><b>Lugar *</b></span>
                    <input id="lugar" class="form-control" type="text" formControlName="lugar" />
                    <div class="form-text" *ngIf="form['lugar'].touched && form['lugar'].invalid">
                      <div *ngIf="
                          form['lugar'].errors &&
                          form['lugar'].errors['required']
                        ">
                        * El lugar es Requerido.
                      </div>
                      <div *ngIf="
                          form['lugar'].errors &&
                          form['lugar'].errors['minlength']
                        ">
                        * El Tomo no puede tener menos de 7 caracteres.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="ubicacion"><b>Ubicacion *</b></span>
                    <input id="ubicacion" class="form-control" type="text" formControlName="ubicacion" />
                    <div class="form-text" *ngIf="form['ubicacion'].touched && form['ubicacion'].invalid">
                      <div *ngIf="
                          form['ubicacion'].errors &&
                          form['ubicacion'].errors['required']
                        ">
                        * El ubicacion es Requerido.
                      </div>
                      <div *ngIf="
                          form['ubicacion'].errors &&
                          form['ubicacion'].errors['minlength']
                        ">
                        * El Tomo no puede tener menos de 7 caracteres.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="area"><b> Area</b></span>
                    <select id="area" formControlName="area" class="form-select" (change)="actualizarSegundoSelect()" required>
                      <option value="" [defaultSelected]="true">Elija una opción</option>
                      <option *ngFor="let area of areas.list" value="{{ area.slug }}" >{{ area.name }}</option>
                    </select>
                    <div class="form-text" *ngIf="form['area'].touched && form['area'].invalid">
                      <div *ngIf="form['area'].errors && form['area'].errors['required']">* Fecha de
                        Contrato es Requerido.</div>
                    </div>
                  </div>

                  <div class="input-group mb-1" *ngIf="carpetaForm.value.area">
                    <span class="input-group-text izq" id="tipo"><b> Tipo</b></span>
                    <select id="tipo" formControlName="tipo" class="form-select" required>
                      <option value="" [defaultSelected]="true">Elija una opción</option>
                      <option *ngFor="let tipo of tipos" value="{{ tipo }}">{{ tipo }}</option>
                    </select>
                    <div class="form-text" *ngIf="form['tipo'].touched && form['tipo'].invalid">
                      <div *ngIf="form['tipo'].errors && form['tipo'].errors['required']">* Fecha de
                        Contrato es Requerido.</div>
                    </div>
                  </div>

                                    <div class="input-group mb-1">
                    <span class="input-group-text izq" id="ubicacion"><b>Ubicacion *</b></span>
                    <input id="ubicacion" class="form-control" type="text" formControlName="ubicacion" />
                    <div class="form-text" *ngIf="form['ubicacion'].touched && form['ubicacion'].invalid">
                      <div *ngIf="
                          form['ubicacion'].errors &&
                          form['ubicacion'].errors['required']
                        ">
                        * El ubicacion es Requerido.
                      </div>
                      <div *ngIf="
                          form['ubicacion'].errors &&
                          form['ubicacion'].errors['minlength']
                        ">
                        * El Tomo no puede tener menos de 7 caracteres.
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-text izq" id="archivo"><b>Archivo *</b></span>
                    <input class="form-control" id="archivo" type="file" name="archivo" id="archivo" accept="archivo/*"
                      formControlName="archivo" (change)="onChange($event)" />
                    <div class="form-text" *ngIf="form['archivo'].touched && form['archivo'].invalid">
                      <div *ngIf="
                          form['archivo'].errors &&
                          form['archivo'].errors['required']
                        ">
                        * El archivo es Requerido.
                      </div>
                    </div>
                    <div class="progress mt-1" *ngIf="progress > 0">
                      <div class="progress-bar bg-danger" role="progressbar" [style.width]="progress + '%'"
                        aria-valuemin="0" aria-valuemax="100">
                        {{ progress + "%" }}
                      </div>
                    </div>
                  </div>



                  <div class="input-group mb-1">
                    <span class="input-group-text izq"><b>Observaciones </b></span>
                    <textarea id="observaciones" class="form-control" type="text" formControlName="observaciones"></textarea>
                    <div class="form-text" *ngIf="form['observaciones'].touched && form['observaciones'].invalid">
                      <div *ngIf="
                          form['observaciones'].errors &&
                          form['observaciones'].errors['required']
                        ">
                        * la Glosa es Requerida.
                      </div>
                      <div *ngIf="
                          form['observaciones'].errors &&
                          form['observaciones'].errors['minlength']
                        ">
                        * la observaciones no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>


                  <!-- <div class="input-group mb-1">
                    <span class="input-group-text" id="plazo"><b>Fecha de Registro *</b></span>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha">
                    <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
                      <div *ngIf="form['fecha'].errors && form['fecha'].errors['required']">* fecha
                        es Requerido.</div>
                    </div>
                  </div> -->

                  <!-- <div class="input-group mb-1">
                    <span class="input-group-text" id="plazo"><b>Proveedor *</b></span>
                    <ngx-select style="min-width: 450px;" [allowClear]="true" [items]="proveedores"
                      optionTextField="representante" optionValueField="_id" placeholder="Seleccione un Proveedor"
                      formControlName="idProveedor" (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;({{option.data.razon_social}})
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form['idProveedor'].touched && form['idProveedor'].invalid">
                      <div *ngIf="
                      form['idProveedor'].errors &&
                      form['idProveedor'].errors['required']
                    ">
                        * El proveedor es Requerido.
                      </div>
                    </div>
                    <div class="align-self-end ml-2">
                      <button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                        data-bs-target="#proveedor"><i class="fas fa-plus"></i></button>
                    </div>
                  </div> -->

                  <!-- <div class="input-group mb-1">

                    <span class="input-group-text" id="plazo"><b>Funcionario Solicitante *</b></span>

                    <ngx-select style="min-width: 400px;" [allowClear]="true" [items]="funcionarios"
                      optionTextField="username" optionValueField="_id" placeholder="Seleccione un Funcionario"
                      formControlName="idPersona" (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;{{option.data.surnames}}
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form['idPersona'].touched && form['idPersona'].invalid">
                      <div *ngIf="
                          form['idPersona'].errors &&
                          form['idPersona'].errors['required']
                        ">
                        * El proveedor es Requerido.
                      </div>
                    </div>
                  </div> -->




                  <hr>
                  <!-- <div class="mb-1">
                    <label for="checkGasolina" class="form-label col-auto">Compra de Lubricante</label>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="checkGasolina" id="checkGasolina" value="si"
                        (change)="changeGasolina($event)">
                      <label class="form-check-label" for="checkGasolina">SI</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="checkGasolina" id="checkGasolina" value="no"
                        (change)="changeGasolina2($event)">
                      <label class="form-check-label" for="checkGasolina">NO</label>
                    </div>
                  </div> -->

                  <!-- <div class="mb-1" *ngIf="gaso">
                    <div class="input-group mb-1">
                      <span class="input-group-text" id="plazo"><b>Vehículo *</b></span>
                      <ngx-select style="min-width: 450px;" [allowClear]="true" [items]="vehiculos"
                        optionTextField="placa" optionValueField="_id" placeholder="Seleccione un Vehículo"
                        formControlName="vehiculo" (select)="doSelect($event)">
                        <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                          <span [innerHtml]="text"></span>
                          &nbsp;({{option.data.tipo}})
                        </ng-template>
                      </ngx-select>
                      <div class="form-text" *ngIf="form['vehiculo'].touched && form['vehiculo'].invalid">
                        <div *ngIf="form['vehiculo'].errors && form['vehiculo'].errors['required']">
                          * La categoria programatica es Requerida.
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-1">
                      <span class="input-group-text" id="plazo"><b>Motivo</b></span>
                      <input id="motivo" class="form-control" type="text" formControlName="motivo" />
                      <div class="form-text" *ngIf="form['motivo'].touched && form['motivo'].invalid">
                        <div *ngIf="
                            form['motivo'].errors &&
                            form['motivo'].errors['required']
                          ">
                          * la Glosa es Requerida.
                        </div>
                        <div *ngIf="
                            form['motivo'].errors &&
                            form['motivo'].errors['minlength']
                          ">
                          * la Glosa no puede tener menos de 3 caracteres.
                        </div>
                      </div>
                    </div>


                  </div> -->

                  <!-- <div class="input-group mb-1">
                    <span class="input-group-text" id="plazo"><b>Categoría Programatica *</b></span>
                    <ngx-select style="min-width: 450px;" [allowClear]="true" [items]="catProgras"
                      optionTextField="codigo" optionValueField="cat_programatica"
                      placeholder="Seleccione una Categoría Programatica" formControlName="categoriaProgra"
                      (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;({{option.data.proyect_acti}})
                      </ng-template>
                      <div class="form-text" *ngIf="form['categoriaProgra'].touched && form['categoriaProgra'].invalid">
                        <div *ngIf="
                            form['categoriaProgra'].errors &&
                            form['categoriaProgra'].errors['required']
                          ">
                          * La categoria programatica es Requerida.
                        </div>
                      </div>
                    </ngx-select>
                  </div> -->

                  <!-- <div class="input-group mb-1">
                    <span class="input-group-text" id="plazo"><b>Numero de Factura *</b></span>
                    <input id="numeroFactura" class="form-control" type="text" formControlName="numeroFactura" />
                    <div class="form-text" *ngIf="form['numeroFactura'].touched && form['numeroFactura'].invalid">
                      <div *ngIf="
                          form['numeroFactura'].errors &&
                          form['numeroFactura'].errors['required']
                        ">
                        * El numero de factura es Requerido.
                      </div>
                      <div *ngIf="
                          form['numeroFactura'].errors &&
                          form['numeroFactura'].errors['minlength']
                        ">
                        * El numero de factura no puede tener menos de 7 caracteres.
                      </div>
                    </div>
                  </div> -->


                </form>
                <!-- {{ carpetaForm.value | json }} -->
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<!-- <div class="modal fade" id="proveedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="proveedorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="proveedorLabel">
          Registrar Proveedor
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="crearProveedor(proveedorForm.value)" [formGroup]="proveedorForm">
          <div class="mb-1">
            <label for="representante" class="form-label col-md-auto">Representante *</label>
            <input id="representante" class="form-control" type="text" formControlName="representante" />
          </div>

          <div class="mb-1">
            <label for="compania" class="form-label col-md-auto">Compañia</label>
            <input id="compania" class="form-control" type="text" formControlName="compania" />
          </div>

          <div class="mb-1">
            <label for="razon_social" class="form-label col-md-auto">Razon Social *</label>
            <input id="razon_social" class="form-control" type="text" formControlName="razon_social" />
          </div>

          <div class="mb-1">
            <label for="nit" class="form-label col-md-auto">Nit *</label>
            <input id="nit" class="form-control" type="number" formControlName="nit" />
          </div>

          <div class="mb-1">
            <label for="telefono" class="form-label col-md-auto">Telefono *</label>
            <input id="telefono" class="form-control" type="number" formControlName="telefono" />
          </div>

          <div class="mb-1">
            <label for="direccion" class="form-label col-md-auto">Dirección</label>
            <input id="direccion" class="form-control" type="text" formControlName="direccion" />
          </div>

          <div class="mb-1">
            <label for="ciudad" class="form-label col-md-auto">Ciudad</label>
            <input id="ciudad" class="form-control" type="text" formControlName="ciudad" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="proveedorForm.invalid">
              Registrar
            </button>
          </div>
          {{ proveedorForm.value | json }}
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- End Modal -->
