<h2 mat-dialog-title>{{ inputData.title }}</h2>
<mat-dialog-content class="mat-typography">

    <mat-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Paso 1</ng-template>

                <app-select-year [control]="firstFormGroup.get('gestion')" [texto]="'Gestión'"
                    [clases]="'full-width'"></app-select-year>

            
                <mat-form-field class="full-width">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="idTipo" (selectionChange)="tipoChange($event.value)" required>
                        <mat-option *ngFor="let tipo of tipos()" [value]="tipo._id">
                            {{tipo.nombreTipo | uppercase}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="subTipos()">
                    <mat-label>Sub Tipo</mat-label>
                    <mat-select formControlName="idSubTipo">
                        <mat-option *ngFor="let subTipo of subTipos()" [value]="subTipo._id">
                            {{subTipo.nombreSubTipo | uppercase}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>


                <section class="d-flex justify-content-between" *ngIf="!isOtherUnidad()">
                    <span *ngIf="dependencia()"><b>Unidad Funcional:</b> {{ dependencia().descripcion }}</span>
                    <mat-checkbox class="example-margin mr-3" (change)="otherUnidad($event)">Cambiar</mat-checkbox>
                </section>
                <div *ngIf="isOtherUnidad()">
                    <mat-form-field class="full-width">
                        <mat-label>Unidad Funcional</mat-label>
                        <mat-select formControlName="idDependencia" required>
                            <mat-option *ngFor="let dependencia of dependencias()" [value]="dependencia._id">
                                {{ dependencia.descripcion | uppercase }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>badge</mat-icon>
                    </mat-form-field>
                </div>


                <div>
                    <!-- (click)="buscarUltimo(firstFormGroup.value)" -->
                    <button mat-raised-button color="primary" [disabled]="firstFormGroup.invalid"
                        matStepperNext>Siguiente</button>
                </div>

                <pre>{{firstFormGroup.value | json}}</pre>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="true">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Paso 2</ng-template>
                <p class="text-center mt-2">
                    Tipo de Destino:
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle class="mat-button-toggle-appearance-standard.mat-button-toggle-checked"
                            value="Interno" (change)="tipoDestino($event)" checked>Interno</mat-button-toggle>
                        <mat-button-toggle value="Externo" (change)="tipoDestino($event)">Externo</mat-button-toggle>
                    </mat-button-toggle-group>
                </p>


                <section class="example-section">
                    <label class="example-margin">Genero:</label>
                    <mat-radio-group>
                        <mat-radio-button class="mat-radio-button mx-3" (change)="isMr('Señor')" value="after"
                            checked>Señor</mat-radio-button>
                        <mat-radio-button class="mat-radio-button mx-3" (change)="isMrs('Señora')"
                            value="before">Señora</mat-radio-button>
                    </mat-radio-group>
                </section>

                <div *ngIf="isUser() ; else isUserExterno">
                    <mat-form-field class="full-width">
                        <mat-label>Para:</mat-label>
                        <input matInput aria-label="Via" [matAutocomplete]="auto" formControlName="nombreDestino">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="onFuncionarioSelected($event.option.value)">
                            @for (funcionario of filteredDestinoFuncionarios | async; track funcionario) {
                            <mat-option [value]="funcionario.post">
                                <span> {{funcionario.post}}</span> |
                                <small>Funcionario: {{funcionario.username}} {{funcionario.surnames}}</small>
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <ng-template #isUserExterno>
                    <mat-form-field class="full-width">
                        <mat-label>Nombre de Destino</mat-label>
                        <input matInput placeholder="Ej. Stria Mcpal Administrativa Financiera"
                            formControlName="nombreDestino" type="text">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error
                            *ngIf="formSecond['nombreDestino'].hasError('required') && formSecond['nombreDestino'].touched">
                            El cargo del destino es obligatorio.
                        </mat-error>
                        <mat-error
                            *ngIf="formSecond['nombreDestino'].hasError('nombreDestino') && formSecond['nombreDestino'].touched">
                            El cargo del destino debe ser valido.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Cargo de Destino</mat-label>
                        <input matInput placeholder="Ej. Stria Mcpal Administrativa Financiera"
                            formControlName="cargoDestino" type="text">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error
                            *ngIf="formSecond['cargoDestino'].hasError('required') && formSecond['cargoDestino'].touched">
                            El cargo del destino es obligatorio.
                        </mat-error>
                        <mat-error
                            *ngIf="formSecond['cargoDestino'].hasError('cargoDestino') && formSecond['cargoDestino'].touched">
                            El cargo del destino debe ser valido.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Entidad de Destino</mat-label>
                        <input matInput placeholder="Ej. " formControlName="entidadDestino" type="text">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error
                            *ngIf="formSecond['entidadDestino'].hasError('required') && formSecond['entidadDestino'].touched">
                            El cargo del destino es obligatorio.
                        </mat-error>
                        <mat-error
                            *ngIf="formSecond['entidadDestino'].hasError('entidadDestino') && formSecond['entidadDestino'].touched">
                            El cargo del destino debe ser valido.
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="full-width">
                        <mat-label>Lugar de Destino</mat-label>
                        <input matInput placeholder="Ej. La Paz" formControlName="lugarDestino" type="text">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error
                            *ngIf="formSecond['lugarDestino'].hasError('required') && formSecond['lugarDestino'].touched">
                            El cargo del destino es obligatorio.
                        </mat-error>
                        <mat-error
                            *ngIf="formSecond['lugarDestino'].hasError('lugarDestino') && formSecond['lugarDestino'].touched">
                            El cargo del destino debe ser valido.
                        </mat-error>
                    </mat-form-field>

                </ng-template>




                <section class="text-center" *ngIf="!isVia()">
                    <mat-checkbox class="example-margin mr-3" (change)="via($event)">Via</mat-checkbox>
                </section>
                <div *ngIf="isVia()">
                    <mat-form-field class="full-width">
                        <mat-label>Via/De</mat-label>
                        <input matInput aria-label="Via" [matAutocomplete]="auto" formControlName="via">
                        <mat-autocomplete #auto="matAutocomplete">
                            @for (funcionario of filteredFuncionarios | async; track funcionario) {
                            <mat-option [value]="funcionario._id">
                                <span> {{funcionario.post}}</span> |
                                <small>Funcionario: {{funcionario.username}} {{funcionario.surnames}}</small>
                            </mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <mat-form-field class="full-width">
                    <mat-label>Referencia</mat-label>
                    <textarea matInput formControlName="referencia"></textarea>
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error
                        *ngIf="formSecond['referencia'].hasError('required') && formSecond['referencia'].touched">
                        La referencia es obligatoria.
                    </mat-error>
                    <mat-error
                        *ngIf="formSecond['referencia'].hasError('referencia') && formSecond['referencia'].touched">
                        La referencia debe ser valida.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="inline">
                    <mat-label>Fojas</mat-label>
                    <input matInput placeholder="Ej. Stria Mcpal Administrativa Financiera" formControlName="fsAdjunto"
                        type="text">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="formSecond['fsAdjunto'].hasError('required') && formSecond['fsAdjunto'].touched">
                        El cargo del destino es obligatorio.
                    </mat-error>
                    <mat-error *ngIf="formSecond['fsAdjunto'].hasError('fsAdjunto') && formSecond['fsAdjunto'].touched">
                        El cargo del destino debe ser valido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="inline right">
                    <mat-label># Hoja de Ruta</mat-label>
                    <input matInput placeholder="Ej. Stria Mcpal Administrativa Financiera" formControlName="hojaRuta"
                        type="number">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="formSecond['hojaRuta'].hasError('required') && formSecond['hojaRuta'].touched">
                        El cargo del destino es obligatorio.
                    </mat-error>
                    <mat-error *ngIf="formSecond['hojaRuta'].hasError('hojaRuta') && formSecond['hojaRuta'].touched">
                        El cargo del destino debe ser valido.
                    </mat-error>
                </mat-form-field>

                <div>
                    <button mat-raised-button matStepperPrevious>Atras</button>
                    <button mat-raised-button color="primary" [disabled]="secondFormGroup.invalid"
                        matStepperNext>Siguiente</button>
                </div>
                <pre>{{secondFormGroup.value | json}}</pre>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>

    </mat-stepper>

</mat-dialog-content>

<mat-dialog-actions align="end">
    {{ cite() }} hola
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="createCorrespondencia()" [mat-dialog-close]="true"
        [disabled]="!secondFormGroup.valid || !firstFormGroup.valid" cdkFocusInitial>Registrar</button>
</mat-dialog-actions>