<div class="container">
  <div class="m-3">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Seleccionar Entidad</h3>
          </div>
  
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <form (ngSubmit)="crearEntidad(entidadForm.value)" [formGroup]="entidadForm">
                  <div class="mb-1">
                    <label for="codigo" class="form-label">Codigo *</label>
                    <input type="number" class="form-control" id="codigo" formControlName="codigo" required>
                    <div class="form-text " *ngIf="form['codigo'].touched && form['codigo'].invalid">
                      <div *ngIf="form['codigo'].errors && form['codigo'].errors['required']">* El codigo de la entidad es
                        Requerido.</div>
                      <div *ngIf="form['codigo'].errors && form['codigo'].errors['minlength']">El codigo de la entidad
                        no puede tener menos de 3 caracteres.</div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <label for="sigla" class="form-label">Sigla *</label>
                    <input type="text" class="form-control" id="sigla" formControlName="sigla" required>
                    <div class="form-text " *ngIf="form['sigla'].touched && form['sigla'].invalid">
                      <div *ngIf="form['sigla'].errors && form['sigla'].errors['required']">* La sigla de la entidad es
                        Requerido.</div>
                      <div *ngIf="form['sigla'].errors && form['sigla'].errors['minlength']">La sigla de la entidad
                        no puede tener menos de 3 caracteres.</div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <label for="denominacion" class="form-label">Denominacion *</label>
                    <input type="text" class="form-control" id="denominacion" formControlName="denominacion" required>
                    <div class="form-text " *ngIf="form['denominacion'].touched && form['denominacion'].invalid">
                      <div *ngIf="form['denominacion'].errors && form['denominacion'].errors['required']">* La denominacion de la entidad es
                        Requerido.</div>
                      <div *ngIf="form['denominacion'].errors && form['denominacion'].errors['minlength']">La denominacion de la entidad
                        no puede tener menos de 3 caracteres.</div>
                    </div>
                  </div>


                  <div class="mt-3 d-flex justify-content-around">
                    <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
                    <button [disabled]="entidadForm.invalid" type="submit" class="btn btn-primary">Registrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
