<div class="m-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow p-1 mb-5 bg-body rounded">
        <div class="accordion-body">
          <form [formGroup]="searchForm">
            <div class="row form-smaller">
              <!-- <div class="col-auto">
                <span class=""><b>Tipo de Gasto</b></span>
                <div class="input-group input-group-sm">
                  <ngx-select [allowClear]="true" [items]="convenios" optionTextField="denominacion"
                    optionValueField="denominacion" placeholder="Seleccione tipo de gasto" formControlName="tipoGasto">
                    <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                      <span [innerHtml]="text"></span>
                    </ng-template>
                  </ngx-select>
                </div>
              </div> -->

            <!--   <div class="col-auto">
                <span class=""><b>Tipo de Fondo</b></span>
                <div class="input-group input-group-sm">
                  <ngx-select [allowClear]="true" [items]="convenios" optionTextField="denominacion"
                    optionValueField="denominacion" placeholder="Seleccione Tipo de Fondo" formControlName="tipoFondo">
                    <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                      <span [innerHtml]="text"></span>
                    </ng-template>
                  </ngx-select>
                </div>
              </div> -->
          <!--     <div class="col-auto">
                <button (click)="getConvenios()" class="btn btn-success" [disabled]="searchForm.invalid"
                  style="
                              --bs-btn-padding-y: 0.25rem;
                              --bs-btn-font-size: 0.75rem;
                            ">
                  Buscar
                </button>
              </div> -->
              <!-- <div class="col-auto">
                <button (click)="resetFormSearch()" class="btn btn-info" [disabled]="searchForm.invalid" style="
                              --bs-btn-padding-y: 0.25rem;
                              --bs-btn-font-size: 0.75rem;
                            ">
                  Limpiar
                </button>
              </div>
              <div class="col-auto center text-center">
                <a class="fas fa-file-pdf icono iconoRed" (click)="printGasto(searchForm.value)"
                  title="Vista Previa"><br>
                  <p>Vista Previa</p>
                </a>
              </div> -->
            </div>
            <!-- {{ searchForm.value | json }} -->
          </form>
        </div>
        <div class="card-header">
          <h3 class="card-title">Lista de Convenios</h3>
          <div class="card-tools d-flex flex-row">
            <div class="input-group input-group-sm" style="width: 200px">
              <input type="text" (keyup)="filtrarConvenios()" [(ngModel)]="search" name="table_search"
                class="form-control float-right" placeholder="Filtrar" />

            </div>
            <button (click)="addConvenio()" class="btn btn-primary ml-5">Agregar Nuevo Convenio</button>
            <!-- <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div> -->
          </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body table-responsive p-1 lh-1">
          <table class="table  table-hover  table-striped">
            <thead class="text-center">
              <tr>
                <th>Acciones</th>
                <th>Fecha Firma</th>
                <th>Número/Código</th>
                <th>Nombre</th>
                <th>Proyecto/Actividad</th>
                <th>Entidades Suscritas</th>
                <!-- <th>Transferencias</th> -->
                <th>Fecha de Finalización</th>
                <th>Estado</th>
                <th>Documentos</th>
                <th>Vencimiento</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let convenio of convenios.serverResponse; let i=index" [ngSwitch]="convenio.estado">
                <td>
                  <div class="dropdown-center" title="Ver Acciones">
                    <button class="btn btn-info dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                      <li *ngIf="convenio.estado == 'REGISTRADO' && convenio.firma"><a class="dropdown-item"
                          (click)="changeStatus(convenio._id)"> <i class="fas fa-check-square mr-3 icono"> Aprobar</i>
                        </a></li>
                      <li *ngIf="convenio.estado == 'SUSCRITO'"><a class="dropdown-item"
                          (click)="addTransfe(convenio._id)"> <i class="fas fa-hand-holding-usd mr-3 icono"> Registrar
                            Transferencias</i> </a></li>
                      <li *ngIf="convenio.estado == 'SUSCRITO'"><a class="dropdown-item"
                          (click)="seeTransfe(convenio._id)"> <i class="fas fa-money-check-alt mr-3 icono"> Ver
                            Transferencias</i> </a></li>
                      <li><a class="dropdown-item" (click)="addFile(convenio._id)"> <i
                            class="fas fa-folder-plus mr-3 icono"> Añadir Archivo</i> </a></li>
                      <li><a class="dropdown-item" (click)="updateConvenio(convenio._id)"> <i
                            class="fas fa-edit mr-3 icono"> Modificar</i> </a></li>
                      <li><a class="dropdown-item" (click)="deleteConvenio(convenio._id)"> <i
                            class="fas fa-trash-alt mr-3 icono"> Eliminar</i> </a></li>
                      <!-- <li><a class="dropdown-item">Action three</a></li> -->
                    </ul>

                  </div>
                  <!-- <i (click)="updateConvenio(convenio._id)" class="fas fa-edit ml-3 icono" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Modificar"></i>
                  <i (click)="deleteConvenio(convenio._id)" class="fas fa-trash-alt ml-3 icono"></i>
                  <i (click)="addFile(convenio._id)" class="fas fa-folder-plus ml-3 icono"></i>
                  <i (click)="addTransfe(convenio._id)" class="fas fa-hand-holding-usd ml-3 icono"></i> -->
                </td>
                <td>
                  <i *ngIf="convenio.firma">{{ convenio.firma | date:'shortDate': 'UTC' }} </i>
                  <i *ngIf="!convenio.firma">Sin firma</i>
                </td>
                <td>{{ convenio.codigo }}</td>
                <td>{{ convenio.nombre }}</td>
                <td>{{ convenio.objeto }}</td>
                <td class="text-nowrap">
                  <i *ngFor="let entidad of convenio.financiadoras">
                    {{ entidad.tipo }} - {{ entidad.entidad.denominacion }} - {{entidad.monto }} Bs<br>
                  </i>
                </td>
                <!-- <td>
                  <i *ngFor="let transferencia of convenio.transferencia">
                     {{ transferencia.entidad }} - {{ transferencia.importe }}<br>
                  </i>
                </td> -->

                <td>
                  <samp *ngIf="convenio.firma"> {{ sumarDias(convenio.firma, convenio.plazo) | date: 'shortDate'
                    }}</samp>
                  <i *ngIf="!convenio.firma">En Registro</i>
                </td>
                <td>
                  <span *ngSwitchCase="'REGISTRADO'" class="badge text-bg-warning textEstado">{{ convenio.estado
                    }}</span>
                  <span *ngSwitchCase="'SUSCRITO'" class="badge text-bg-success">{{ convenio.estado }}</span>
                </td>
                <td class="text-nowrap">
                  <i *ngFor="let file of convenio.files">
                    <a href="{{ URL+'/'+file.uriconvenio }}" target="_blank">{{file.typefile}}</a>
                    <br>
                  </i>
                </td>
                <td>

                  <!-- ⭐ Caso A: Conclusión sin fecha -->
                  <span *ngIf="convenio.conclusion && convenio.fechafin === null" class="badge text-bg-warning">
                    Hasta Conclusión
                  </span>

                  <!-- ⭐ Caso B: Tiene fecha y está vencido -->
                  <span *ngIf="convenio.fechafin && calcDias(convenio.fechafin) === 'vencido'"
                    class="badge text-bg-danger">
                    Vencido
                  </span>

                  <!-- ⭐ Caso C: Tiene fecha y faltan días -->
                  <span *ngIf="convenio.fechafin && calcDias(convenio.fechafin) !== 'vencido' && !convenio.conclusion"
                    class="badge text-bg-info">
                    En {{ calcDias(convenio.fechafin) }} días
                  </span>

                  <!-- ⭐ Caso D: Conclusión CON fecha futura -->
                  <span *ngIf="convenio.conclusion && convenio.fechafin && calcDias(convenio.fechafin) !== 'vencido'"
                    class="badge text-bg-warning">
                    Hasta Conclusión
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>

