<div class="m-1">
  <div class="row">
    <div class="col-md-12">

      <div class="card shadow p-1 mb-5 bg-body rounded">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button btnAccordion" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Filtrar Búsqueda - Total Convenios: &nbsp;
                <b> {{convenios.totalDocs}}</b>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span>Encargado: &nbsp; </span>
                <span><b> encargado</b> </span>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body p-2">
                <form [formGroup]="searchForm">
                  <div class="row form-smaller">
                    <div class="col-4">
                      <span class=""><b>Entidad</b></span>
                      <div class="input-group ">
                        <ngx-select class="w-100" [allowClear]="true" [items]="entidades" optionTextField="denominacion"
                          optionValueField="_id" placeholder="Seleccione Entidad" formControlName="entidadFinan">
                          <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                            <span [innerHtml]="text"></span>
                          </ng-template>
                        </ngx-select>
                      </div>
                    </div>

                    <div class="col-auto">
                      <span class=""><b>Objetivo</b></span>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control" formControlName="objeto" placeholder="Objetivo" />
                      </div>
                    </div>
                    <div class="col-auto">
                      <span class=""><b>Tipo de Convenio</b></span>
                      <div class="input-group input-group-sm" style="width: 190px">
                        <select formControlName="convenio" class="form-select">
                          <option value="" [defaultSelected]="true">
                            Seleccione...
                          </option>
                          <option value="Intergubernativo">Intergubernativo</option>
                          <option value="Interinstitucional">Interinstitucional</option>
                          <option value="Otra">Otra</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-auto">
                      <span class=""><b>Vencimiento</b></span>
                      <div class="input-group input-group-sm" style="width: 190px">
                        <select formControlName="vencimiento" class="form-select">
                          <option value="" [defaultSelected]="true">
                            Seleccione...
                          </option>
                          <option value="activo">Activo</option>
                          <option value="true">Hasta la conclusión</option>
                          <option value="vencido">Vencido</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-auto">
                      <br> <span class="pr-4 mr-1"><b>Con Financiamiento</b></span>
                      <input class="form-check-input pointer big-checkbox" type="checkbox" role="switch"
                        id="flexSwitchCheckDefault" formControlName="financiamiento"
                        title="Con financiamiento/Sin Fianciamieto" />
                    </div>
                    <div class="col-auto">
                      <br> <button (click)="getConvenios(searchForm.value)" class="btn btn-success"
                        [disabled]="searchForm.invalid" style="
                              --bs-btn-padding-y: 0.25rem;
                              --bs-btn-font-size: 0.75rem;
                            ">
                        Buscar
                      </button>
                    </div>
                    <div class="col-auto">
                      <br><button (click)="resetFormSearch()" class="btn btn-info" [disabled]="searchForm.invalid"
                        style="
                              --bs-btn-padding-y: 0.25rem;
                              --bs-btn-font-size: 0.75rem;
                            ">
                        Limpiar
                      </button>
                    </div>
                    <div class="col-auto center text-center">
                      <br><a class="fas fa-file-pdf fa-lg icono iconoRed" (click)="printEntidades(searchForm.value)"
                        title="Imprimir"><br>
                      </a>
                    </div>
                  </div>
                  {{ searchForm.value | json }}
                </form>
              </div>
            </div>
          </div>
        </div>


        <div class="card-header">
          <h3 class="card-title">Lista de Convenios</h3>
          <div class="card-tools d-flex flex-row">
            <div class="input-group input-group-sm" style="width: 200px">
              <input type="text" (keyup)="filtrarConvenios()" [(ngModel)]="search" name="table_search"
                class="form-control float-right" placeholder="Filtrar" />

            </div>
            <button (click)="addConvenio()" class="btn btn-info"
              style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem;"> <i
                class="fas fa-plus iconoPlus"></i>Agregar Nuevo Convenio</button>
          </div>
        </div>

        <div class="row animated fadeIn fast" *ngIf="cargando">
          <div class="col-md-12">
            <div class="alert alert-info text-center">
              <h4 class="alert-heading">Cargando</h4>
              <i class="fas fa-sync-alt fa-spin"></i><br />
              <span>Por favor espere</span>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-1 lh-1">
          <table class="table  table-hover  table-striped">
            <thead class="text-center">
              <tr>
                <th>Acciones</th>
                <th>Fecha Firma</th>
                <th>Número/Código</th>
                <th>Nombre</th>
                <!-- <th>Proyecto/Actividad</th> -->
                <th>Entidades Suscritas</th>
                <!-- <th>Transferencias</th> -->
                <th>Fecha de Finalización</th>
                <th>Estado</th>
                <th>Documentos</th>
                <th>Vencimiento</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let convenio of convenios.serverResponse; let i=index" [ngSwitch]="convenio.estado">
                <td>
                  <div class="d-flex align-items-center gap-2">

                    <div class="dropdown-center p-0" title="Ver Acciones">
                      <button class="btn btn-info dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                      </button>

                      <ul class="dropdown-menu">
                        <li *ngIf="convenio.estado == 'REGISTRADO' && convenio.firma">
                          <a class="dropdown-item" (click)="changeStatus(convenio._id)">
                            <i class="fas fa-check-square mr-3 icono"></i> Aprobar
                          </a>
                        </li>

                        <li *ngIf="convenio.estado == 'SUSCRITO'">
                          <a class="dropdown-item" (click)="addTransfe(convenio._id)">
                            <i class="fas fa-hand-holding-usd mr-3 icono"></i> Registrar Transferencias
                          </a>
                        </li>

                        <li *ngIf="convenio.estado == 'SUSCRITO'">
                          <a class="dropdown-item" (click)="seeTransfe(convenio._id)">
                            <i class="fas fa-money-check-alt mr-3 icono"></i> Ver Transferencias
                          </a>
                        </li>

                        <li>
                          <a class="dropdown-item" (click)="addFile(convenio._id)">
                            <i class="fas fa-folder-plus mr-3 icono"></i> Añadir Archivo
                          </a>
                        </li>

                        <li>
                          <a class="dropdown-item" (click)="updateConvenio(convenio._id)">
                            <i class="fas fa-edit mr-3 icono"></i> Modificar
                          </a>
                        </li>

                        <li>
                          <a class="dropdown-item" (click)="deleteConvenio(convenio._id)">
                            <i class="fas fa-trash-alt mr-3 icono"></i> Eliminar
                          </a>
                        </li>
                      </ul>
                    </div>

                    <i class="far fa-eye icono" (click)="seeTransfe(convenio._id)" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Ver más Información">
                    </i>

                  </div>
                </td>

                <td>
                  <i *ngIf="convenio.firma">{{ convenio.firma | date:'shortDate': 'UTC' }} </i>
                  <i *ngIf="!convenio.firma">Sin firma</i>
                </td>
                <td>{{ convenio.codigo }}</td>
                <td>{{ convenio.nombre }}</td>
                <!-- <td>{{ convenio.objeto }}</td> -->
                <td class="text-nowrap">
                  <i *ngFor="let entidad of convenio.financiadoras">
                    {{ entidad.tipo }} - {{ entidad.entidad.denominacion }} - {{entidad.monto }} Bs<br>
                  </i>
                </td>
                <!-- <td>
                  <i *ngFor="let transferencia of convenio.transferencia">
                     {{ transferencia.entidad }} - {{ transferencia.importe }}<br>
                  </i>
                </td> -->

                <td>
                  <samp *ngIf="convenio.firma"> {{ sumarDias(convenio.firma, convenio.plazo) | date: 'shortDate'
                    }}</samp>
                  <i *ngIf="!convenio.firma">En Registro</i>
                </td>
                <td>
                  <span *ngSwitchCase="'REGISTRADO'" class="badge text-bg-warning textEstado">{{ convenio.estado
                    }}</span>
                  <span *ngSwitchCase="'SUSCRITO'" class="badge text-bg-success">{{ convenio.estado }}</span>
                </td>
                <td class="text-nowrap">
                  <i *ngFor="let file of convenio.files">
                    <a href="{{ URL+'/'+file.uriconvenio }}" target="_blank">{{file.typefile}}</a>
                    <br>
                  </i>
                </td>
                <td>

                  <!-- ⭐ Caso A: Conclusión sin fecha -->
                  <span *ngIf="convenio.conclusion && convenio.fechafin === null" class="badge text-bg-warning">
                    Hasta Conclusión
                  </span>

                  <!-- ⭐ Caso B: Tiene fecha y está vencido -->
                  <span *ngIf="convenio.fechafin && calcDias(convenio.fechafin) === 'vencido'"
                    class="badge text-bg-danger">
                    Vencido
                  </span>

                  <!-- ⭐ Caso C: Tiene fecha y faltan días -->
                  <span *ngIf="convenio.fechafin && calcDias(convenio.fechafin) !== 'vencido' && !convenio.conclusion"
                    class="badge text-bg-info">
                    En {{ calcDias(convenio.fechafin) }} días
                  </span>

                  <!-- ⭐ Caso D: Conclusión CON fecha futura -->
                  <span *ngIf="convenio.conclusion && convenio.fechafin && calcDias(convenio.fechafin) !== 'vencido'"
                    class="badge text-bg-warning">
                    Hasta Conclusión
                  </span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>

      <div class="text-center">
              <button
                (click)="cambiarPagina(-1, searchForm.value)"
                *ngIf="page > 1"
                class="btn btn-info text-sm"
              >
                <i class="fas fa-chevron-left"></i> Anterior
              </button>
              &nbsp;
              {{ page }} de {{ totalPages }}
              &nbsp;
              <button
                (click)="cambiarPagina(1, searchForm.value)"
                *ngIf="page < totalPages"
                class="btn btn-info text-sm"
              >
                Siguiente <i class="fas fa-chevron-right"></i>
              </button>
            </div>
      <!-- /.card -->

    </div>
  </div>
</div>