<div class="page-banner-area photo-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">SERVICIO LEGAL INTEGRAL MUNICIPAL</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">Servicio Legal Integral Municipal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3 shadow p-3 rounded">
                    <div class="card-header rounded">
                        <div class="title my-1  text-center">Servicio Legal Integral Municipal</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>OBJETIVO</h3>
                                <p class="text">Orientar, guiar y uniformar los criterios en prevención, atención y
                                    protección a las mujeres víctimas de violencia en los servicios de psicología, área
                                    legal y área social. </p>
                                <h3>FUNCIONES </h3>
                                <p class="text">El SLIM realiza acciones de prevención, protección y atención de casos
                                    de Violencia en Razon de Genero.
                                    En la fase de atención se establece el primer contacto con la víctima de VRG
                                    otorgándole contención emocional, cuidando su seguridad e integridad física y
                                    psicológica. En la atención de la denuncia actúa el equipo multidisciplinario del
                                    SLIM compuesto por un/a psicólogo/a, abogado/a y trabajador/a social.
                                </p>
                                <h3>SERVICIOS</h3>
                                <p class="text">El SLIM es la instancia especializada en violencia en razón de género
                                    del Gobierno Autónomo Municipal de Betanzos, que presta servicios psicológicos,
                                    legales y sociales para promover la prevención de la VRG, prestar protección y
                                    atención ante hechos de VRG, y actuar para lograr la sanción de los delitos de VRG
                                    denunciando y patrocinando procesos. El SLIM es el actor local principal de lucha
                                    contra la VRG, es la instancia de articulación de los esfuerzos institucionales
                                    locales, de protección efectiva y representación legal. Sin el adecuado trabajo de
                                    los SLIM no se podrá concretar la erradicación de la VRG, que manda la Ley 348 como
                                    prioridad nacional. </p>
                                <h3>PREVENCIÓN</h3>
                                <p class="text">El S.L.I.M. como instancia principal de la lucha contra la violencia
                                    hacia las mujeres en el espacio local, dentro sus funciones y acciones, es realizar
                                    acciones preventivas en coordinación con instituciones públicas y privadas, y
                                    organizaciones de mujeres, además contribuir a cualquier iniciativa de las
                                    instancias privadas y públicas para reducir y/o enfrentar la violencia contra las
                                    mujeres y las familias y de información a la población.
                                    En tal sentido los responsables del Servicio Legal Integral Municipal realizaron las
                                    gestiones de coordinación para poder bridar talleres de Socialización de la Ley 348
                                    Ley para Garantizar a las Mujeres una Vida de Violencia dirigido a autoridades,
                                    comunidades de las diferentes comunidades y Unidades Educativas pertenecientes al
                                    municipio de Betanzos, con fin de lograr conciencia de las problemáticas sociales, y
                                    comprometernos a cambiarlo con el fin de conservar una cultura de paz y el vivir
                                    bien en armonía.
                                </p>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>