<!-- SERVICE-AREA START -->

<div class="service-area margin-bottom-80">


 
  <div class="row mb-3 " >
    
    <div class="col-md text-center ">
      <div class="section-title mt-3">
        <h2>Redes Sociales</h2>
      </div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGamBetanzos20&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=228328260544003" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    <div class="col-md mt-3 text-center">
      <div class="section-title ">
        <h2>Servicios</h2>
      </div>
      <a routerLink="defensoria" class="my-3">
        <img src="assets/img/servicios/defensoria.jpg" width="150px" class="img-fluid" alt="defensoria"><br>
        <!-- <p> Defensoria de la niñez y adolescencia </p> -->
      </a>

      <a routerLink="slim" class="my-3">
        <img src="assets/img/servicios/slim.jpg" width="150px" class="img-fluid" alt="slim"><br>
      </a>



      <a href="#" class="my-3">
        <img src="assets/img/servicios/impuestos.jpg" width="150px" class="img-fluid" alt="Impuestos"><br>
      </a>

      <a href="#" class="my-3">
        <img src="assets/img/servicios/medioAmbiente.jpg" width="150px" class="img-fluid" alt="Medio Ambiente">
      </a>
    </div>

  </div>

</div>
<!-- SERVICE-AREA END -->