<div class="page-banner-area photo-4 margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">Misión y Visión</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'active'">mision</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active " id="list-home-list"
                        data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home"> Misión Institucional </a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list"
                        data-bs-toggle="list" href="#list-profile" role="tab"
                        aria-controls="list-profile"> Visión Institucional </a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list">“Promover el, desarrollo integral, económico, social, productivo, cultural y turístico preservando el medio ambiente y la madre tierra, fortaleciendo la producción agrícola pecuaria en búsqueda constante del crecimiento sostenido de la economía y el desarrollo municipal mediante una administración transparente y eficiente”</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel"
                        aria-labelledby="list-profile-list">“Gobierno Autónomo Municipal de Betanzos es una institución solida incluyente, participativa y transparente, promotor del desarrollo económico, productivo, competitivo y con personal calificado”</div>
                </div>
            </div>
        </div>
    </div>
</div>

