<div class="container">
  <div class="mt-3">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="card p-3 bg-body rounded">
          <div class="card-body">
            <div class="row my-2">
              <div class="col-md-4">
                <h3 class="card-title">
                  Total de Carpetas de Contabilidad ({{ totalCarpetasConta }})
                </h3>

              </div>
              <div class="col-md-8 d-flex justify-content-end">
                <div class="card-tools">
                  <button (click)="changeStatus('sincon', '')" type="button"
                    [ngClass]="tipo == 'sincon' ? 'activate' : ''" class="btn btn-info btn-sm position-relative mr-3">
                    SINCON
                  </button>
                  <div class="btn-group mx-3" role="group" aria-label="Basic mixed styles example">
                    <button (click)="changeStatus('Gastos', 'cip')" type="button"
                      [ngClass]="tipo == 'Gastos' ? 'activate' : ''" class="btn btn-danger btn-sm">CIP</button>
                    <button (click)="changeStatus('Gastos', '')" type="button"
                      [ngClass]="tipo == 'Gastos' ? 'activate' : ''" class="btn btn-info btn-sm">GASTOS</button>
                    <button type="button" (click)="changeStatus('Gastos', 'sip')"
                      [ngClass]="tipo == 'Gastos' ? 'activate' : ''" class="btn btn-success btn-sm">SIP</button>
                  </div>

                  <div class="btn-group mx-3" role="group" aria-label="Basic mixed styles example">
                    <button (click)="changeStatus('Recursos', 'cip')" type="button"
                      [ngClass]="tipo == 'Recursos' ? 'activate' : ''" class="btn btn-danger btn-sm">CIP</button>
                    <button (click)="changeStatus('Recursos', '')" type="button"
                      [ngClass]="tipo == 'Recursos' ? 'activate' : ''" class="btn btn-info btn-sm">RECURSOS</button>
                    <button type="button" (click)="changeStatus('Recursos', 'sip')"
                      [ngClass]="tipo == 'Recursos' ? 'activate' : ''" class="btn btn-success btn-sm">SIP</button>
                  </div>


                  <button (click)="changeStatus('Estados Financieros', '')" type="button"
                    [ngClass]="tipo == 'Estados Financieros' ? 'activate' : ''"
                    class="btn btn-info btn-sm position-relative mr-3">
                    Estados Financieros
                  </button>
                  <button (click)="changeStatus('', '')" type="button" [ngClass]="tipo == '' ? 'activate' : ''"
                    class="btn btn-info btn-sm position-relative mr-4">
                    Todos
                  </button>
                </div>

              </div>
            </div>
            <hr>
            <form [formGroup]="buscarCarpeta">
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group mb-1">
                    <span class="input-group-text" id="gestion"><b> Gestion</b></span>
                    <select id="gestion" formControlName="gestion" class="form-select" required>
                      <!-- <option value="null" [defaultSelected]="true">Seleccione</option> -->
                      <option value="2023" [defaultSelected]="true">2023</option>
                      <option value="2022">2022</option>
                      <option value="2021">2021</option>
                      <option value="2020">2020</option>
                      <option value="2019">2019</option>
                      <option value="2018">2018</option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2010">2010</option>
                      <option value="2009">2009</option>
                      <option value="2008">2008</option>
                      <option value="2007">2007</option>
                      <option value="2006">2006</option>
                    </select>
                    <div class="form-text" *ngIf="form5['gestion'].touched && form5['gestion'].invalid">
                      <div *ngIf="form5['gestion'].errors && form5['gestion'].errors['required']">* Gestion es
                        Requerido.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group mb-1 mx-1">
                    <span class="input-group-text izq" id="numero"><b>Numero</b></span>
                    <input class="form-control" type="text" formControlName="numero">
                    <div class="form-text" *ngIf="form5['numero'].touched && form5['numero'].invalid">
                      <div *ngIf="form5['numero'].errors && form5['numero'].errors['required']">* Numero</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-1 mx-1">
                    <span class="input-group-text izq" id="nombre"><b>Nombre</b></span>
                    <input class="form-control" type="text" formControlName="nombre">
                    <div class="form-text" *ngIf="form5['nombre'].touched && form5['nombre'].invalid">
                      <div *ngIf="form5['nombre'].errors && form5['nombre'].errors['required']">* nombre
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group mb-1 mx-1">
                    <span class="input-group-text izq" id="lugar"><b>Lugar</b></span>
                    <input class="form-control" type="text" formControlName="lugar">
                    <div class="form-text" *ngIf="form5['lugar'].touched && form5['lugar'].invalid">
                      <div *ngIf="form5['lugar'].errors && form5['lugar'].errors['required']">* lugar</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button (click)="searchCarpeta(buscarCarpeta)" class="btn btn-primary mr-3"
                    [disabled]="buscarCarpeta.invalid" style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem">
                    Buscar
                  </button>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="cargando">
      <div class="col-md-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fas fa-sync-alt fa-spin"></i><br />
          <span>Por favor espere</span>
        </div>
      </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="!cargando">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body">

            <table class="table table-hover mb-2">
              <thead>
                <tr>
                  <th>Número de Carpeta</th>
                  <th>Gestión</th>
                  <th>Tipo</th>
                  <th>Nombre de la Carpeta</th>
                  <th>Lugar de Archivo</th>
                  <th>N° de estante</th>
                  <th>N° de fila</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let carpeta of carpetas.serverResponse; let i = index">
                  <td>{{ carpeta.numCarpeta }}</td>
                  <td>{{ carpeta.gestion }}</td>
                  <td>{{ carpeta.tipo }} - {{carpeta.subTipo}}</td>
                  <td>{{ carpeta.nameCarpeta }}</td>
                  <td>{{ carpeta.lugar }}</td>
                  <td>{{ carpeta.estante }}</td>
                  <td>{{ carpeta.fila }}</td>
                  <!-- <td>
                    <div class="form-check form-switch">
                      <span *ngIf="carpeta.estado == '1'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(carpeta._id, !carpeta.estado)" type="checkbox" [checked]="true"
                          role="switch" id="{{'toogle'+i}}">Activo
                      </span>
                      <span *ngIf="carpeta.estado == '0'">
                        <input class="form-check-input pointer"
                          (change)="changeStatus(carpeta._id, !carpeta.estado)" type="checkbox" [checked]="false"
                          role="switch" id="{{'toogle'+i}}">Inactivo
                      </span>
                    </div>
                  </td> -->
                  <td>
                    <i class="fas fa-eye ml-2 icono" (click)="verArchivos(carpeta)"></i>
                    <i class="fas fa-plus ml-2 icono" (click)="addCarpetaId(carpeta)"></i>
                    <i class="fas fa-edit ml-2 icono" data-bs-toggle="modal" data-bs-target="#modalEdit"
                      (click)="cargarDataEdit(carpeta)"></i>
                    <i class="fas fa-trash-alt ml-2 icono" (click)="borrarCarpeta(carpeta._id)"></i>
                    <i class="fas fa-dolly ml-2 icono " data-bs-toggle="modal" data-bs-target="#listModal"
                      (click)="cargarArchi(carpeta._id)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- *ngIf="txtTermino.value.length === 0" -->
            <div class="text-center">
              <button (click)="cambiarPagina(-1)" *ngIf="page > 1" class="btn btn-info text-sm">
                <i class="fas fa-chevron-left"></i> Anterior
              </button>
              &nbsp;
              {{ page }} de {{ totalPages }}
              &nbsp;
              <button (click)="cambiarPagina(1)" *ngIf="page < totalPages" class="btn btn-info text-sm">
                Siguiente <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Registrar Archivo {{ tipos }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="crearConta(contaForm.value)" [formGroup]="contaForm">


          <div class="input-group mb-1">
            <span class="input-group-text izq" id="numero"><b>Numero *</b></span>
            <input id="numero" class="form-control" type="text" formControlName="numero" />
            <div class="form-text" *ngIf="form['numero'].touched && form['numero'].invalid">
              <div *ngIf="
                  form['numero'].errors &&
                  form['numero'].errors['required']
                ">
                * El numero es Requerido.
              </div>
              <div *ngIf="
                  form['numero'].errors &&
                  form['numero'].errors['minlength']
                ">
                * El numero no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq"><b>Detalle *</b></span>
            <textarea id="detalle" class="form-control" type="text" formControlName="detalle"></textarea>
            <div class="form-text" *ngIf="form['detalle'].touched && form['detalle'].invalid">
              <div *ngIf="
                  form['detalle'].errors &&
                  form['detalle'].errors['required']
                ">
                * El detalle es Requerido.
              </div>
              <div *ngIf="
                  form['detalle'].errors &&
                  form['detalle'].errors['minlength']
                ">
                * El detalle no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1" *ngIf="tipos != 'Ingresos'">
            <span class="input-group-text izq" id="beneficiario"><b>beneficiario *</b></span>
            <input id="beneficiario" class="form-control" type="text" formControlName="beneficiario" />
            <div class="form-text" *ngIf="form['beneficiario'].touched && form['beneficiario'].invalid">
              <div *ngIf="
                  form['beneficiario'].errors &&
                  form['beneficiario'].errors['required']
                ">
                * El beneficiario es Requerido.
              </div>
              <div *ngIf="
                  form['beneficiario'].errors &&
                  form['beneficiario'].errors['minlength']
                ">
                * El beneficiario no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="fecha"><b>fecha *</b></span>
            <input id="fecha" class="form-control" type="date" formControlName="fecha" />
            <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
              <div *ngIf="
                  form['fecha'].errors &&
                  form['fecha'].errors['required']
                ">
                * El fecha es Requerido.
              </div>
              <div *ngIf="
                  form['fecha'].errors &&
                  form['fecha'].errors['minlength']
                ">
                * El fecha no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="monto"><b>monto *</b></span>
            <input id="monto" class="form-control" type="number" formControlName="monto" />
            <div class="form-text" *ngIf="form['monto'].touched && form['monto'].invalid">
              <div *ngIf="
                  form['monto'].errors &&
                  form['monto'].errors['required']
                ">
                * El monto es Requerido.
              </div>
              <div *ngIf="
                  form['monto'].errors &&
                  form['monto'].errors['minlength']
                ">
                * El monto no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="fojas"><b>Fojas *</b></span>
            <input id="fojas" class="form-control" type="number" formControlName="fojas" />
            <div class="form-text" *ngIf="form['fojas'].touched && form['fojas'].invalid">
              <div *ngIf="
                  form['fojas'].errors &&
                  form['fojas'].errors['required']
                ">
                * El fojas es Requerido.
              </div>
              <div *ngIf="
                  form['fojas'].errors &&
                  form['fojas'].errors['minlength']
                ">
                * El fojas no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq"><b>Observacion *</b></span>
            <textarea id="observacion" class="form-control" type="text" formControlName="observacion"></textarea>
            <div class="form-text" *ngIf="form['observacion'].touched && form['observacion'].invalid">
              <div *ngIf="
                  form['observacion'].errors &&
                  form['observacion'].errors['required']
                ">
                * El observacion es Requerido.
              </div>
              <div *ngIf="
                  form['observacion'].errors &&
                  form['observacion'].errors['minlength']
                ">
                * El observacion no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="contaForm.invalid">
              Registrar
            </button>
          </div>
          {{ contaForm.value | json }}
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- End Modal -->

<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditLabel">Editar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="carpeta">
        <form (ngSubmit)="editCarpeta(editForm.value)" [formGroup]="editForm">
          <div class="input-group mb-1">
            <span class="input-group-text izq" id="gestion"><b> Gestión *</b></span>
            <select id="gestion" formControlName="gestion" class="form-select" required>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
              <option value="2009">2009</option>
              <option value="2008">2008</option>
              <option value="2007">2007</option>
              <option value="2006">2006</option>
            </select>
            <div class="form-text" *ngIf="form2['gestion'].touched && form2['gestion'].invalid">
              <div *ngIf="form2['gestion'].errors && form2['gestion'].errors['required']">*
                Gestion es Requerido.</div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="area"><b>Area</b></span>
            <ngx-select class="sel" [allowClear]="true" [items]="areas" optionTextField="nombre"
              optionValueField="nombre" placeholder="Seleccione un area" formControlName="area">
              <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                <span [innerHtml]="text"></span>
                &nbsp;{{option.data.surnames}}
              </ng-template>
            </ngx-select>

            <div class="form-text" *ngIf="form2['area'].touched && form2['area'].invalid">
              <div *ngIf="
                  form2['area'].errors &&

                  form2['area'].errors['required']
                ">
                * Debe seleccionar un area.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="tipo"><b> Tipo *</b></span>
            <select id="tipo" formControlName="tipo" class="form-select" required>
              <option value="" [defaultSelected]="true">Elija una opción</option>
              <option *ngFor="let tipo of tipos" value="{{ tipo }}">{{ tipo }}</option>
            </select>
            <div class="form-text" *ngIf="form2['tipo'].touched && form2['tipo'].invalid">
              <div *ngIf="form2['tipo'].errors && form2['tipo'].errors['required']">* Tipo es Requerido.</div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="numCarpeta"><b>Número de Carpeta *</b></span>
            <input id="numCarpeta" class="form-control" type="number" formControlName="numCarpeta" />
            <div class="form-text" *ngIf="form2['numCarpeta'].touched && form2['numCarpeta'].invalid">
              <div *ngIf="
                  form2['numCarpeta'].errors &&
                  form2['numCarpeta'].errors['required']
                ">
                * El Numero de carpeta es Requerido.
              </div>
              <div *ngIf="
                  form2['numCarpeta'].errors &&
                  form2['numCarpeta'].errors['minlength']
                ">
                * El Numero de carpeta no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="nameCarpeta"><b>Nombre de la Carpeta *</b></span>
            <input id="nameCarpeta" class="form-control" type="text" formControlName="nameCarpeta" />
            <div class="form-text" *ngIf="form2['nameCarpeta'].touched && form2['nameCarpeta'].invalid">
              <div *ngIf="
                  form2['nameCarpeta'].errors &&
                  form2['nameCarpeta'].errors['required']
                ">
                * El Numero de carpeta es Requerido.
              </div>
              <div *ngIf="
                  form2['nameCarpeta'].errors &&
                  form2['nameCarpeta'].errors['minlength']
                ">
                * El Numero de carpeta no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="lugar"><b>Lugar de Archivo *</b></span>
            <input id="lugar" class="form-control" type="text" formControlName="lugar" />
            <div class="form-text" *ngIf="form2['lugar'].touched && form2['lugar'].invalid">
              <div *ngIf="
                  form2['lugar'].errors &&
                  form2['lugar'].errors['required']
                ">
                * El Numero de carpeta es Requerido.
              </div>
              <div *ngIf="
                  form2['lugar'].errors &&
                  form2['lugar'].errors['minlength']
                ">
                * El Numero de carpeta no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="estante"><b>N° de Estante *</b></span>
            <input id="estante" class="form-control" type="number" formControlName="estante" />
            <div class="form-text" *ngIf="form2['estante'].touched && form2['estante'].invalid">
              <div *ngIf="form2['estante'].errors && form2['estante'].errors['required']">
                * El estante es Requerido.
              </div>
              <div *ngIf="form2['estante'].errors && form2['estante'].errors['minlength']">
                * El estante no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-text izq" id="fila"><b>N° de Fila *</b></span>
            <input id="fila" class="form-control" type="number" formControlName="fila" />
            <div class="form-text" *ngIf="form2['fila'].touched && form2['fila'].invalid">
              <div *ngIf="form2['fila'].errors && form2['fila'].errors['required']">
                * El fila es Requerido.
              </div>
              <div *ngIf="form2['fila'].errors && form2['fila'].errors['minlength']">
                * El estante no puede tener menos de 3 caracteres.
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Editar
            </button>
          </div>
        </form>

        {{ editForm.value | json }}
      </div>
    </div>
  </div>
</div>
<!-- End Modal Edit -->

<!-- Modal List Doc -->
<div class="modal fade" id="listModal" tabindex="-1" aria-labelledby="listModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-5">
          <form [formGroup]="buscarForm">
            <div class="row">
              <div class="col-md-3">
                <div class="input-group mb-1 mx-1">
                  <span class="input-group-text izq" id="numero"><b>Numero</b></span>
                  <input class="form-control" type="text" formControlName="numero">
                  <div class="form-text" *ngIf="form4['numero'].touched && form4['numero'].invalid">
                    <div *ngIf="form4['numero'].errors && form4['numero'].errors['required']">* Numero</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="input-group mb-1 mx-1">
                  <span class="input-group-text izq" id="beneficiario"><b>Beneficiario</b></span>
                  <input class="form-control" type="text" formControlName="beneficiario">
                  <div class="form-text" *ngIf="form4['beneficiario'].touched && form4['beneficiario'].invalid">
                    <div *ngIf="form4['beneficiario'].errors && form4['beneficiario'].errors['required']">* beneficiario
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="input-group mb-1 mx-1">
                  <span class="input-group-text izq" id="glosa"><b>Glosa</b></span>
                  <input class="form-control" type="text" formControlName="glosa">
                  <div class="form-text" *ngIf="form4['glosa'].touched && form4['glosa'].invalid">
                    <div *ngIf="form4['glosa'].errors && form4['glosa'].errors['required']">* Glosa</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="input-group mb-1 mx-1">
                  <span class="input-group-text izq" id="ci"><b>CI/NIT</b></span>
                  <input class="form-control" type="text" formControlName="ci">
                  <div class="form-text" *ngIf="form4['ci'].touched && form4['ci'].invalid">
                    <div *ngIf="form4['ci'].errors && form4['ci'].errors['required']">* ci</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button (click)="obtener(buscarForm)" class="btn btn-info mr-3" [disabled]="buscarForm.invalid"
                style="--bs-btn-padding-y: 0.25rem; --bs-btn-font-size: 0.75rem">
                Buscar
              </button>
            </div>

          </form>
        </div>

        <div>
          <form (ngSubmit)="cambiarCarpeta(archiForm.value)" [formGroup]="archiForm">
            <div class="input-group mb-1" *ngIf="archivosSin">
              <span class="input-group-text" id="plazo"><b>Archivo *</b></span>
              <ngx-select style="min-width: 950px;" [allowClear]="true" [items]="archivosSin" optionTextField="numero"
                optionValueField="_id" placeholder="Seleccione un Archivo" formControlName="archivo">
                <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                  <span [innerHtml]="text"></span>
                  &nbsp;({{option.data.glosa}})
                </ng-template>
              </ngx-select>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="archiForm.invalid">
                Mover
              </button>
            </div>
            <!-- {{ archiForm.value | json }} -->
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal List Doc -->
