<div class="page-banner-area photo-4 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-menu">
                    <h2 class="page-banner-title">HISTORIA</h2>
                    <ul>
                        <li><a class="nav-link" [routerLink]="''">Inicio</a></li>
                        <li [routerLinkActive]="'historia'">Historia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-area margin-bottom-80">
    <div class="container">
        <i class="fas fa-arrow-left atras" (click)="goBack()"> Atras</i>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card my-3 shadow p-3 rounded">
                    <div class="card-header rounded">
                        <div class="title my-1  text-center">Historia</div>
                    </div>
                    <div class="card-body">
                        <p class="text">Dentro de la historia de villa Betanzos; un pueblo de visión social, cívica, patriótica y cultural; lleva el nombre de “Miguel Betanzos”; quien fue un guerrero del siglo XVII, y caudillo, conductor que dirigió el mando y dirección de lucha contra los colonizadores invasores de los conquistadores impuestos a nuestra tierra.</p>
                        <p class="text">Miguel Betanzos, en su misión de ciudadano del pueblo colectivo, tuvo amor a la Patria; que con su misión de estratega y conductor de la región, fue guía y camino de lucha del habitad del pueblo y del área geo–cultural de Potosí; quien lucho en los levantamientos contra los conquistadores de la colonia.</p>
                        <p class="text">Miguel Betanzos, nació en el cantón de Te’koya, y se formó por el destino y camino un Patricio, Patriótico, de personalidad y virtudes que se descolló y se destacó dentro de la región de la provincia Cornelio Saavedra, del Departamento de Potosí – Bolivia.</p>
                        <p class="text">En tal virtud, la Villa de Betanzos, lleva el nombre del patriota y caudillo amante de la tierra; que demostró ante los demás pueblos identificándose un guerrero y mártir histórico.</p>
                        <p class="text">Los nacidos en Betanzos, valoramos a aquel caudillo, ofreciendo y reconociendo un Homenaje ante el Mundo, como a un modelo de ejemplo guerrero y mártir; modelo de defensor de la libertad e independencia de Betanzos, consiguientemente del Departamento de Potosí.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>