<div class="row m-t-40 wrap-feature41-box">
  <!-- Column -->
  <div class="col-lg-4">
      <ul class="nav vtab f41-tab">
          <li class="nav-item aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" aria-controls="home" aria-expanded="true">
                  <div class="display-5 t-icon"><i class="icon-Map-Marker2"></i></div>
                  <div>
                      <h5 class="m-b-0">Datos de Llallagua</h5>
                      <h6 class="subtitle">Descripcion de datos en detalle</h6>
                  </div>
              </a>
          </li>
          <li class="nav-item aos-init" data-aos="fade-right" data-aos-duration="1200">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile" aria-expanded="false">
                  <div class="display-5 t-icon"><i class="icon-Eye"></i></div>
                  <div>
                      <h5 class="m-b-0">Mision &amp; Vision</h5>
                      <h6 class="subtitle">Convertir Llallagua en una ciudad prospera y moderna de la region.</h6>
                  </div>
              </a>
          </li>
          <li class="nav-item aos-init" data-aos="fade-right" data-aos-duration="1200">
              <a class="nav-link" id="dropdown1-tab" data-toggle="tab" href="#dropdown1" aria-controls="dropdown1" aria-expanded="false">
                  <div class="display-5 t-icon"><i class="icon-Statistic"></i></div>
                  <div>
                      <h5 class="m-b-0">Datos Estadisticos</h5>
                      <h6 class="subtitle">Informacion detallada del gobierno autonomo municipal de llallagua.</h6>
                  </div>
              </a>
          </li>
          <li class="nav-item aos-init" data-aos="fade-right" data-aos-duration="1200">
              <a class="nav-link" id="ssd-tab" data-toggle="tab" href="#ssd" aria-controls="ssd" aria-expanded="false">
                  <div class="display-5 t-icon"><i class="icon-Music-Note2"></i></div>
                  <div>
                      <h5 class="m-b-0">Himno a Llallagua</h5>
                      <h6 class="subtitle">Informacion sobre el Himno a Llallagua.</h6>
                  </div>
              </a>
          </li>
      </ul>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-7 ml-auto">
      <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade aos-init aos-animate active show" id="home" role="tabpanel" aria-labelledby="home-tab" aria-expanded="true" data-aos="fade-left" data-aos-duration="1200">
              <h5 class="m-b-0"><i class="icon-Yes display-6"></i>Nombre</h5>
              <p class="m-t-40">Llallagua</p>
              <h5 class="m-b-0"><i class="icon-Street-View display-6"></i>Gentilicio</h5>
              <p class="m-t-40">Llallagueño, Llallagueña</p>
              <h5 class="m-b-0"><i class="icon-Geo display-6"></i>Creacion</h5>
              <p class="m-t-40">22 de diciembre de 1957</p>
              <h5 class="m-b-0"><i class="icon-Chacked-Flag display-6"></i>Colores del Municipio</h5>
              <p class="m-t-40">Los colores de representativos de su bandera son: Verde y Blanco. </p>
              <h5 class="m-b-0"><i class="icon-Audio display-6"></i>Festividad</h5>
              <p class="m-t-40">Virgen de la Asunción Del 13 al 16 de agosto, Llallagua es el centro de atracción en todo el norte del Potosí, ya que se celebra la asunción de la virgen María y, en honor a ella, se celebra la llamada Festividad de la Virgen de la Asunción. A diferencia de otras festividades existentes en el departamento e incluso fiestas patronales del país, esta no es sometida a movimiento de fecha («Al Santo, en su día», reza el refrán popular). La festividad es organizada por Asconfolk (Asociación de Conjuntos Folklóricos de Llallagua).</p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
              <h5 class="m-b-0"><i class="icon-Direction-North display-6"></i>Mision</h5>
              <p class="m-t-40">El Gobierno Autónomo del Municipio de Llallagua, es la entidad de derecho Público con personería jurídica reconocida y patrimonio propio, que representa al conjunto de vecinos asentados en una jurisdicción territorial determinada, participa en la realización de los fines del Estado, y sus finalidades según Ley Marco de Autonomías N° 031, y Ley 482 de Gobiernos Autónomos Municipales. Por tanto nuestra misión como institución pública autónoma es trabajar y contribuir a la satisfacción de las demandas y necesidades de la sociedad a través de la producción de bienes, normas y servicios orientados al bienestar económico, social, cultural y ambiental de la población del municipio y del desarrollo de sus vocaciones productivas mediante la captación y administración de sus recursos de manera equitativa y plural.</p>
              <h5 class="m-b-0"><i class="icon-Direction-East display-6"></i>Vision</h5>
              <p class="m-t-40">Se está transformando y consolidado en una ciudad intermedia, de oportunidades con infraestructura urbana y rural de vanguardia, con mayores niveles de acceso a servicios básicos, con avances cualitativos en desarrollo humano articulado al desarrollo económico local y urbano territorial, con calidad ambiental, con identidad cultural propia y valores ciudadanos comunes en la búsqueda de la satisfacción plena de las necesidades de la sociedad civil en el marco del vivir bien y la visión plural.</p>
          </div>
          <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" aria-expanded="false">
              <h5 class="m-b-0"><i class="icon-Location-2 display-6"></i>Ubicacion Geografica</h5>
              <p class="m-t-40">El Municipio de Llallagua se encuentra ubicado al Norte del Departamento de Potosí, en la provincia Rafael Bustillos, corresponde a la tercera sección municipal. Su accesibilidad vial, es a través de la ruta Oruro – Huanuni – Llallagua. El municipio está a una distancia aproximada de más de 200 km. de la ciudad de Potosí y 95 km de la Ciudad de Oruro.</p>
              <h5 class="m-b-0"><i class="icon-Pause display-6"></i>Limites Territoriales</h5>
              <p class="m-t-40">ESTE Municipio de Chayanta, OESTE Municipios de Poopó y Huanuni del Departamento de Oruro, NORTE Municipio de Caripuyo y al SUR Municipio de Uncía.</p>
              <h5 class="m-b-0"><i class="icon-View-Height display-6"></i>Altitud</h5>
              <p class="m-t-40">El Municipio de Llallagua tiene una altitud media de 3895 m s. n. m.</p>
              <h5 class="m-b-0"><i class="icon-Conference display-6"></i>Poblacion</h5>
              <p class="m-t-40">Llallagua tiene actualmente 40.865 habitantes. La población del municipio se ha aumentado en un 0.87% en comparación con datos del censo de 2001, siendo un gran porcentaje población juvenil (según censo 2012).</p>
          </div>
          <div class="tab-pane fade" id="ssd" role="tabpanel" aria-labelledby="ssd-tab" aria-expanded="false">
              <h5 class="m-b-0"><i class="icon-Sound-Wave display-6"></i>Autores</h5>
              <p class="m-t-40">Letra: Liborio Salvatierra Sangueza </p>
              <p class="m-t-40">Musica: Liborio Salvatierra Sangueza </p>
              <audio style="margin-top: 20px;" src="client/multimedia/llallagua.mp3" controls="control" preload="preload" type="audio/mpeg"></audio>
          </div>
      </div>
  </div>
  <!-- Column -->
</div>