<div class="row">
  <div class="bg pt-1 px-3 px-md-5 text-center overflow-hidden col-md-4">
    <div class="my-3 py-3">
      <h2 class="display-6">Alcalde Municipal</h2>
      <p class="lead">Julio Arturo Caba Quicho</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
      <img src="assets/img/alcalde.jpg" class="img-fluid rounded" alt="">
    </div>
  </div>
  <div class="bg-light pt-1 px-3 px-md-5 text-center overflow-hidden col-md-8">
    <div class="my-3 p-3">
      <h2 class="display-6">GAM Betanzos</h2>
      <p class="lead">Datos Generales</p>
    </div>
    <div class="shadow-sm mx-auto" style="width: 80%; height: 300px">
        <table class="table table-responsive">
            <tbody>
              <tr>
                <th scope="row">Departamento</th>
                <td>Potosí</td>
                <th>Altitud (M.S.N.M)</th>
                <td>3500</td>
              </tr>
              <tr>
                <th scope="row">Provincia</th>
                <td>Cornelio Saavedra</td>
                <th>Clima</th>
                <td>Templado</td>
              </tr>
              <tr>
                <th scope="row">Sección</th>
                <td>Primera</td>
                <th>Temperatura Promedio (ºC)</th>
                <td>12º</td>
              </tr>
              <tr>
                <th scope="row">Circunscripción Electoral</th>
                <td>35</td>
                <th>Municipio Fronterizo</th>
                <td>No</td>
              </tr>
              <tr>
                <th scope="row">Fecha de Creación</th>
                <td>17/03/1992</td>
                <th>Principal Actividad Económica</th>
                <td>Agrícola, Pecuaria, Industria Manufacturera</td>
              </tr>
              <tr>
                <th scope="row">Superficie (Km2)</th>
                <td>1.905</td>
                <th>Distancia a la capital (Km)</th>
                <td>35Km</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

</div>
