<section id="container-slider">	
  <a href="javascript: funcionEjecutar('anterior');" class="arrowPrev"><i class="fas fa-chevron-circle-left"></i></a>
  <a href="javascript: funcionEjecutar('siguiente');" class="arrowNext"><i class="fas fa-chevron-circle-right"></i></a>
  <ul class="listslider">
    <li><a itlist="itList_0" href="#" class="item-select-slid"></a></li>
    <li *ngFor="let slider of sliders"><a itlist="itList_1" href="#"></a></li>
  </ul>
  <ul id="slider">

    <li style="background-image: url('assets/img/slider/4.jpg'); z-index:0; opacity: 1;">
      <div class="content_slider" >
        <div>
          <h2>GAM BETANZOS</h2>
          <p>Gobiero Autonomo Municipal de Betanzos</p>
        </div>
      </div>
    </li>
    
    <li *ngFor="let slider of sliders" style="background-image: url('{{ URL+'/'+slider.urislaider }}');">
      <div class="content_slider" >
        <div>
          <h2>{{ slider.titulo }}</h2>
          <p>{{ slider.detalle }}</p>
        </div>
      </div>
    </li>
 </ul>
</section>