/* You can add global styles to this file, and also import other style files */
button:disabled {
  opacity: .5;
}




/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* Colores errors en forms */
input.ng-invalid.ng-touched {
  border: solid 3px red;
}

input.ng-valid.ng-touched {
  border: solid 3px greenyellow;
}

/* for icons  */

.icono {
  cursor: pointer;
}

.icono:hover {
  color: darkslategray;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font-size: 2.2em;
  color: black;
  text-align: justify;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-alcalde {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  white-space: wrap;
  text-align: justify;
  line-height: 1.2em;
}

.text {
  font-size: 1.2em;
  white-space: wrap;
  text-align: justify;
  line-height: 1.2em;
}

.atras {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.fondo{
  background-color: rgb(1, 116, 57)!important;
}

.w100{
  width: 100px;
}
