/* You can add global styles to this file, and also import other style files */
button:disabled{
    opacity: .5;
}




/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

/* Colores errors en forms */
  input.ng-invalid.ng-touched {
    border: solid 3px red;
  }
  
  input.ng-valid.ng-touched {
    border: solid 3px greenyellow;
  }
  /* for icons  */
.icono{
    cursor: pointer;
}
.icono:hover{
    color: darkslategray;
}