<div class="container">
  <div class="m-3">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Nuevo Ingreso a Almacén</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <form [formGroup]="compraForm">
                  <div class="mb-1">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha">
                    <div class="form-text" *ngIf="form['fecha'].touched && form['fecha'].invalid">
                      <div *ngIf="form['fecha'].errors && form['fecha'].errors['required']">* fecha
                        es Requerido.</div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <label for="categoriaProgra" class="form-label col-auto">Categoría Programatica *</label>
                    <!-- Para Mandar id // optionValueField="_id" -->
                    <ngx-select [allowClear]="true" [items]="catProgras" optionTextField="codigo" optionValueField="cat_programatica"
                      placeholder="Seleccione una Categoría Programatica" formControlName="categoriaProgra"
                      (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;({{option.data.proyect_acti}})
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form['categoriaProgra'].touched && form['categoriaProgra'].invalid">
                      <div *ngIf="
                          form['categoriaProgra'].errors &&
                          form['categoriaProgra'].errors['required']
                        ">
                        * La categoria programatica es Requerida.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <label for="idProveedor" class="form-label col-auto">Proveedor *</label>
                    <!-- Para Mandar id // optionValueField="_id" -->
                    <ngx-select [allowClear]="true" [items]="proveedores" optionTextField="representante" optionValueField="_id"
                      placeholder="Seleccione un Proveedor" formControlName="idProveedor"
                      (select)="doSelect($event)">
                      <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text">
                        <span [innerHtml]="text"></span>
                        &nbsp;({{option.data.compania}})
                      </ng-template>
                    </ngx-select>
                    <div class="form-text" *ngIf="form['idProveedor'].touched && form['idProveedor'].invalid">
                      <div *ngIf="
                          form['idProveedor'].errors &&
                          form['idProveedor'].errors['required']
                        ">
                        * El proveedor es Requerido.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <label for="concepto" class="form-label col-md-auto">Concepto *</label>
                    <input id="concepto" class="form-control" type="text" formControlName="concepto" />
                    <div class="form-text" *ngIf="form['concepto'].touched && form['concepto'].invalid">
                      <div *ngIf="
                          form['concepto'].errors &&
                          form['concepto'].errors['required']
                        ">
                        * El concepto es Requerido.
                      </div>
                      <div *ngIf="
                          form['concepto'].errors &&
                          form['concepto'].errors['minlength']
                        ">
                        * El concepto no puede tener menos de 3 caracteres.
                      </div>
                    </div>
                  </div>
                  <div class="mb-1">
                    <label for="numeroFactura" class="form-label col-md-auto">Numero de Factura *</label>
                    <input id="numeroFactura" class="form-control" type="text" formControlName="numeroFactura" />
                    <div class="form-text" *ngIf="form['numeroFactura'].touched && form['numeroFactura'].invalid">
                      <div *ngIf="
                          form['numeroFactura'].errors &&
                          form['numeroFactura'].errors['required']
                        ">
                        * El numero de factura es Requerido.
                      </div>
                      <div *ngIf="
                          form['numeroFactura'].errors &&
                          form['numeroFactura'].errors['minlength']
                        ">
                        * El numero de factura no puede tener menos de 7 caracteres.
                      </div>
                    </div>
                  </div>
                </form>
                {{ compraForm.value | json }}
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <div class="panel panel-default">
                  <input class="form-control" list="articulos" type="search" placeholder="Buscar Articulo"
                    (keyup)="buscar(txtTermino.value)" (blur)="txtTermino.value = ''" #txtTermino />

                  <datalist id="articulos" *ngIf="articulos">
                    <option style="color:blue" *ngFor="let articulo of articulos.serverResponse"
                      value="{{articulo.nombre}}">
                  </datalist>

                  <button class="btn btn-info btn-sm my-3" (click)="addArticulo(article)" type="button">Añadir</button>

                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Código</th>
                          <th>Articulo</th>
                          <th>Partida de gasto</th>
                          <th>Cantidad</th>
                          <th>Precio</th>
                          <th>SubTotal</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listadeArticulos; index as i">
                          <td style="cursor: not-allowed;">
                            {{i + 1}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'codigo'">
                            {{item.codigo}}
                          </td>
                          <td [attr.row]="i" [attr.field]="'articulo'">
                            {{item.articulo}}
                          </td>
                          <td field="partidaGasto">
                            {{item.partidaGasto}}
                          </td>
                          <td contenteditable="true" (click)="borrar($event)" (blur)="cambio($event, i, 'cantidad')"
                            [attr.row]="i" [attr.field]="'cantidad'">
                            {{item.cantidad}}
                          </td>
                          <td contenteditable="true" (click)="borrar($event)" (blur)="cambio($event, i, 'precio')"
                            [attr.row]="i" [attr.field]="'precio'">
                            {{item.precio}}
                          </td>
                          <td>{{item.cantidad * item.precio}}</td>
                          <td>
                            <span><i class="fas fa-trash pointer" (click)="removeArticulo(i)"></i></span>
                          </td>
                        </tr>

                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="6" class="text-end fs-5"> <b>TOTAL BOLIVIANOS: </b></td>
                          <td class="fs-5"><b>{{ calculateTotalCost() }}</b></td>
                        </tr>
                      </tfoot>
                    </table>
                    <div class="btn-group">
                      {{ listadeArticulos | json }}

                    </div>
                    <br>
                    <div class="text-center">
                      <button type="button" class="btn btn-secondary mx-3" (click)="cancel()">
                        Cerrar
                      </button>
                      <button (click)="registrarCompra(compraForm.value)" class="btn btn-primary" [disabled]="compraForm.invalid">
                        Registrar
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
