<div class="row" *ngIf="existe">
  <div class="col-md d-flex justify-content-between">
    <span></span>
    <span class="text-center subtitle">Lista de Documentos</span>
    <i (click)="inicio()" class="fas fa-times-circle p-2 pointer"></i>
  </div>
  <div class="container text">
    <table class="table table-striped mt-0">
      <thead>
        <th>Número</th>
        <th>Orígen</th>
        <th>Seguimiento</th>
      </thead>
      <tbody>
        <tr *ngFor="let hoja of hojas">
          <td>{{ hoja.nuit }}</td>
          <td>{{ hoja.origen }}</td>
          <td class="text-center"><i class="fas fa-eye text-primary pointer" data-bs-toggle="modal" data-bs-target="#modalSeguimiento"
              title="Ver Seguimiento" (click)="segui(hoja._id)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="container" *ngIf="!existe">
  <div class="row">
    <div class="col-md">
      <div class="alert alert-danger text-center mt-2" role="alert">
        <span>No existe ningun resultado con su termino de busqueda, intente nuevamente</span>
      </div>
    </div>
  </div>
</div>
<app-search-public-hr></app-search-public-hr>





<!--MODAL SEGUIMIENTO-->
<div class="modal fade" id="modalSeguimiento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pb-0">
        <div id="htmlData">
          <div class="segui" *ngIf="hojaRuta">
            <div class="d-flex justify-content-center ml-3 mb-0">
              <div>
                <img class="shadow" src="../../../../../assets/img/logoGamb.png" width="150px" class="logo mb-0" />
              </div>
            </div>
            <div class=" ">
              <div class="card border-3 border-primary mb-1 text">
                <div class="card-body text-center">
                  <span class="h6"> El documento N°:&nbsp;<strong></strong>{{ hojaRuta.nuit | uppercase }} se encuentra en: </span>
                  <table class="table table-striped-columns table-responsive mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Oficina</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <b>{{ seguimiento.destino }}</b>
                          <br />
                          <p *ngIf="seguimiento.recibidox" class="text-capitalize">
                            {{ seguimiento.recibidox }}
                          </p>
                        </td>
                        <td [ngSwitch]="seguimiento.estado">
                          <span *ngSwitchCase="'ENVIADO'" class="badge badge-danger">{{ seguimiento.estado }}</span>
                          <span *ngSwitchCase="'RECIBIDO'" class="badge badge-success">{{ seguimiento.estado }}</span>
                          <span *ngSwitchCase="'DERIVADO'" class="badge badge-info">{{ seguimiento.estado }}</span>
                          <span *ngSwitchCase="'MALETIN'" class="badge badge-warning">{{ seguimiento.estado }}</span>
                          <br> {{ seguimiento.smsarchivo }}
                          <span *ngSwitchCase="'FILE OFICINA'" class="badge bg text-dark">
                            <i *ngFor="let fin of seguimiento.archivofi">
                              {{ fin.status }} <br /></i>
                          </span>
                          <span *ngIf="
                              seguimiento.estado != 'DERIVADO' &&
                              seguimiento.estado != 'MALETIN' &&
                              seguimiento.estado != 'RECIBIDO' &&
                              seguimiento.estado != 'ENVIADO' &&
                              seguimiento.estado != 'FILE OFICINA'
                            " class="badge badge-secondary text-dark">{{ seguimiento.estado }}</span>
                          <br />
                          <i>{{ seguimiento.copia }}</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-1">
        <button type="button" class="btn btn-secondary p-1" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
