<div class="container">
  <div class="m-3">
    <div class="row mb-5 justify-content-md-center">
      <div class="col-md-6">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-header">
            <h3 class="card-title">Editar Entidad</h3>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-md">
                <form (ngSubmit)="editarEntidad(editarForm.value)" [formGroup]="editarForm">
                  <div class="mb-1">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                  </div>
                  <div class="mb-2">
                    <label for="representante" class="form-label">Representante</label>
                    <select class="form-select" name="representante" id="" formControlName="representante">
                      <option *ngFor="let representante of representantes"
                        [selected]="representante._id === editarForm.value.representante"
                        value="{{ representante._id}}">{{ representante.nombre}} {{ representante.apellidos}}</option>
                    </select>
                    <div class="form-text">We'll never share your email with anyone else.</div>
                  </div>

                  <!-- <div class="mb-2">
                        <label for="category" class="form-label">Categoria</label>
                        <select class="form-control" name="category" id="" formControlName="category">
                            <option *ngFor="let category of categories.serverResponse" [selected]="category.category === editarForm.value.category" value="{{ category.category }}">{{ category.category}}</option>
                        </select>
                    </div> -->

                  <div class="mb-1">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" formControlName="telefono">
                  </div>
                  <div class="mb-1">
                    <label for="nit" class="form-label">NIT</label>
                    <input type="text" class="form-control" id="nit" formControlName="nit">
                  </div>
                  <div class="mb-1">
                    <label for="cuenta" class="form-label">Cuenta</label>
                    <input type="text" class="form-control" id="cuenta" formControlName="cuenta">
                  </div>
                  <div class="mt-3 d-flex justify-content-around">
                    <button (click)="cancel()" type="reset" class="btn btn-danger">Cancelar</button>
                    <button [disabled]="editarForm.invalid" type="submit" class="btn btn-primary">Registrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>