<div class="body text-center">
  <main class="px-3">
    <img class="mb-4" src="../../../../../assets/img/logo2.png" alt="" width="120" height="57">
    <h1>Bienvenido: {{ data.username }} {{ data.surnames }}</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text,
      and add your own fullscreen background photo to make it your own.</p>

    <div class="contenedor">
      <div class="contenedor-cards">
        <div class="contenedor-card-item">
          <div class="contenedor-card-item-wrapper">
            <a routerLink="/blog">
              <img src="https://images.unsplash.com/photo-1448932223592-d1fc686e76ea" alt="">
              <div class="contenedor-info">
                <div class="info">
                  <p class="titulo">Sistema Blog</p>
                </div>
                <div class="fondo"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="contenedor-card-item">
          <div class="contenedor-card-item-wrapper">
            <a routerLink="/auth">
              <img src="https://images.unsplash.com/photo-1473186505569-9c61870c11f9" alt="">
              <div class="contenedor-info">
                <div class="info">
                  <p class="titulo">Usuarios</p>
                </div>
                <div class="fondo"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="contenedor-card-item">
          <div class="contenedor-card-item-wrapper">
            <img src="https://images.unsplash.com/photo-1456324504439-367cee3b3c32" alt="">
            <div class="contenedor-info">
              <div class="info">
                <p class="titulo">Titulo</p>
                <span class="categoria">Categoría</span>
              </div>
              <div class="fondo"></div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </main>
  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
        href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
